# Dizionari e insiemi

## Definizione di dizionario

**Dizionario**: collezione di valori anche di tipo diverso indicizzati tramite chiave

- classe: `dict`
- oggetto ___mutabile___


**NOTA BENE**: le liste (in quanto oggetti ___mutabili___) non possono essere le chiavi di un dizionario.

## Costruzione di un dizionario

1. tramite letterale `{key1: value1, key2 : value2, ..., keyN: valueN}`
1. tramite funzione `dict()`

**COSTRUZIONE TRAMITE LETTERALE**

Dizionario vuoto:

In [6]:
{}

{}

Dizionario di quattro *valori* interi indicizzati tramite una *chiave* di tipo `str`:

In [7]:
{'Silvia' : 45, 'Roberto' : 47, 'Arianna' : 18, 'Tommaso' : 13}

{'Silvia': 45, 'Roberto': 47, 'Arianna': 18, 'Tommaso': 13}

Dizionario di due *valori* (un oggetto di tipo `list` e uno di tipo `dict`) indicizzati tramite *chiave* di tipo `str`:

In [10]:
{'pari' : [1,2,3,4], 'dispari' : {'cinque' : 5, 'nove' : 9}}

{'pari': [1, 2, 3, 4], 'dispari': {'cinque': 5, 'nove': 9}}

**COSTRUZIONE CON LA FUNZIONE `dict()`**

Dizionario vuoto:

In [11]:
dict()

{}

Dizionario (vedi sopra) di quattro *valori* interi indicizzati tramite una *chiave* di tipo `str`:

In [14]:
lista_tuple = [('Silvia', 45), ('Roberto', 47), ('Arianna', 18), ('Tommaso', 13)]
age_dict = dict(lista_tuple)

## Dimensione di un dizionario

La funzione `len()` restituisce il numero di coppie chiave-valore del dizionario passato come argomento.

In [15]:
len(age_dict)

4

## Accesso ai *valori* di un dizionario

L'istruzione:

    dictionary[key]
    
restituisce il *valore* del dizionario `dictionary` che ha *chiave* `key`.

In [16]:
age_dict['Roberto']

47

## Aggiornamento di un dizionario

L'istruzione:

    dictionary[key] = new_value
    
aggiorna il *valore* del dizionario `dictionary` che corrisponde alla *chiave* `key` con il nuovo valore `new_value`.

Esempio di aggiornamento di un *valore* esistente:

In [17]:
age_dict['Arianna'] = 19

In [18]:
age_dict

{'Silvia': 45, 'Roberto': 47, 'Arianna': 19, 'Tommaso': 13}

Esempio di aggiunta di un *valore* nuovo:

In [19]:
age_dict['Andrea'] = 14

In [20]:
age_dict

{'Silvia': 45, 'Roberto': 47, 'Arianna': 19, 'Tommaso': 13, 'Andrea': 14}

### Aggiornamento di un dizionario con il metodo `update()`

Il metodo `update()` aggiorna il dizionario invocante con la lista di tuple chiave-valore presa come argomento:

In [21]:
lista_tuple = [('Silvia', 46), ('Sara', 17)]
age_dict.update(lista_tuple)

In [22]:
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Arianna': 19,
 'Tommaso': 13,
 'Andrea': 14,
 'Sara': 17}

Il metodo `update()` permette di aggiornare il dizionario invocante prendendo come argomento un altro dizionario:

In [23]:
age_dict.update({'Alessandro' : 3, 'Sofia' : 15})
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Arianna': 19,
 'Tommaso': 13,
 'Andrea': 14,
 'Sara': 17,
 'Alessandro': 3,
 'Sofia': 15}

### Cancellazione di una chiave con il metodo `pop()`

Il metodo `pop()` cancella dal dizionario invocante il *valore* associato alla *chiave* passata come argomento, e lo restituisce.

In [24]:
age_dict.pop('Arianna')

19

In [25]:
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Tommaso': 13,
 'Andrea': 14,
 'Sara': 17,
 'Alessandro': 3,
 'Sofia': 15}

### Cancellazione di una chiave con l'operatore `del`

L'istruzione:

    del dictionary[key]

rimuove dal dizionario `dictionary` il *valore* con *chiave* `key`.

In [26]:
del age_dict['Tommaso']
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Andrea': 14,
 'Sara': 17,
 'Alessandro': 3,
 'Sofia': 15}

### Svuotamento di un dizionario con il metodo `clear()`

Il metodo `clear()` svuota il dizionario:

In [27]:
age_dict.clear()

In [28]:
age_dict

{}

## Scansione delle chiavi di un dizionario

### Operatore `in`

L'espressione:

    key in dictionary
    
restituisce il valore `True` se la *chiave* `key` è presente nel dizionario `dictionary`.

In [29]:
'Tommaso' in age_dict

False

### Scansione delle chiavi con operatore `in`

**Sintassi di scansione delle chiavi di un dizionario**:

    for key in dictionary:
        do_something
        
dove:
- `dictionary` è il dizionario le cui *chiavi* sono da considerare una dopo l'altra
- `key` è la variabile che durante la scansione assume il valore della *chiave* di volta in volta considerata
- `do_something` sono le istruzioni da eseguire per ogni *chiave* considerata

In [31]:
age_dict = {'Silvia' : 45, 'Roberto' : 47, 'Arianna' : 18, 'Tommaso' : 13}
for key in age_dict:
    print(age_dict[key])

45
47
18
13

## Tre metodi utili dei dizionari

- il metodo `values()` restituisce la lista dei *valori* del dizionario invocante (oggetto di tipo `dict_values`).

In [35]:
values = list(age_dict.values())

In [36]:
for v in values:
    print(v)

45
47
18
13

- il metodo `keys()` restituisce la lista delle *chiavi* del dizionario invocante (oggetto di tipo `dict_keys`).

In [37]:
keys = list(age_dict.keys())
for k in keys:
    print(k)

Silvia
Roberto
Arianna
Tommaso

- il metodo `items()` restituisce la lista delle tuple chiave-valore del dizionario invocante (oggetto di tipo `dict_items`).

In [40]:
items = age_dict.items()
for item in items:
    print(item)

('Silvia', 45)
('Roberto', 47)
('Arianna', 18)
('Tommaso', 13)

## Un dizionario particolare: il contatore

Un contatore è un oggetto della classe `Counter` (del modulo `collections`) e viene costruito con il costruttore `Counter()`, a cui viene passato come argomento una *sequenza*.

    Counter(sequenza)

restituisce fondamentalmente un dizionario in cui le *chiavi* sono gli elementi distinti della *sequenza* e i *valori* esprimono il numero delle loro occorrenze nella *sequenza*.

In [41]:
from collections import Counter

Contatore per una stringa:

In [42]:
Counter('abbcdaddbbb')

Counter({'a': 2, 'b': 5, 'c': 1, 'd': 3})

Contatore per una lista:

In [43]:
Counter([100,100,500,200,200,500,600])

Counter({100: 2, 500: 2, 200: 2, 600: 1})

**NOTA BENE**: non si può costruire un contatore su una lista di liste o una tupla di liste in quanto le liste sono oggetti ***mutabili*** e non possono quindi essere le *chiavi* di un dizionario.

In [44]:
Counter([[1,2], [1,2], [3,4]])

TypeError: unhashable type: 'list'

Se invece le liste interne vengono trasformate in tuple:

In [45]:
Counter([(1,2), (1,2), (3,4)])

Counter({(1, 2): 2, (3, 4): 1})

## Il metodo `most_common()`

Il metodo `most_common()` restituisce una lista di tuple di dimensione due, contenenti le coppie *(chiave,  valore)* ordinate per conteggio decrescente.

In [46]:
c1 = Counter('abbcddaddbbbeeeeffffgh')

In [47]:
c1

Counter({'a': 2, 'b': 5, 'c': 1, 'd': 4, 'e': 4, 'f': 4, 'g': 1, 'h': 1})

In [49]:
c1.most_common()[::-1]

[('h', 1),
 ('g', 1),
 ('c', 1),
 ('a', 2),
 ('f', 4),
 ('e', 4),
 ('d', 4),
 ('b', 5)]

---

## Definizione di insieme

**Insieme**: collezione di valori distinti

- Classe: `set`
- oggetto ***mutabile***

## Costruzione di un insieme tramite la funzione `set()`

Insieme vuoto:

In [50]:
set()

set()

Insieme delle chiavi di un dizionario:

In [51]:
set(age_dict)

{'Arianna', 'Roberto', 'Silvia', 'Tommaso'}

Insieme dei caratteri di una stringa:

In [52]:
set('aabccdadddda')

{'a', 'b', 'c', 'd'}

Insieme dei valori di una lista:

In [55]:
set([1,1,1,2,2,2,4,4,4,3,3,3])

{1, 2, 3, 4}

Insieme di valori distinti anche di tipo diverso:

In [56]:
set([True, True, 1,2,1,2, 'a', 'a', 'b'])

{2, True, 'a', 'b'}

## Dimensione di un insieme

La funzione `len()` restituisce la dimensione dell'insieme passato come argomento.

In [57]:
len(set('aaaaabbbbccccdddd'))

4

## Scansione di un insieme

### Operatore `in`

L'espressione:

    value in my_set
    
restituisce il valore `True` se il valore `value` è presente nell'insieme `my_set`.

In [77]:
'e' in set('aaaaabbbbccccdddd')

False

### Scansione dei valori con l'operatore `in`

**Sintassi di scansione di un insieme**:

    for value in my_set:
        do_something
        
dove:
- `my_set` è l'insieme i cui valori sono da considerare una dopo l'altro
- `value` è la variabile che durante la scansione assume il valore di volta in volta considerato
- `do_something` sono le istruzioni da eseguire per ogni valore considerato

In [58]:
for c in set('aaaaabbbbccccdddd'):
    print(c)

c
b
d
a

## Operatori di confronto tra insiemi

Le espressioni:

    my_set1 == my_set2
    my_set1 < my_set2
    my_set1 > my_set2
   
restituiscono `True` se (rispettivamente):
- l'insieme `my_set1` coincide con `my_set2`
- l'insieme `my_set1` è un sottoinsieme di `my_set2`
- l'insieme `my_set1` è un superinsieme di `my_set2`

In [60]:
set('aabbbcabaa') < set('abcd')

True

## Metodi per le operazioni su insiemi

- il metodo `add()` aggiunge all'insieme invocante il valore passato come argomento

In [62]:
my_set = set('abbcccaaa')
my_set

{'a', 'b', 'c'}

In [63]:
my_set.add('d')
my_set

{'a', 'b', 'c', 'd'}

- il metodo `discard()` rimuove dall'insieme invocante il valore passato come argomento

In [66]:
my_set.discard('a')

In [65]:
my_set

{'b', 'c', 'd'}

**NOTA BENE**: esiste anche il metodo `remove()` che rimuove il valore e se questo non è presente lancia un'eccezione di tipo `KeyError`.

In [67]:
my_set.remove('a')

KeyError: 'a'

- il metodo `union()` restituisce l'unione tra l'insieme invocante e l'insieme passato come argomento

In [68]:
my_set1 = set('abcd')
my_set2 = set('cdef')

In [69]:
my_set1

{'a', 'b', 'c', 'd'}

In [70]:
my_set2

{'c', 'd', 'e', 'f'}

In [71]:
my_set1.union(my_set2)

{'a', 'b', 'c', 'd', 'e', 'f'}

- il metodo `intersection()` restituisce l'intersezione tra l'insieme invocante e l'insieme passato come argomento

In [72]:
my_set1.intersection(my_set2)

{'c', 'd'}

- il metodo `difference()` restituisce la differenza tra l'insieme invocante e l'insieme passato come argomento (restituisce cioé l'insieme di tutti i valori dell'insieme invocante che non stanno nell'insieme passato come argomento)

In [73]:
my_set1.difference(my_set2)

{'a', 'b'}

In [74]:
my_set2.difference(my_set1)

{'e', 'f'}

- il metodo `clear()` svuota l'insieme invocante

In [75]:
my_set1.clear()

In [76]:
my_set1

set()