# Python - Sequenze (Stringhe, Liste e Tuple)

**Sequenza**: collezione di oggetti su cui è possibile iterare e che sono indicizzati per posizione.

**Stringa**: sequenza di caratteri
- Classe: `str`
- oggetto ___immutabile___

**Lista**: sequenza di valori anche di tipo diverso
- Classe: `list`
- oggetto ***mutabile***

**Tupla**: sequenza di valori anche di tipo diverso
- Classe: `tuple`
- oggetto ***immutabile***

## Costruzione di una stringa
1. tramite letterale (sequenza di caratteri racchiusi tra singoli apici `'` o doppi apici `"`)
1. tramite funzione `str()`

**COSTRUZIONE TRAMITE LETTERALE**

In [5]:
stringa = "ciao"
print(stringa)

ciao

In [6]:
stringa = 'ciao'
print(stringa)

ciao

I doppi apici permettono di includere nella stringa i singoli apici (e viceversa).

In [7]:
stringa = "'ciao'"
print(stringa)

'ciao'

In [8]:
stringa = '"ciao"'
print(stringa)

"ciao"

**COSTRUZIONE CON LA FUNZIONE `str()`**

Costruzione con espressione aritmetica:

In [ ]:
str(3+4)

Costruzione con espressione di confronto:

In [ ]:
str(34 > 0)

## Costruzione di una lista

- tramite letterale `[value1, value2, ..., valueN]`
- tramite funzione `list()`

**COSTRUZIONE TRAMITE LETTERALE**

Lista vuota:

In [9]:
[]

[]

Lista di un solo valore:

In [10]:
[4]

[4]

Lista di tre valori dello stesso tipo:

In [11]:
[1,2,3]

[1, 2, 3]

Lista di tre valori di tipo diverso:

In [12]:
[10, 7.8, "ab"]

[10, 7.8, 'ab']

Lista di tre valori di tipo diverso di cui il terzo di tipo `list` (lista annidata):

In [13]:
[10, 7.8, [True, "ab"]]

[10, 7.8, [True, 'ab']]

**COSTRUZIONE CON LA FUNZIONE `list()`**

Lista vuota:

In [14]:
list()

[]

Costruzione con una stringa:

In [15]:
list("abcde")

['a', 'b', 'c', 'd', 'e']

Costruzione con una lista:

In [16]:
list([1,2,3,4])

[1, 2, 3, 4]

## Costruzione di una tupla
- tramite letterale `(value1, value2, ..., valueN)`

- tramite la funzione `tuple()`

**COSTRUZIONE TRAMITE LETTERALE**

Tupla vuota:

In [17]:
()

()

Tupla di un solo valore:

In [18]:
(4,)

(4,)

Tupla di tre valori dello stesso tipo:

In [19]:
(1,2,3)

(1, 2, 3)

Tupla di quattro valori di tipo diverso di cui il terzo di tipo `list` (lista annidata) e il quarto di tipo `tuple` (tupla annidata):

In [20]:
(10, 7.8, [1,2], (3,4))

(10, 7.8, [1, 2], (3, 4))

**NOTA BENE**: le parentesi tonde nel letterale di una tupla sono opzionali (non possono però essere omesse nel caso di letterale di una tupla vuota).

In [21]:
10, 7.8, [1,2], (3,4)

(10, 7.8, [1, 2], (3, 4))

**COSTRUZIONE CON LA FUNZIONE `tuple()`**

Tupla vuota:

In [22]:
tuple()

()

Costruzione con una stringa:

In [23]:
tuple("abcde")

('a', 'b', 'c', 'd', 'e')

Costruzione con una lista:

In [24]:
tuple([1,2,3])

(1, 2, 3)

## Dimensione di una *sequenza*

 `len(my_sequence)` restituisce la dimensione della *sequenza* passata come argomento.

In [25]:
len("abcde")

5

Dimensione di una lista (numero di elementi):

In [26]:
len([1,2,3,4])

4

Dimensione di una tupla (numero di elementi):

In [27]:
len((1,2,3,4,5))

5

## Accesso agli elementi di una *sequenza*

Le posizioni degli elementi all'interno di una *sequenza* sono indicizzate tramite:

Indici **positivi**:

- `0`: posizione del primo elemento
- `1`: posizione del secondo elemento
- ...
- `len(sequence)-1`: posizione dell'ultimo elemento
    
Indici **negativi**:

- `-1`: posizione dell'ultimo elemento
- `2`: posizione del penultimo elemento
- ...
- `-len(sequence)`: posizione del primo elemento

### Accesso al singolo elemento

L'espressione:

    sequence[index]
    
restituisce l'elemento della *sequenza* `sequence` in posizione `index`.

**Accesso a un carattere di una stringa**

Accesso al quinto carattere tramite indice positivo:

In [28]:
stringa = 'Hello world!'
stringa[4]

'o'

**NOTA BENE**: `stringa[4]` restituisce un oggetto di tipo `str`.

Accesso al quinto carattere tramite indice negativo:

In [29]:
stringa = 'Hello world!'
stringa[-8]

'o'

Accesso all'ultimo carattere:

In [30]:
stringa = 'Hello world!'
stringa[len(stringa)-1]
stringa[-1]

'!'

**Accesso a un elemento di una lista**

Accesso al primo elemento della lista annidata:

In [32]:
lista = [1, 2, 3, [4, 5]]
lista[3][0]

4

**Accesso a un elemento di una tupla**

Accesso al terzo elemento tramite indice positivo:

In [33]:
tupla = (1, 2, 3, 4)
tupla[2]

3

Accesso all'ultimo elemento tramite indice negativo:

In [34]:
tupla = (1, 2, 3, 4)
tupla[-1]

4

### Operazione di *slicing*

L'epressione:

    sequence[start_index:end_index]
    
restituisce gli elementi della *sequenza* `sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1`.

**Accesso a una sottostringa**

Accesso alla sottostringa dal terzo al settimo carattere tramite indici positivi:

In [39]:
stringa = 'Hello world!'
stringa[2:7]

'llo w'

Accesso al prefisso dei primi tre caratteri tramite indici positivi:

In [40]:
stringa = 'Hello world!'
stringa[0:3]
stringa[:3]

'Hel'

Accesso al suffisso che parte dal nono carattere tramite indici positivi:

In [41]:
stringa = 'Hello world!'
stringa[8:len(stringa)]
stringa[8:]

'rld!'

Ottenere una copia della stringa:

In [42]:
stringa[0:len(stringa)]
stringa[:]

'Hello world!'

**Accesso a una sottolista/sottotupla**

Accesso alla sottolista dal terzo al quarto elemento:

In [43]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:4]

[3, 4]

Accesso al suffisso di lista che parte dal terzo elemento:

In [44]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:]

[3, 4, 5, 6]

Accesso al suffisso di lista di lunghezza 3:

In [45]:
lista = [1, 2, 3, 4, 5, 6]
lista[-3:]

[4, 5, 6]

Ottenere una copia della lista:

In [46]:
lista = [1, 2, 3, 4, 5, 6]
lista[0:len(lista)]
lista[:]

[1, 2, 3, 4, 5, 6]

Accesso al prefisso di tupla dei primi quattro elementi tramite indici positivi:

In [47]:
tupla = (1, 2, 3, 4, 5, 6)
tupla[:4]

(1, 2, 3, 4)

### Operazione di *slicing* con passo

L'epressione:

    my_sequence[start_index:end_index:step]
    
equivale a:
- estrarre gli elementi consecutivi a partire da quello in posizione `start_index` a quello in posizione `start_index-1`
- a partire poi dal primo elemento, saltare ogni volta `step-1` elementi

---

**Accesso a caratteri non consecutivi di una stringa**

Accesso ai caratteri a partire dal secondo, saltando ogni volta due caratteri e terminando non oltre il settimo:

In [48]:
stringa = 'xAxxBxxCxx'
stringa[1:8:3]

'ABC'

Lo *slicing* con passo può essere utilizzato per invertire una sequenza:

In [49]:
stringa = 'Hello world!'
stringa[::-1]

'!dlrow olleH'

In [50]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## Concatenazione di *sequenze*

L'espressione:

    sequence1 + sequence2 + ... + sequenceN
   
restituisce la concatenazione di N sequenze dello stesso tipo.

In [51]:
"ciao " + "mondo"

'ciao mondo'

In [52]:
[1,2] + [3,4,5]

[1, 2, 3, 4, 5]

In [53]:
(1,2) + (3,4,5)

(1, 2, 3, 4, 5)

## Ripetizione di una *sequenza*

L'espressione:

    sequence * times
   
restituisce la ripetizione di `sequence` per `times` volte.

In [54]:
'ciao ' * 4

'ciao ciao ciao ciao '

In [55]:
[1,2] * 4

[1, 2, 1, 2, 1, 2, 1, 2]

In [56]:
(1,2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

## Iterazione degli elementi una *sequenza*

### Operatore `in`

L'espressione:

    value in sequence
    
restituisce `True` se `value` è presente in `sequence`, altrimenti restituisce `False`

---

Controllo della presenza del carattere `h` nella stringa `Hello!`:

In [57]:
stringa = 'Hello!'
'h' in stringa

False

Controllo della presenza della sottostringa `llo` nella stringa `Hello!`:

In [58]:
stringa = 'Hello!'
'llo' in stringa

True

Controllo della presenza della stringa `ca` nella lista `[1, 2, 'acaa', 10.5]`:

In [59]:
lista = [1, 2, 'acaa', 10.5]
'ca' in lista

False

Controllo della presenza della lista `[1,2]` nella lista `[1, 2, 'acaa', 10.5]`:

In [60]:
lista = [1, 2, 'acaa', 10.5]
[1,2] in lista

False

### Iterazione con l'operatore `in`

**Sintassi di iterazione di una *sequenza***:

    for value in sequence:
        do_something
        
---

Scansione e stampa dei caratteri di una stringa:

In [61]:
stringa = 'world'
for c in stringa:
    print(c)

w
o
r
l
d

Scansione e stampa dei valori (elementi) di una lista:

In [62]:
lista = [3, 45.6, 'ciao']
for value in lista:
    print(value)

3
45.6
ciao

Scansione e stampa a video degli elementi della tupla:

In [63]:
tupla = 3, 45.6, 'ciao'
for value in tupla:
    print(value)

3
45.6
ciao

## Aggiornamento di un singolo elemento di una lista

L'istruzione di assegnamento:

    my_list[index] = new_value
    
sostituisce l'elemento della lista `my_list` in posizione `index` con il nuovo valore `new_value`.

---

Sostituire il quarto elemento con il valore 0:

In [64]:
lista = [1, 1, 1, 1, 1, 1, 1]
lista[3] = -100
lista

[1, 1, 1, -100, 1, 1, 1]

Che differenza c'è tra le seguenti istruzioni di assegnamento?

In [65]:
lista = [1, 1, 1, 1, 1, 1, 1]

lista2 = lista
lista3 = lista[:]

In [66]:
lista[-1] = 100
lista

[1, 1, 1, 1, 1, 1, 100]

In [67]:
lista2

[1, 1, 1, 1, 1, 1, 100]

In [68]:
lista3

[1, 1, 1, 1, 1, 1, 1]

## Aggiornamento di più elementi di una lista

Le due istruzioni di assegnamento:

    my_list[start_index:end_index] = new_list
    my_list[start_index:end_index:step] = new_list
    
sostituiscono la sottolista di `my_list`, ottenuta tramite *slicing*, con la lista `new_list` .

Sostituire i tre elementi consecutivi dal quarto al sesto:

In [70]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[3:6] = '*' * 3
lista

[1, 2, 3, '*', '*', '*', 7, 8, 9, 10, 11, 12]

Cancellare i tre elementi consecutivi dal quarto al sesto:

In [71]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[3:6] = []
lista

[1, 2, 3, 7, 8, 9, 10, 11, 12]

Inserire tre asterischi dopo il primo elemento:

In [72]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[1:1] = '*' * 3
lista

[1, '*', '*', '*', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Aggiungere in coda tre asterischi:

In [74]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[len(lista):] = '*' * 3
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '*', '*', '*']

Aggiungere in testa tre asterischi:

In [75]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[:0] = '*' * 3
lista

['*', '*', '*', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Aggiornare gli elementi in posizione di indice pari con il valore 0:

In [76]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[::2] = [0] * len(lista[::2])
lista

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 12]

## Cancellazione di un elemento con l'operatore `del`

L'istruzione:

    del my_list[index]

 rimuove dalla lista `my_list` l'elemento in posizione di indice `index`.
 
 ---
 
 Cancellare il terzo elemento:

In [77]:
lista = [1, 2, 3, 4]
del lista[2]
lista

[1, 2, 4]

## Cancellazione di più elementi di una lista con l'operatore `del`

Le istruzioni:

    del my_list[start_index:end_index]
    del my_list[start_index:end_index:step]

rimuovono dalla lista `my_list` gli elementi prodotti dall'operazione di *slicing*.

---

Cancellare gli elementi dal terzo al quinto:

In [78]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]
del lista[2:5]
lista

[1, 2, 6, 7, 8]

Cancellare gli elementi in posizione di indice dispari:

In [79]:
lista = [0, 1, 2, 3, 4, 5, 6, 7]
del lista[1::2]
lista

[0, 2, 4, 6]

##  Assegnamento multiplo

L'istruzione di assegnamento:

    (my_var1, my_var2, ..., my_varN) = sequence
    
assegna alle N variabili specificate nella tupla a sinistra i valori della *sequenza* `sequence` specificata a destra.

Le parentesi sono opzionali:

    my_var1, my_var2, ..., my_varN = sequence

**NOTA BENE**: `sequence` deve avere dimensione pari a N.

---

Assegnare le cifre della stringa "1234" a quattro variabili diverse:

In [80]:
v1, v2, v3, v4 = "1234"
v4

'4'

Assegnare i quattro elementi della lista `[1,2,3,4]` a quattro variabili diverse:

In [81]:
v1, v2, v3, v4 = [1,2,3,4]
v4

4

Scambiare il valore tra due delle variabili precedenti:

In [82]:
v1,v2 = v2,v1

In [83]:
v1

2

In [84]:
v2

1

Scandire una lista di tuple di due elementi stampando ogni volta i due elementi separatamente:

In [85]:
lista = [(1, 2), (3, 4), (5, 6)]
for (a,b) in lista:
    print("Primo valore: " + str(a), "Secondo valore: " + str(b), sep = '; ')

Primo valore: 1; Secondo valore: 2
Primo valore: 3; Secondo valore: 4
Primo valore: 5; Secondo valore: 6

## List comprehension

L'istruzione:

    [expression for value in sequence if condition]
    
equivale a scrivere:

    for value in sequence:
        if condition:
            expression
            
con la differenza che i valori restituiti da `expression` vengono restituiti tutti in un oggetto di tipo `list`.

**NB**: la clausola if è opzionale.

Ho una lista e ne voglio creare un'altra contenente unicamente i valori pari.

In [86]:
lista1 = [10, 21, 35, 4, 56, 67, 71, 80]
lista2 = []
for v in lista1:
    if v % 2 == 0:
        lista2.append(v)
        
lista2

[10, 4, 56, 80]

Tradotto in list comprehension...

In [88]:
[v for v in lista1 if v % 2 == 0]

[10, 4, 56, 80]

Scrivere la list comprehension che produce la lista dei singoli caratteri concatenati alla cifra '1'.

In [89]:
stringa = 'ciao'
[c+"1" for c in stringa]

['c1', 'i1', 'a1', 'o1']

La list comprehension nella sua sintassi più generale:

    [expression for v1 in seq1 for v2 in seq2 ... for vN in seqN if condition]
    
equivale a scrivere:

    for v1 in seq1:
        for v2 in seq2:
            ...
                for vN in seqN:
                    if condition:
                        expression

Scrivere la list comprehension che produce la lista delle stringhe ottenute combinando tra di loro in tutti i modi possibili i caratteri della stringa, gli elementi della lista e gli elementi della tupla:

In [90]:
stringa = 'ciao'
lista = [1, 2, 3, 4]
tupla = ('a', 'b', 'c')
[c1+str(n)+c2 for c1 in stringa for n in lista for c2 in tupla]

['c1a',
 'c1b',
 'c1c',
 'c2a',
 'c2b',
 'c2c',
 'c3a',
 'c3b',
 'c3c',
 'c4a',
 'c4b',
 'c4c',
 'i1a',
 'i1b',
 'i1c',
 'i2a',
 'i2b',
 'i2c',
 'i3a',
 'i3b',
 'i3c',
 'i4a',
 'i4b',
 'i4c',
 'a1a',
 'a1b',
 'a1c',
 'a2a',
 'a2b',
 'a2c',
 'a3a',
 'a3b',
 'a3c',
 'a4a',
 'a4b',
 'a4c',
 'o1a',
 'o1b',
 'o1c',
 'o2a',
 'o2b',
 'o2c',
 'o3a',
 'o3b',
 'o3c',
 'o4a',
 'o4b',
 'o4c']

## La funzione `enumerate()`

La funzione `enumerate()`:

    enumerate(sequence, start = offset)
    
restituisce gli elementi della sequenza `sequence` in tuple di dimensione due, dove il primo elemento è un indice progressivo e il secondo elemento è l'elemento della sequenza. La keyword `start` permette di specificare l'offest iniziale degli indici associati agli elementi restituiti.

L'oggetto restituito istanzia la classe `enumerate`.

In [101]:
enum = enumerate('ciao', start = 2)
enum

Iteriamo sui suoi elementi:

In [102]:
for x in enum:
    print(x)

(2, 'c')
(3, 'i')
(4, 'a')
(5, 'o')

Effettuiamo di nuovo l'iterazione dei suoi elementi.

In [104]:
for x in enum:
    print(x)

L'oggetto è stato svuotato.

---

Ricostruiamo l'oggetto con `start = 1`.

In [117]:
enum = enumerate('ciao', start = 1)

Trasformare l'oggetto in una lista.

In [118]:
list(enum)

[(1, 'c'), (2, 'i'), (3, 'a'), (4, 'o')]