# Python - Sequenze (Stringhe, Liste e Tuple)

**Sequenza**: collezione di oggetti su cui è possibile iterare e che sono indicizzati per posizione.

**Stringa**: sequenza di caratteri
- Classe: `str`
- oggetto ___immutabile___

**Lista**: sequenza di valori anche di tipo diverso
- Classe: `list`
- oggetto ***mutabile***

**Tupla**: sequenza di valori anche di tipo diverso
- Classe: `tuple`
- oggetto ***immutabile***

## Costruzione di una stringa

**COSTRUZIONE TRAMITE LETTERALE**

**COSTRUZIONE CON LA FUNZIONE `str()`**

## Costruzione di una lista

**COSTRUZIONE TRAMITE LETTERALE**

**COSTRUZIONE CON LA FUNZIONE `list()`**

### Costruzione di una tupla

**COSTRUZIONE TRAMITE LETTERALE**

**COSTRUZIONE CON LA FUNZIONE `tuple()`**

## Dimensione di una *sequenza*

## Accesso al singolo elemento


    sequence[index]
    
restituisce l'elemento della *sequenza* `sequence` in posizione `index`.

**Accesso a un carattere di una stringa**

In [1]:
stringa = 'Hello world!'

**Accesso a un elemento di una lista**

Accesso al quarto elemento tramite indice positivo e poi al primo elemento della lista annidata:

In [2]:
lista = [1, 2, 3, [4, 5]]

**Accesso a un elemento di una tupla**

In [ ]:
tupla = (1, 2, 3, 4)

## Operazione di *Slicing*


    sequence[start_index:end_index]
    
restituisce gli elementi della *sequenza* `sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1`.

**Accesso a sottostringa**

Accesso alla sottostringa dal terzo al settimo carattere tramite indici positivi:

In [ ]:
stringa = 'Hello world!'

Accesso al prefisso dei primi tre caratteri tramite indici positivi:

In [ ]:
stringa = 'Hello world!'

Accesso al suffisso che parte dal nono carattere tramite indici positivi:

In [ ]:
stringa = 'Hello world!'

Ottenere una copia della stringa:

**Accesso a una sottolista/sottotupla**

Accesso alla sottolista dal terzo al quarto elemento:

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

Accesso al suffisso di lista che parte dal terzo elemento:

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

Accesso al suffisso di lista di lunghezza 3:

In [3]:
lista = [1, 2, 3, 4, 5, 6]

Ottenere una copia della lista:

In [4]:
lista = [1, 2, 3, 4, 5, 6]

Accesso al prefisso di tupla dei primi quattro elementi tramite indici positivi:

In [5]:
tupla = (1, 2, 3, 4, 5, 6)

## Operazione di *Slicing* con passo


    my_sequence[start_index:end_index:step]
    
---

**Accesso a caratteri non consecutivi di una stringa**

Accesso ai caratteri a partire dal secondo, saltando ogni volta due caratteri e terminando non oltre il settimo:

In [6]:
stringa = 'xAxxBxxCxx'

'ABC'

Lo *slicing* con passo può essere utilizzato per invertire una sequenza:

In [ ]:
stringa = 'Hello world!'

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

## Concatenazione di *sequenze*


    sequence1 + sequence2 + ... + sequenceN
   
restituisce la concatenazione di N sequenze dello stesso tipo.

## Ripetizione di una *sequenza*


    sequence * times
   
restituisce la ripetizione di `sequence` per `times` volte.

## Iterazione degli elementi una *sequenza*

### Operatore `in`


    value in sequence
    
restituisce `True` se `value` è presente in `sequence`, altrimenti restituisce `False`

---

Controllo della presenza del carattere `h` nella stringa `Hello!`:

In [ ]:
stringa = 'Hello!'

Controllo della presenza della sottostringa `llo` nella stringa `Hello!`:

In [ ]:
stringa = 'Hello!'

Controllo della presenza della stringa `ca` nella lista `[1, 2, 'acaa', 10.5]`:

In [ ]:
lista = [1, 2, 'acaa', 10.5]

Controllo della presenza della lista `[1,2]` nella lista `[1, 2, 'acaa', 10.5]`:

In [ ]:
lista = [1, 2, 'acaa', 10.5]

### Iterazione con operatore `in`


    for value in sequence:
        do_something

---

Scansione e stampa dei caratteri di una stringa:

In [7]:
stringa = 'world'

w
o
r
l
d

Scansione e stampa dei valori (elementi) di una lista:

In [8]:
lista = [3, 45.6, 'ciao']

3
45.6
ciao

Scansione e stampa a video degli elementi della tupla:

In [9]:
tupla = 3, 45.6, 'ciao'

3
45.6
ciao

## Aggiornamento di un singolo elemento di una lista


    my_list[index] = new_value
    
sostituisce l'elemento della lista `my_list` in posizione `index` con il nuovo valore `new_value`.

---

Sostituire il quarto elemento con il valore 0:

In [ ]:
lista = [1, 1, 1, 1, 1, 1, 1]

Che differenza c'è tra le seguenti istruzioni di assegnamento?

In [ ]:
lista = [1, 1, 1, 1, 1, 1, 1]

lista2 = lista
lista3 = lista[:]

### Aggiornamento di più elementi di una lista


    my_list[start_index:end_index] = new_list
    my_list[start_index:end_index:step] = new_list

Sostituire i tre elementi consecutivi dal quarto al sesto con tre asterischi:

In [2]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[1, 2, 3, '*', '*', '*', 7, 8, 9, 10, 11, 12]

Cancellare i tre elementi consecutivi dal quarto al sesto:

In [10]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[1, 2, 3, 7, 8, 9, 10, 11, 12]

Inserire tre asterischi dopo il primo elemento:

In [11]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[1, '*', '*', '*', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Aggiungere in coda tre asterischi:

In [12]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '*', '*', '*']

Aggiungere in testa tre asterischi:

In [13]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

['*', '*', '*', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Aggiornare gli elementi in posizione di indice pari con il valore 0:

In [14]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 12]

## Cancellazione di un elemento con l'operatore `del`


    del my_list[index]

 rimuove dalla lista `my_list` l'elemento in posizione di indice `index`.
 
 ---
 
 Cancellare il terzo elemento:

In [15]:
lista = [1, 2, 3, 4]

[1, 2, 4]

## Cancellazione di più elementi di una lista con l'operatore `del`


    del my_list[start_index:end_index]
    del my_list[start_index:end_index:step]

---

Cancellare gli elementi dal terzo al quinto:

In [16]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 6, 7, 8]

Cancellare gli elementi in posizione di indice dispari:

In [17]:
lista = [0, 1, 2, 3, 4, 5, 6, 7]

[0, 2, 4, 6]

##  Assegnamento multiplo


    (my_var1, my_var2, ..., my_varN) = sequence
    
assegna alle N variabili specificate nella tupla a sinistra i valori della *sequenza* `sequence` specificata a destra.

---

Assegnare le cifre della stringa "1234" a quattro variabili diverse:

Assegnare i quattro elementi della lista `[1,2,3,4]` a quattro variabili diverse:

Scambiare il valore tra due delle variabili precedenti:

Iterare una lista di tuple di due elementi stampando gli elementi separatamente:

In [23]:
lista = [(1, 2), (3, 4), (5, 6)]

Primo valore: 1; Secondo valore: 2
Primo valore: 3; Secondo valore: 4
Primo valore: 5; Secondo valore: 6

## List comprehension

Ho una lista e ne voglio creare un'altra contenente unicamente i valori pari.

In [26]:
lista1 = [10, 21, 35, 4, 56, 67, 71, 80]

[10, 4, 56, 80]

Traduciamo in list comprehension...

Scrivere la list comprehension che produce la lista dei singoli caratteri concatenati alla cifra '1'.

In [28]:
stringa = 'ciao'

['c1', 'i1', 'a1', 'o1']

Scrivere la list comprehension che produce la lista delle stringhe ottenute combinando tra di loro in tutti i modi possibili i caratteri della stringa, gli elementi della lista e gli elementi della tupla:

In [29]:
stringa = 'ciao'
lista = [1, 2, 3, 4]
tupla = ('a', 'b', 'c')

['c1a',
 'c1b',
 'c1c',
 'c2a',
 'c2b',
 'c2c',
 'c3a',
 'c3b',
 'c3c',
 'c4a',
 'c4b',
 'c4c',
 'i1a',
 'i1b',
 'i1c',
 'i2a',
 'i2b',
 'i2c',
 'i3a',
 'i3b',
 'i3c',
 'i4a',
 'i4b',
 'i4c',
 'a1a',
 'a1b',
 'a1c',
 'a2a',
 'a2b',
 'a2c',
 'a3a',
 'a3b',
 'a3c',
 'a4a',
 'a4b',
 'a4c',
 'o1a',
 'o1b',
 'o1c',
 'o2a',
 'o2b',
 'o2c',
 'o3a',
 'o3b',
 'o3c',
 'o4a',
 'o4b',
 'o4c']

## La funzione `enumerate()`

La funzione `enumerate()`:

    enumerate(sequence, start)
    
restituisce gli elementi della sequenza `sequence` in tuple di dimensione due, dove il primo elemento è un indice progressivo e il secondo elemento è l'elemento della sequenza.

`start` è l'offset opzionale per gli indici progressivi.  

L'oggetto restituito è di tipo `enumerate`.