# Python - Dizionari e insiemi

## Definizione di dizionario

**Dizionario**: collezione di valori indicizzati tramite chiave

- classe: `dict`
- oggetto ___mutabile___

**COSTRUZIONE TRAMITE LETTERALE**

In [1]:
{}

{}

In [2]:
{'Silvia' : 45, 'Roberto' : 47, 'Arianna' : 18, 'Tommaso' : 13}

{'Silvia': 45, 'Roberto': 47, 'Arianna': 18, 'Tommaso': 13}

In [3]:
{'pari' : [2,4,6,8], 'dispari' : {'cinque' : 5 , 'nove' : 9}}

{'pari': [2, 4, 6, 8], 'dispari': {'cinque': 5, 'nove': 9}}

**COSTRUZIONE CON LA FUNZIONE `dict()`**

In [4]:
dict()

{}

In [7]:
lista_tuple = [('Silvia', 45), ('Roberto', 47), ('Arianna', 18), ('Tommaso', 13)]
age_dict = dict(lista_tuple)

## Dimensione di un dizionario

In [8]:
len(age_dict)

4

## Accesso ai *valori* di un dizionario


    dictionary[key]
    
restituisce il *valore* del dizionario `dictionary` che ha *chiave* `key`.

In [9]:
age_dict['Roberto']

47

I metodi `get(key, default_value)` e `setdefault(key, default_value)` restituiscono il valore corrispondente a `key` oppure restituiscono `default_value` se la chiave non esiste.

`setdefault(key, default_value)` aggiunge al dizionario la coppia `(key, default_value)`.

In [13]:
age_dict.setdefault('Alessandro', -1)

-1

In [14]:
age_dict

{'Silvia': 45, 'Roberto': 47, 'Arianna': 18, 'Tommaso': 13, 'Alessandro': -1}

Il metodo `pop(key, [default_value])` restituisce e rimuove dal dizionario invocante il *valore* associato alla *chiave* `key` passata come argomento. Se la chiave non è presente, restituisce `default_value` (se è specificato).

In [15]:
age_dict.pop('Arianna')

18

In [16]:
age_dict

{'Silvia': 45, 'Roberto': 47, 'Tommaso': 13, 'Alessandro': -1}

## Aggiornamento di valori di un dizionario


    dictionary[key] = new_value
    
aggiorna il *valore* del dizionario `dictionary`, che corrisponde alla *chiave* `key`, con il nuovo valore `new_value`.

In [17]:
age_dict['Arianna'] = 19

In [18]:
age_dict

{'Silvia': 45, 'Roberto': 47, 'Tommaso': 13, 'Alessandro': -1, 'Arianna': 19}

#### Aggiornamento di un dizionario con il metodo `update()`

In [19]:
age_dict.update([('Chiara', 17),('Silvia', 46)])

In [20]:
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Tommaso': 13,
 'Alessandro': -1,
 'Arianna': 19,
 'Chiara': 17}

In [21]:
age_dict.update({'Alessandro' : 3, 'Sofia' : 15})

In [22]:
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Tommaso': 13,
 'Alessandro': 3,
 'Arianna': 19,
 'Chiara': 17,
 'Sofia': 15}

## Cancellazione di valori di un dizionario


    del dictionary[key]

rimuove dal dizionario `dictionary` il *valore* con *chiave* `key`.

In [23]:
del age_dict['Tommaso']

In [24]:
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Alessandro': 3,
 'Arianna': 19,
 'Chiara': 17,
 'Sofia': 15}

## Cancellazione di tutti gli elementi

In [25]:
age_dict2 = dict(age_dict)
age_dict2

{'Silvia': 46,
 'Roberto': 47,
 'Alessandro': 3,
 'Arianna': 19,
 'Chiara': 17,
 'Sofia': 15}

In [26]:
age_dict2.clear()

In [27]:
age_dict2

{}

## Iterazione sui valori di un dizionario

### Operatore `in`


    key in dictionary
    
restituisce il valore `True` se la *chiave* `key` è presente nel dizionario `dictionary`.

In [28]:
'Tommaso' in age_dict

False

### Iterazione con operatore `in`


    for key in dictionary:
        do_something

In [31]:
for key in age_dict:
    print(key, age_dict[key])

Silvia 46
Roberto 47
Alessandro 3
Arianna 19
Chiara 17
Sofia 15

## Altri metodi dei dizionari

- il metodo `values()` restituisce la lista dei *valori* del dizionario invocante (oggetto di tipo `dict_values`).

In [34]:
list(age_dict.values())

[46, 47, 3, 19, 17, 15]

In [33]:
for value in age_dict.values():
    print(value)

46
47
3
19
17
15

- il metodo `keys()` restituisce la lista delle *chiavi* del dizionario invocante (oggetto di tipo `dict_keys`).

In [36]:
list(age_dict.keys())

['Silvia', 'Roberto', 'Alessandro', 'Arianna', 'Chiara', 'Sofia']

- il metodo `items()` restituisce la lista delle tuple chiave-valore del dizionario invocante (oggetto di tipo `dict_items`).

In [38]:
list(age_dict.items())

[('Silvia', 46),
 ('Roberto', 47),
 ('Alessandro', 3),
 ('Arianna', 19),
 ('Chiara', 17),
 ('Sofia', 15)]

- il metodo `popitem()` restituisce e rimuove l'ultima coppia inserita.

In [40]:
age_dict['Giulia'] = 16
age_dict

{'Silvia': 46,
 'Roberto': 47,
 'Alessandro': 3,
 'Arianna': 19,
 'Chiara': 17,
 'Sofia': 15,
 'Giulia': 16}

In [1]:
age_dict.popitem()

## Un dizionario particolare: il contatore

Un contatore è un oggetto della classe `Counter` (del modulo `collections`), costruito su una *sequenza*.

    Counter(sequenza)

che è fondamentalmente un dizionario in cui le *chiavi* sono gli elementi distinti della *sequenza* e i *valori* esprimono il numero delle loro occorrenze nella *sequenza*.

In [49]:
from collections import Counter

Creare il contatore per la stringa `abbcdaddb`:

In [50]:
Counter('abbcdaddb')

Counter({'a': 2, 'b': 3, 'c': 1, 'd': 3})

Contatore per la lista `[100,100,500,200,200,500,600,700,700]`:

In [51]:
Counter([100,100,500,200,200,500,600,700,700])

Counter({100: 2, 500: 2, 200: 2, 600: 1, 700: 2})

Contatore per la lista `[[1,2], [1,2], [2,3], [2,3], [3,4]]`:

In [53]:
Counter([(1,2), (1,2), (2,3), (2,3), (3,4)])

Counter({(1, 2): 2, (2, 3): 2, (3, 4): 1})

### Il metodo `most_common()`

Il metodo `most_common()` restituisce una lista di tuple di dimensione due, contenenti le coppie *(chiave,  valore)* ordinate per conteggio decrescente.

In [55]:
count_char = Counter('aabbbcdaddddddbaa')
count_char

Counter({'a': 5, 'b': 4, 'c': 1, 'd': 7})

In [59]:
count_char.most_common()[::-1]

[('c', 1), ('b', 4), ('a', 5), ('d', 7)]

---

## Definizione di insieme

**Insieme**: collezione di valori distinti

- Classe: `set`
- oggetto ***mutabile***

## Costruzione di un insieme tramite la funzione `set()`

In [60]:
set()

set()

Insieme dei caratteri della stringa `aabbbcdaddddddbaa`:

In [61]:
set('aabbbcdaddddddbaa')

{'a', 'b', 'c', 'd'}

Insieme dei valori della lista `[1,1,1,2,2,5,6,7,1]`:

In [62]:
set([1,1,1,2,2,5,6,7,1])

{1, 2, 5, 6, 7}

Insieme di distinti della lista `[True, True, 1, 2, 1, 2, 'a', 'b', 'a']`:

In [64]:
set([True, True, 1, 2, 1, 2, 'a', 'b', 'a', False, 0])

{2, False, True, 'a', 'b'}

In [67]:
lista_tuple = [('Silvia', 45), ('Roberto', 47), ('Arianna', 18), ('Tommaso', 13)]
age_dict = dict(lista_tuple)
age_dict

{'Silvia': 45, 'Roberto': 47, 'Arianna': 18, 'Tommaso': 13}

In [68]:
set(age_dict)

{'Arianna', 'Roberto', 'Silvia', 'Tommaso'}

## Dimensione di un insieme

In [69]:
len(set('abbgabbgafffff'))

4

## Iterazione sugli elementi di un insieme

### Operatore `in`


    value in my_set
    
restituisce il valore `True` se il valore `value` è presente nell'insieme `my_set`.

### Iterazione sui valori con l'operatore `in`

**Sintassi di iterazione di un insieme**:

    for value in my_set:
        do_something

In [70]:
insieme = set('aabbbcdaddddddbaa')
for v in insieme:
    print(v)

c
d
b
a

## Operatori di confronto tra insiemi


    my_set1 == my_set2
    my_set1 < my_set2
    my_set1 > my_set2
   
restituiscono `True` se (rispettivamente):
- l'insieme `my_set1` coincide con `my_set2`
- l'insieme `my_set1` è un sottoinsieme di `my_set2`
- l'insieme `my_set1` è un superinsieme di `my_set2`

In [71]:
insieme1 = set('aabbbdcadbaa')
insieme2 = set('aabbbcabaaaaaacbbb')
insieme1 > insieme2

True

In [72]:
insieme1 == insieme2

False

## Metodi per le operazioni su insiemi

- il metodo `add()` aggiunge all'insieme invocante il valore passato come argomento

In [73]:
insieme1.add('H')
insieme1

{'H', 'a', 'b', 'c', 'd'}

- i metodi `discard()/remove()` rimuovono dall'insieme invocante il valore passato come argomento

In [76]:
insieme1.discard('a')

In [75]:
insieme1

{'H', 'b', 'c', 'd'}

In [78]:
try:
    insieme1.remove('a')
except KeyError:
    print('Elemento non presente')

Elemento non presente

- il metodo `union()` restituisce l'unione tra l'insieme invocante e l'insieme passato come argomento

In [79]:
insieme1 = set('abbbaaccccaaaddddeee')
insieme2 = set('0156787733abbabbbcccc')

In [80]:
insieme1

{'a', 'b', 'c', 'd', 'e'}

In [81]:
insieme2

{'0', '1', '3', '5', '6', '7', '8', 'a', 'b', 'c'}

In [82]:
insieme1.union(insieme2)

{'0', '1', '3', '5', '6', '7', '8', 'a', 'b', 'c', 'd', 'e'}

- il metodo `intersection()` restituisce l'intersezione tra l'insieme invocante e l'insieme passato come argomento

In [83]:
insieme1.intersection(insieme2)

{'a', 'b', 'c'}

- il metodo `difference()` restituisce la differenza tra l'insieme invocante e l'insieme passato come argomento.

In [85]:
insieme1.difference(insieme2)

{'d', 'e'}

- il metodo `clear()` svuota l'insieme invocante