# Python - Sequenze (Stringa, Lista e Tupla)

> ### Definizione di sequenza
> ### Costruzione di una *sequenza*
> ### Dimensione di una *sequenza*
> ### Accesso agli elementi di una *sequenza*
> ### Concatenazione di *sequenze*
> ### Ripetizione di una *sequenza*
> ### Scansione degli elementi di una *sequenza*
> ### Aggiornamento di una lista
> ### Assegnamento multiplo
> ### List comprehension

## Definizione di *sequenza*

Stringhe, liste e tuple sono ***sequenze***, cioé oggetti su cui si può iterare e i cui elementi sono indicizzati tramite posizione.

**Stringa**: sequenza di caratteri
- oggetto di tipo `str`
- oggetto ___immutabile___

---

**Lista**: sequenza di valori (oggetti) anche di tipo diverso
- oggetto di tipo `list`
- oggetto ***mutabile***

**Tupla**: sequenza di valori (oggetti) anche di tipo diverso
- oggetto di tipo `tuple`
- oggetto ***immutabile***

## Costruzione di una *sequenza*

### Costruzione di una stringa
- tramite letterale (sequenza di caratteri racchiusi tra singoli apici `'` o doppi apici `"`)
- tramite funzione `str()`

Letterale con doppi apici:

In [2]:
print("ciao")

ciao

Letterale con singoli apici:

In [3]:
print('ciao')

ciao

Singoli apici nel valore della stringa:

In [4]:
print('\'ciao\'')

'ciao'

In [6]:
print("'ciao'")

'ciao'

Doppi apici nel valore della stringa:

In [7]:
print("\"ciao\"")

"ciao"

In [9]:
print('"ciao"')

"ciao"

*Newline* `\n` nel valore della stringa:

In [10]:
print('ciao\nciao')

ciao
ciao

Costruzione della stringa vuota:

In [11]:
""

''

In [12]:
''

''

#### Esempi di costruzione tramite funzione `str()`

Stringa vuota:

In [13]:
str()

''

Costruzione con letterale stringa:

In [14]:
str("ciao")

'ciao'

Costruzione con espressione aritmetica:

In [15]:
str(3+4)

'7'

Costruzione con espressione di confronto:

In [17]:
str(34 > 0)

'True'

**NOTA BENE**: il valore restituito dalla chiamata `str(34 >0)` è la stringa dei caratteri `T`, `r`, `u` ed `e` e non il valore `True` di tipo `bool`.

### Costruzione di una lista

- tramite letterale `[value1, value2, ..., valueN]`
- tramite funzione `list()`

#### Esempi di costruzione tramite letterale

Lista vuota:

In [18]:
[]

[]

Lista di un solo valore:

In [19]:
[4]

[4]

Lista di tre valori dello stesso tipo:

In [20]:
[1,2,3]

[1, 2, 3]

Lista di tre valori di tipo diverso:

In [21]:
[10, 7.8, "ab"]

[10, 7.8, 'ab']

Lista di tre valori di tipo diverso di cui il terzo di tipo `list` (lista annidata):

In [22]:
[10, 7.8, [True, "ab"]]

[10, 7.8, [True, 'ab']]

#### Esempi di costruzione tramite la funzione `list()`

Lista vuota:

In [23]:
list()

[]

Costruzione con stringa:

In [24]:
list("abcde")

['a', 'b', 'c', 'd', 'e']

Costruzione con lista:

In [25]:
list([1,2,3,4])

[1, 2, 3, 4]

### Costruzione di una tupla
- tramite letterale `(value1, value2, ..., valueN)`

- tramite la funzione `tuple()`

#### Esempi di costruzione tramite letterale

Tupla vuota:

In [26]:
()

()

Tupla di un solo valore:

In [28]:
(4,)

(4,)

Tupla di tre valori dello stesso tipo:

In [29]:
(1,2,3)

(1, 2, 3)

Tupla di tre valori di tipo diverso:

In [30]:
(10, 7.8, "ab")

(10, 7.8, 'ab')

Tupla di quattro valori di tipo diverso di cui il terzo di tipo `list` (lista annidata) e il quarto di tipo `tuple` (tupla annidata):

In [31]:
(10, 7.8, [1,2], (3,4))

(10, 7.8, [1, 2], (3, 4))

**NOTA BENE**: le parentesi tonde nel letterale di una tupla sono opzionali (non possono però essere omesse nel caso di letterale di una tupla vuota).

In [34]:
10, 7.8, [1,2], (3,4)

(10, 7.8, [1, 2], (3, 4))

#### Esempi di costruzione tramite la funzione `tuple()`

Tupla vuota:

In [35]:
tuple()

()

Costruzione con stringa:

In [36]:
tuple("abcde")

('a', 'b', 'c', 'd', 'e')

Costruzione con lista:

In [37]:
tuple([1,2,3])

(1, 2, 3)

Costruzione con tupla:

In [41]:
tuple((1,2,3))

(1, 2, 3)

## Dimensione di una *sequenza*

La funzione `len()` restituisce la dimensione della *sequenza* passata come argomento.

Dimensione di una stringa:

In [42]:
len("abcde")

5

Dimensione di una lista:

In [43]:
len([1,2,3,4])

4

Dimensione di una tupla:

In [44]:
len((1,2,3,4,5))

5

## Accesso agli elementi di una *sequenza*

Le posizioni degli elementi all'interno di una *sequenza* sono indicate tramite:

- indici positivi
    - 0: posizione del primo elemento
    - 1: posizione del secondo elemento
    - ...
    - dimensione della sequenza decrementato di 1: posizione dell'ultimo elemento
    
    
- indici negativi
    - -1: posizione dell'ultimo elemento
    - -2: posizione del penultimo elemento
    - ...
    - negazione aritmetica della dimensione della sequenza: posizione del primo elemento

### Accesso a un solo elemento di una *sequenza*

L'espressione:

    my_sequence[some_index]
    
restituisce l'elemento della *sequenza* `my_sequence` in posizione `some_index`.

**Esempi di accesso a un carattere di una stringa**

Accesso al quinto carattere tramite indice positivo:

In [45]:
stringa = 'Hello world!'
stringa[4]

'o'

**NOTA BENE**: `stringa[4]` restituisce un oggetto di tipo `str`.

Accesso al quinto carattere tramite indice negativo:

In [47]:
stringa = 'Hello world!'
stringa[-8]

'o'

**Esempi di accesso a un elemento di una lista**

Accesso al quarto elemento tramite indice positivo:

In [48]:
lista = [1, 2, 3, [4, 5]]
lista[3]

[4, 5]

Accesso al primo elemento della lista annidata:

In [49]:
lista = [1, 2, 3, [4, 5]]
lista[3][0]

4

Accesso al primo elemento tramite indice negativo:

In [50]:
lista = [1, 2, 3, [4, 5]]
lista[-4]

1

**Esempi di accesso a un elemento di una tupla**

Accesso al terzo elemento tramite indice positivo:

In [51]:
tupla = (1, 2, 3, 4)
tupla[2]

3

Accesso all'ultimo elemento tramite indice negativo:

In [52]:
tupla = (1, 2, 3, 4)
tupla[-1]

4

### Accesso a elementi consecutivi di una *sequenza* (*slicing1*)

L'epressione:

    my_sequence[start_index:end_index]
    
restituisce gli elementi della *sequenza* `my_sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1`.

**Esempi di accesso a caratteri consecutivi di una stringa (sottostringa)**

Accesso alla sottostringa dal terzo al settimo carattere tramite indici positivi:

In [53]:
stringa = 'Hello world!'
stringa[2:7]

'llo w'

Accesso alla sottostringa dal terzo al settimo carattere tramite indici negativi:

In [54]:
stringa = 'Hello world!'
stringa[-10:-5]

'llo w'

Accesso al prefisso dei primi tre caratteri tramite indici positivi:

In [55]:
stringa = 'Hello world!'
stringa[0:3]

'Hel'

In [56]:
stringa = 'Hello world!'
stringa[:3]

'Hel'

Accesso al suffisso che parte dal nono carattere tramite indici positivi:

In [58]:
stringa = 'Hello world!'
stringa[8:len(stringa)]

'rld!'

In [59]:
stringa = 'Hello world!'
stringa[8:]

'rld!'

Ottenere una copia della stringa:

In [60]:
stringa = 'Hello world!'
stringa[0:len(stringa)]

'Hello world!'

In [62]:
stringa = 'Hello world!'
stringa[:]

'Hello world!'

**Esempi di accesso a elementi consecutivi di una lista/tupla (sottolista/sottotupla)**

Accesso alla sottolista dal terzo al quarto elemento tramite indici positivi:

In [63]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:4]

[3, 4]

Accesso al suffisso di lista che parte dal terzo elemento tramite indici positivi:

In [64]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:]

[3, 4, 5, 6]

Accesso al prefisso di tupla dei primi quattro elementi tramite indici positivi:

In [65]:
tupla = (1, 2, 3, 4, 5, 6)
tupla[:4]

(1, 2, 3, 4)

### Accesso a elementi non consecutivi di una *sequenza* (*slicing2*)

L'epressione:

    my_sequence[start_index:end_index:step]
    
equivale a

- considerare la sottosequenza di elementi consecutivi `my_sequence[start_index:end_index]` 

e

- restituire di questa sottosequenza gli elementi a partire dal primo, saltando ogni volta `step-1` elementi

**Esempi di accesso a caratteri non consecutivi di una stringa**

Accesso ai caratteri a partire dal secondo, saltando ogni volta due caratteri e terminando non oltre il settimo:

In [68]:
stringa = 'xAxxBxxCxx'
stringa[1:8:3]

'ABC'

Lo *slicing* con passo può essere utilizzato per invertire una sequenza:

In [69]:
stringa = 'Hello world!'
stringa[::-1]

'!dlrow olleH'

In [70]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## Concatenazione di *sequenze*

L'espressione:

    my_sequence1 + my_sequence2 + ... + my_sequenceN
   
restituisce la concatenazione di N sequenze dello stesso tipo.

In [71]:
"ciao " + "mondo"

'ciao mondo'

In [72]:
[1,2] + [3,4,5]

[1, 2, 3, 4, 5]

In [73]:
(1,2) + (3,4,5)

(1, 2, 3, 4, 5)

## Ripetizione di una *sequenza*

L'espressione:

    my_sequence * times
   
restituisce la ripetizione di `my_sequence` per `times` volte.

In [74]:
"ciao " * 4

'ciao ciao ciao ciao '

In [75]:
[1,2] * 4

[1, 2, 1, 2, 1, 2, 1, 2]

In [76]:
(1,2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

## Scansione degli elementi una *sequenza*

### Operatore `in`

L'espressione:

    my_element in my_sequence
    
restituisce `True` se `my_element` è presente in `my_sequence`, altrimenti restituisce `False`

Controllo della presenza del carattere `H`:

In [77]:
stringa = 'Hello world!'
"H" in stringa

True

Controllo della presenza della sottostringa `world` nella stringa:

In [78]:
stringa = 'Hello world!'
"llo" in stringa

True

Controllo della presenza della stringa `ca` nella lista:

In [79]:
lista = [1, 2, 'acaa', 10.5]
"ca" in lista

False

Controllo della presenza della lista `[1,2]` nella lista:

In [80]:
lista = [1, 2, 'acaa', 10.5]
[1,2] in lista

False

### Scansione con operatore `in`

**Sintassi di scansione di una *sequenza***:

    for element in my_sequence:
        do_something
        
- `my_sequence`: *sequenza* da scandire da sinistra a destra
- `element`: variabile di scansione
- `do_something`: blocco di istruzioni da eseguire per ogni elemento considerato
        
**Regola**:

- le istruzioni in `do_something` devono essere indentate 4 volte rispetto alla riga di intestazione

Scansione e stampa a video dei caratteri della stringa:

In [81]:
stringa = 'world'
for c in stringa:
    print(c)

w
o
r
l
d

Scansione e stampa a video degli elementi della lista:

In [82]:
lista = [3, 45.6, 'ciao']
for element in lista:
    print(element)

3
45.6
ciao

Scansione e stampa a video degli elementi della tupla:

In [84]:
tupla = 3, 45.6, 'ciao'
for element in tupla:
    print(element)

3
45.6
ciao

## Aggiornamento di una lista

### Aggiornamento di un elemento di una lista

L'istruzione:

    my_list[some_index] = new_value
    
sostituisce l'elemento della lista `my_list` in posizione `some_index` con il nuovo valore `new_value`.

Sostituzione del quarto elemento della lista con il valore 0:

In [86]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3] = 0
lista

[1, 2, 3, 0, 5, 6, 7]

### Aggiornamento di più elementi di una lista

Le istruzioni:

    my_list[start_index:end_index] = new_list
    my_list[start_index:end_index:step] = new_list
    
sostituiscono la sottolista di `my_list` ottenuta tramite *slicing* con la lista `new_list`.

Sostituzione dei tre elementi consecutivi dal quarto al sesto della lista:

In [88]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3:6] = ['*', '*', '*']
lista

[1, 2, 3, '*', '*', '*', 7]

Cancellazione dei tre elementi consecutivi dal quarto al sesto della lista:

In [90]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3:6] = []
lista

[1, 2, 3, 7]

Inserimento di tre elementi asterisco prima del secondo elemento:

In [92]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[1:1] = ['*', '*', '*']
lista

[1, '*', '*', '*', 2, 3, 4, 5, 6, 7]

Aggiunta in coda di tre elementi asterisco:

In [94]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[len(lista):len(lista)] = ['*', '*', '*']
lista

[1, 2, 3, 4, 5, 6, 7, '*', '*', '*']

Aggiunta in testa di tre elementi asterisco:

In [96]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[:0] = ['*', '*', '*']
lista

['*', '*', '*', 1, 2, 3, 4, 5, 6, 7]

Aggiornamento al valore 0 degli elementi in posizione di indice pari:

In [100]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[::2] = [0, 0, 0, 0]
lista

[0, 2, 0, 4, 0, 6, 0]

### Cancellazione di un elemento di una lista con l'operatore `del`

L'istruzione:

    del my_list[some_index]

 rimuove dalla lista `my_list` l'elemento in posizione di indice `some_index`.
 
 Cancellazione del terzo elemento della lista:

In [101]:
lista = [1, 2, 3, 4]
del lista[2]
lista

[1, 2, 4]

### Cancellazione di più elementi di una lista con l'operatore `del`

Le istruzioni:

    del my_list[start_index:end_index]
    del my_list[start_index:end_index:step]

rimuovono dalla lista `my_list` gli elementi prodotti dall'operazione di *slicing*.

Cancellazione degli elementi dal terzo al quinto:

In [103]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]
del lista[2:5]
lista

[1, 2, 6, 7, 8]

Cancellazione degli elementi in posizione dispari:

In [104]:
lista = [0, 1, 2, 3, 4, 5, 6, 7]
del lista[1::2]
lista

[0, 2, 4, 6]

##  Assegnamento multiplo

L'istruzione di assegnamento:

    (my_var1, my_var2, ..., my_varN) = my_sequence
    
assegna alle N variabili specificate nella tupla a sinistra i valori della *sequenza* `my_sequence` specificata a destra.

Le parentesi sono opzionali:

    my_var1, my_var2, ..., my_varN = my_sequence

**NOTA BENE**: `my_sequence` deve avere dimensione pari a N.

Assegnamento dei quattro caratteri della stringa "1234" a quattro variabili diverse:

In [109]:
v1, v2, v3, v4 = "1234"
v4

'4'

Assegnamento dei quattro elementi della lista `[1,2,3,4]` a quattro variabili diverse:

In [114]:
v1, v2, v3, v4 = [1,2,3,4]
v4

4

Assegnamento dei quattro elementi della tupla `(1,2,3,4)` a quattro variabili diverse:

In [116]:
v1, v2, v3, v4 = 1,2,3,4

Scambiare il valore tra due variabili:

In [119]:
v1,v2 = v2,v1

2

In [120]:
v2

1

Scandire una lista di tuple di due elementi stampando ogni volta i due elementi separatamente:

In [125]:
lista = [(1, 2), (3, 4), (5, 6)]
for (a,b) in lista:
    print(str(a)+' '+str(b))

1 2
3 4
5 6

## List comprehension

L'istruzione:

    [some_expression for element in my_sequence if condition]
    
equivale a scrivere:

    for element in my_sequence:
        if condition:
            some_expression
            
con la differenza che i valori restituiti da `some_expression` vengono restituiti tutti in un oggetto di tipo `list`.

**NB**: la clausola if è opzionale.

Data una lista, scrivere la list comprehension che produce la lista degli elementi di valore pari incrementati di 1:

In [126]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[element+1 for element in lista if element % 2 == 0]

[3, 5, 7, 9, 11]

Data una lista, scrivere la list comprehension che produce la lista dei caratteri concatenati alla cifra 1:

In [127]:
stringa = 'ciao'
[e+"1" for e in stringa]

['c1', 'i1', 'a1', 'o1']

La list comprehension nella sua sintassi più generale:

    [some_expression for e1 in my_seq1 for e2 in my_se2 ... for eN in my_seqN if condition]
    
equivale a scrivere:

    for e1 in my_seq1:
        for e2 in my_seq2:
            ...
                for eN in my_seqN:
                    if condition:
                        some_expression

Scrivere la list comprehension che produce la lista delle stringhe ottenute combinando tra di loro in tutti i modi possibili i caratteri della stringa, gli elementi (valori interi) della lista e gli elementi (caratteri) della tupla:

In [128]:
stringa = 'ciao'
lista = [1, 2, 3, 4]
tupla = ('a', 'b', 'c')
[x+str(y)+z for x in stringa for y in lista for z in tupla]

['c1a',
 'c1b',
 'c1c',
 'c2a',
 'c2b',
 'c2c',
 'c3a',
 'c3b',
 'c3c',
 'c4a',
 'c4b',
 'c4c',
 'i1a',
 'i1b',
 'i1c',
 'i2a',
 'i2b',
 'i2c',
 'i3a',
 'i3b',
 'i3c',
 'i4a',
 'i4b',
 'i4c',
 'a1a',
 'a1b',
 'a1c',
 'a2a',
 'a2b',
 'a2c',
 'a3a',
 'a3b',
 'a3c',
 'a4a',
 'a4b',
 'a4c',
 'o1a',
 'o1b',
 'o1c',
 'o2a',
 'o2b',
 'o2c',
 'o3a',
 'o3b',
 'o3c',
 'o4a',
 'o4b',
 'o4c']