# Esercizio 1

                2009	2010	2011	2012	2013	2014	2015
    Gennaio		75		63		65		50		77		66		69
    Febbraio	64		65		65		67		50		54		58
    Marzo		81		77		73		80		83		89		100
    Aprile		89		90		85		90		90		84		90
    Maggio		120		129		113		120		135		117		130
    Giugno		113		99		116		114		111		119		100
    Luglio		111		105		98		112		113		102		100
    Agosto		129		131		120		111		141		130		126
    Settembre	90		85		101		88		89		94		91
    Ottobre		109		122		103		119		98		101		107
    Novembre	111		121		101		104		121		115		104
    Dicembre	56		67		44		58		61		64		58

Si consideri il dataset delle precipitazioni mensili (mm) nei sette anni dal 2009 al 2015, che ha il seguente formato: 13 record di campi separati da tabulazione di cui il primo è il record di intestazione degli anni (composto da 7 campi) e gli altri 12 sono i record delle piogge mensili (un record per ciascun mese) composti da 8 campi di cui il primo è il nome del mese e i rimanenti 7 sono le piogge mensili lungo gli anni.

Si richiede di predisporre un notebook che permetta di calcolare:

- le precipitazioni medie mensili 
- le precipitazioni totali annue 
- per ognuno degli anni considerati, il numero di mesi con pioggia oltre la soglia S

---

Parametri di input:
- dataset delle precipitazioni
- soglia S

---

Requisiti:
- il notebook deve funzionare anche per un dataset che contiene le rilevazioni per un numero di anni diverso da 7

- definire la funzione `compute_mean()` che prenda in input una lista di numeri e produca in output il valore medio

- definire la funzione `count_elements_greater_than()` che prenda in input una lista di numeri e un valore di soglia e produca in output il numero di valori che superano tale soglia

---

Come produrre l'output?

- produrre le piogge medie mensili in una lista di 12 tuple di dimensione 2 in cui il primo elemento (stringa) sono le prime tre lettere del nome del mese in maiuscolo e il secondo elemento (decimale) è il suo valore medio di pioggia.

- produrre le piogge totali annue in una lista di N (sarà N=7 per questo dataset) tuple di dimensione 2 in cui il primo elemento (stringa) è l'anno e il secondo elemento (intero) è il suo valore totale di pioggia.

- produrre per ogni anno il numero di mesi con pioggia oltre la soglia P in una lista di N tuple di dimensione 2 in cui il primo elemento (stringa) è l'anno e il secondo elemento (intero) il numero di mesi con almeno S mm di pioggia

---

## Soluzione

#### 1) Importazione del modulo `numpy`

In [1]:
import numpy as np

#### 2) Definizione della funzione `compute_mean()`

In [2]:
def compute_mean(list_of_numbers):
    return float(sum(list_of_numbers))/len(list_of_numbers)

#### 3) Definizione della funzione `count_elements_greater_than()`

In [3]:
def count_elements_greater_than(list_of_numbers, threshold):
    bool_list = [number >= threshold for number in list_of_numbers]
    return bool_list.count(True)

#### 4) Definizione dei parametri di input

In [4]:
input_file_name = './input-precipitazioni.txt'
threshold = 100

#### 5) Lettura del dataset nella lista delle sue righe

In [5]:
with open(input_file_name, 'r') as input_file:
    file_rows = input_file.readlines()

file_rows

['\t\t\t2009\t2010\t2011\t2012\t2013\t2014\t2015\n',
 'Gennaio\t\t75\t\t63\t\t65\t\t50\t\t77\t\t66\t\t69\n',
 'Febbraio\t64\t\t65\t\t65\t\t67\t\t50\t\t54\t\t58\n',
 'Marzo\t\t81\t\t77\t\t73\t\t80\t\t83\t\t89\t\t100\n',
 'Aprile\t\t89\t\t90\t\t85\t\t90\t\t90\t\t84\t\t90\n',
 'Maggio\t\t120\t\t129\t\t113\t\t120\t\t135\t\t117\t\t130\n',
 'Giugno\t\t113\t\t99\t\t116\t\t114\t\t111\t\t119\t\t100\n',
 'Luglio\t\t111\t\t105\t\t98\t\t112\t\t113\t\t102\t\t100\n',
 'Agosto\t\t129\t\t131\t\t120\t\t111\t\t141\t\t130\t\t126\n',
 'Settembre\t90\t\t85\t\t101\t\t88\t\t89\t\t94\t\t91\n',
 'Ottobre\t\t109\t\t122\t\t103\t\t119\t\t98\t\t101\t\t107\n',
 'Novembre\t111\t\t121\t\t101\t\t104\t\t121\t\t115\t\t104\n',
 'Dicembre\t56\t\t67\t\t44\t\t58\t\t61\t\t64\t\t58']

#### 6) Estrazione della lista degli anni

In [6]:
years = file_rows.pop(0).rstrip().split()
years

['2009', '2010', '2011', '2012', '2013', '2014', '2015']

**NOTA BENE**: rimuovere la riga di intestazione degli anni dalla lista `file_rows`.

In [7]:
file_rows

['Gennaio\t\t75\t\t63\t\t65\t\t50\t\t77\t\t66\t\t69\n',
 'Febbraio\t64\t\t65\t\t65\t\t67\t\t50\t\t54\t\t58\n',
 'Marzo\t\t81\t\t77\t\t73\t\t80\t\t83\t\t89\t\t100\n',
 'Aprile\t\t89\t\t90\t\t85\t\t90\t\t90\t\t84\t\t90\n',
 'Maggio\t\t120\t\t129\t\t113\t\t120\t\t135\t\t117\t\t130\n',
 'Giugno\t\t113\t\t99\t\t116\t\t114\t\t111\t\t119\t\t100\n',
 'Luglio\t\t111\t\t105\t\t98\t\t112\t\t113\t\t102\t\t100\n',
 'Agosto\t\t129\t\t131\t\t120\t\t111\t\t141\t\t130\t\t126\n',
 'Settembre\t90\t\t85\t\t101\t\t88\t\t89\t\t94\t\t91\n',
 'Ottobre\t\t109\t\t122\t\t103\t\t119\t\t98\t\t101\t\t107\n',
 'Novembre\t111\t\t121\t\t101\t\t104\t\t121\t\t115\t\t104\n',
 'Dicembre\t56\t\t67\t\t44\t\t58\t\t61\t\t64\t\t58']

#### 7) Estrazione della lista dei mesi

In [8]:
months = [row.rstrip().split()[0] for row in file_rows]
months

['Gennaio',
 'Febbraio',
 'Marzo',
 'Aprile',
 'Maggio',
 'Giugno',
 'Luglio',
 'Agosto',
 'Settembre',
 'Ottobre',
 'Novembre',
 'Dicembre']

#### 8) Costruzione della matrice dei valori (interi) di pioggia

a) Ottenere dalla lista delle righe del dataset la lista delle liste delle piogge mensili i oggetti di tipo intero.

In [9]:
rains_per_month = [list(map(int, row.rstrip().split()[1:])) for row in file_rows]
rains_per_month

[[75, 63, 65, 50, 77, 66, 69],
 [64, 65, 65, 67, 50, 54, 58],
 [81, 77, 73, 80, 83, 89, 100],
 [89, 90, 85, 90, 90, 84, 90],
 [120, 129, 113, 120, 135, 117, 130],
 [113, 99, 116, 114, 111, 119, 100],
 [111, 105, 98, 112, 113, 102, 100],
 [129, 131, 120, 111, 141, 130, 126],
 [90, 85, 101, 88, 89, 94, 91],
 [109, 122, 103, 119, 98, 101, 107],
 [111, 121, 101, 104, 121, 115, 104],
 [56, 67, 44, 58, 61, 64, 58]]

---

b) Convertire la lista in matrice.

In [12]:
rains_per_month = np.array(rains_per_month)
rains_per_month

array([[ 75,  63,  65,  50,  77,  66,  69],
       [ 64,  65,  65,  67,  50,  54,  58],
       [ 81,  77,  73,  80,  83,  89, 100],
       [ 89,  90,  85,  90,  90,  84,  90],
       [120, 129, 113, 120, 135, 117, 130],
       [113,  99, 116, 114, 111, 119, 100],
       [111, 105,  98, 112, 113, 102, 100],
       [129, 131, 120, 111, 141, 130, 126],
       [ 90,  85, 101,  88,  89,  94,  91],
       [109, 122, 103, 119,  98, 101, 107],
       [111, 121, 101, 104, 121, 115, 104],
       [ 56,  67,  44,  58,  61,  64,  58]])

**NOTA BENE**: ogni riga della matrice contiene tutte le piogge annue di un determinato mese.

#### 9) Calcolo della trasposta della matrice dei valori (interi) di pioggia

In [13]:
rains_per_year = rains_per_month.transpose()
rains_per_year

array([[ 75,  64,  81,  89, 120, 113, 111, 129,  90, 109, 111,  56],
       [ 63,  65,  77,  90, 129,  99, 105, 131,  85, 122, 121,  67],
       [ 65,  65,  73,  85, 113, 116,  98, 120, 101, 103, 101,  44],
       [ 50,  67,  80,  90, 120, 114, 112, 111,  88, 119, 104,  58],
       [ 77,  50,  83,  90, 135, 111, 113, 141,  89,  98, 121,  61],
       [ 66,  54,  89,  84, 117, 119, 102, 130,  94, 101, 115,  64],
       [ 69,  58, 100,  90, 130, 100, 100, 126,  91, 107, 104,  58]])

**NOTA BENE**: ogni riga della matrice trasposta contiene tutte le piogge mensili di un determinato anno.

#### 10) Output delle precipitazioni medie mensili

a) Calcolo della lista delle precipitazioni medie mensili.

In [14]:
monthly_averages = [compute_mean(rain_list) for rain_list in rains_per_month]
monthly_averages

[66.42857142857143,
 60.42857142857143,
 83.28571428571429,
 88.28571428571429,
 123.42857142857143,
 110.28571428571429,
 105.85714285714286,
 126.85714285714286,
 91.14285714285714,
 108.42857142857143,
 111.0,
 58.285714285714285]

**NOTA BENE**: il valore i-esimo nella lista è la media relativa al mese i-esimo.

---

b) Costruzione della **lista di output** delle 12 tuple di dimensione 2 in cui ogni tupla contiene le prime tre lettere del nome del mese in maiuscolo come primo elemento e la media mensile come secondo elemento.

In [16]:
months = [month[:3].upper() for month in months]
monthly_output = list(zip(months, monthly_averages))
monthly_output

[('GEN', 66.42857142857143),
 ('FEB', 60.42857142857143),
 ('MAR', 83.28571428571429),
 ('APR', 88.28571428571429),
 ('MAG', 123.42857142857143),
 ('GIU', 110.28571428571429),
 ('LUG', 105.85714285714286),
 ('AGO', 126.85714285714286),
 ('SET', 91.14285714285714),
 ('OTT', 108.42857142857143),
 ('NOV', 111.0),
 ('DIC', 58.285714285714285)]

#### 11) Output delle precipitazioni totali annue

a) Calcolo della lista delle precipitazioni totali annue.

In [18]:
yearly_total = [sum(rain_list) for rain_list in rains_per_year]
yearly_total

[1148, 1154, 1084, 1113, 1169, 1135, 1133]

b) Costruzione della **lista di output** delle 12 tuple di dimensione 2 in cui ogni tupla contiene il nome dell'anno come primo elemento e la precipitazione totale come secondo elemento.

In [19]:
yearly_output1 = list(zip(years, yearly_total))
yearly_output1

[('2009', 1148),
 ('2010', 1154),
 ('2011', 1084),
 ('2012', 1113),
 ('2013', 1169),
 ('2014', 1135),
 ('2015', 1133)]

#### 12) Output del numero annuo di mesi con almeno `threshold` mm di pioggia

a) Calcolo della lista del numero annuo di mesi con almeno `threshold` mm di pioggia.

In [23]:
yearly_count = [count_elements_greater_than(rain_list, threshold) for rain_list in rains_per_year]
yearly_count

[6, 5, 6, 6, 5, 6, 7]

b) Costruzione della **lista di output** delle N=7 tuple di dimensione 2 in cui ogni tupla contiene il nome dell'anno come primo elemento e il numero di mesi con almeno `threshold` mm di pioggia come secondo elemento.

In [119]:
yearly_output2 = list(zip(years, yearly_count))
yearly_output2

[('2009', 6),
 ('2010', 5),
 ('2011', 6),
 ('2012', 6),
 ('2013', 5),
 ('2014', 6),
 ('2015', 7)]