# Introduzione a Python

Python è un linguaggio **orientato agli oggetti** e tutto ciò che viene manipolato/restituito è un riferimento a un oggetto. Quindi una variabile è sempre un riferimento a un oggetto.

Un oggetto è un'**istanza di una certa classe**; una classe è il modello a cui deve aderire l'oggetto e ne definisce gli attributi e i metodi.

Anche un valore intero in Python è un oggetto che mette a disposizione dei metodi.

**NB:** in questo corso non definiremo classi ma useremo quelle predefinite di Python oppure quelle delle librerie che useremo.

La **sintassi di invocazione di un metodo/attributo** è simile a quella di Java che usa il simbolo punto.

> ### Variabili
> ### Tipi predefiniti semplici (booleani, interi e decimali)
> ### Espressioni (aritmetiche, logiche e di confronto)
> ### Funzioni e metodi
> ### Moduli
> ### La funzione `print()`

---

I **commenti** sono su singola riga iniziano con il simbolo `#`.

In [ ]:
#Questo è un commento

---

Il simbolo `;` alla **fine di un’istruzione** è opzionale, a meno che non si scrivano più istruzioni sulla stessa riga.

In [3]:
print('Ciao') print('Ciao')

SyntaxError: invalid syntax (1556283860.py, line 1)

In [4]:
print('Ciao'); print('Ciao')

Ciao
Ciao

---

Le **variabili non vengono dichiarate**:

- una variabile inizia ad esistere nel momento in cui le viene assegnato un valore
- il suo tipo viene determinato in fase di assegnamento
- è sempre un riferimento a un oggetto

In [5]:
a = 120

Stampo il contenuto.

In [7]:
print(a)

120

**NOTA BENE**: una cella del notebook restituisce sempre il valore della sua ultima istruzione/espressione.

Quindi se scrivo...

In [83]:
a = 120
a

120

**NB**: uno script classico eseguirebbe la semplice espressione `a` ma poi perderebbe il valore restituito in quanto non assegnato ad alcuna variabile.

Aggiungo l'espressione `10 + 5`...

In [85]:
a = 120
a
10 + 5

15

---

Vediamo ora che tipo di dato contiene `a`.

In [10]:
type(a)

int

E' possibile un assegnamento successivo di un tipo diverso.

In [11]:
a = 'CIAO'
a

'CIAO'

In [12]:
type(a)

str

---

Un **nome di variabile**:
- può contenere solo simboli di cifre da `0` a `9`, lettere maiuscole o minuscole e simbolo `_`
- non può iniziare con simbolo di una cifra

I nomi di variabile contengono in genere lettere minuscole.

Python è *case sensitive*.

---

**NOTA BENE**: attenzione alle indentazioni!
Ad esempio il codice seguente non funziona:

In [13]:
x = 10
    y = 11

IndentationError: unexpected indent (1046539498.py, line 2)

# Tipi predefiniti semplici

---

**Valori booleani**:

- parola chiave: `bool`
- valori possibili: `True` e `False`

In [14]:
x = True
y = False

---

**Numeri interi**:

- parola chiave: `int`
- valori possibili: numeri interi positivi e negativi

In [15]:
x = 1301
y = -1301

---

**Numeri decimali**:

- parola chiave: `float`
- valori possibili: numeri decimali positivi e negativi

In [16]:
x = 1301.15
y = -1301.15

---

# Espressioni

**ESPRESSIONE**: combinazione di **operazioni** che restituisce un risultato di un certo tipo (che dipende dal tipo di espressione).


## Espressioni aritmetiche

**ESPRESSIONE ARITMETICA**: combinazione di **operazioni aritmetiche** che restituisce un risultato numerico di tipo `int` oppure `float`.

Gli ingredienti di base sono le singole operazioni che potete combinare in espressioni complesse.

### Operazioni aritmetiche

- somma `+`

In [86]:
11 + 57.0

68.0

restituisce un valore decimale di tipo float perché il secondo operando è decimale.

In [17]:
11 + 57

68

ottengo lo stesso valore ma di tipo intero.

- sottrazione `-`

In [18]:
34 - 56.5

-22.5

- moltiplicazione `*`

In [19]:
3.5 * 4

14.0

In [20]:
3 * 4

12

- divisione `/`

In [21]:
13 / 4

3.25

In [22]:
12 / 4

3.0

restituisce sempre un decimale perché la divisione tiene la parte decimale.

- divisione intera `//`

In [23]:
13.0 // 4

3.0

restituisce 3.0 perché toglie la parte decimale ma il primo operando è decimale. Invece:

In [24]:
13 // 4

3

restituisce un intero.

- elevamento a potenza `**`

In [25]:
2.0 ** 2

4.0

In [26]:
2 ** 2

4

- resto della divisione intera `%`

In [27]:
13.0 % 4

1.0

In [28]:
13 % 4

1

- negazione aritmetica `-`

In [29]:
a = 13.0
-a

-13.0

In [30]:
a = 13
-a

-13

## Espressioni di confronto

**ESPRESSIONE DI CONFRONTO**: combinazione **operazioni di confronto** che restituisce un valore booleano di tipo `bool` (`True` o `False`).

Vediamo quali sono le singole operazioni di confronto.

### Operazioni di confronto

- uguale a `==`

In [32]:
34.0 == 34

True

- diverso da `!=`

In [33]:
34 != 56

True

- minore di `<` o minore o uguale a `<=`

In [34]:
56 <= 56

True

- maggiore di `>` o maggiore o uguale a `>=`

In [35]:
56 >= 56

True

## Espressioni logiche

**ESPRESSIONE LOGICA**: combinazione di **operazioni logiche** che restituisce un risultato booleano.

**REGOLA**: tutto in Python è valutato come VERO tranne il valore intero 0 e il valore decimale 0.0.

### Operazioni logiche

- congiunzione logica: `and`

  **Risultato della congiunzione logica in generale**: VERO se entrambi gli operandi sono VERI, altrimenti FALSO    
  **Risultato di Python**: il primo operando incontrato da sinistra che viene valutato come falso, altrimenti il secondo operando

In [36]:
42 and 0

0

In [37]:
0 and 36

0

In [38]:
42 and 36

36

In [39]:
'0' and 36

36

In [40]:
(34 < 56) and (34 < 0)

False

---

- disgiunzione inclusiva: `or`

  **Risultato della disgiunzione logica in generale**: FALSO se entrambi gli operandi sono FALSI, altrimenti VERO    
  **Risultato di Python**: il primo operando incontrato da sinistra che viene valutato come vero, altrimenti il secondo operando

In [41]:
42 or 0

42

In [42]:
0 or 36

36

In [43]:
0 or 0.0

0.0

In [44]:
(34 < 56) or (34 < 0)

True

---

- negazione `not`

  **Risultato della negazione logica in generale**: VERO se l'operando è FALSO, altrimenti VERO    
  
  **Risultato di Python**: il valore `True` (di tipo `bool`) se l'operando è valutato come falso, altrimenti il valore `False` (di tipo `bool`)

In [45]:
not (34 < 0)

True

In [46]:
not '0'

False

In [47]:
not 0.0

True

In [48]:
not 0

True

---

# Funzioni e metodi

**FUNZIONE**: blocco di istruzioni a cui viene assegnato un nome

**METODO**: funzione definita all'interno di una classe da invocare attraverso un istanza di quella classe

--- 

## Definizione di una funzione

    def function_name(argument_list):
        function_body
        
- `function_name`: nome della funzione
- `argument_list`: lista degli argomenti della funzione
- `function_body`: corpo della funzione

Il corpo della funzione deve essere **indentato 4 volte** rispetto alla riga di intestazione.

Prima di usare una funzione occorre definirla.

In [ ]:
somma1(5,4)

La funzione non è stata ancora definita.

In [58]:
def somma1(x,y):
    print(x, y)
    return x+y

Ora è definita e la posso invocare.

In [59]:
somma1(5, 4)

5 4

9

Gli **argomenti** di una funzione sono **locali** alla funzione così come le variabili utilizzate all'interno.

In [50]:
x = 1000
y = 2000

somma1(5,4)

print(x, y)

5 4
1000 2000

Le due variabili `x` e `y` definite prima dell'invocazione di `somma1` sono diverse dai due parametri della funzione.

Gli argomenti di una funzione non sono tipizzati (un dato argomento può assumere un valore di qualsiasi tipo).

In [51]:
somma1(5.5, 4.3)

5.5 4.3

9.8

In [52]:
somma1('Ciao', 'mondo')

Ciao mondo

'Ciaomondo'

Una funzione può anche non avere l'istruzione `return` e in tale caso restituisce il valore `None` di tipo `NoneType`.

In [54]:
def somma2(x,y):
    print(x, y)
    s = x+y

In [55]:
valore = somma2(5,4)
print(type(valore))

5 4
<class 'NoneType'>

### Argomenti di una funzione

- argomenti posizionali
- keywords (argomenti con nome)


        def function_name(arg1, arg2, ..., argN, k1 = def1, k2 = def2, ..., kN = defN):
            function_body

Gli argomenti posizionali devono venire prima delle keywords nella definizione della funzione e devono ricevere un valore durante l'invocazione della funzione.

Per una keyword si deve specificare un valore di default nella definizione della funzione, va specificata tramite il suo nome durante l'invocazione della funzione. Se non specificata, assume il valore di default.

In [60]:
def area_trapezio(base_maggiore, base_minore, altezza = 10):
    print('Base maggiore =', base_maggiore)
    print('Base minore =', base_minore)
    print('Altezza =', altezza)
    
    area = (base_maggiore + base_minore)*altezza/2
    return area

In [63]:
area_trapezio(30,20)

Base maggiore = 30
Base minore = 20
Altezza = 10

250.0

In [64]:
area_trapezio(30, 20, altezza = 15)

Base maggiore = 30
Base minore = 20
Altezza = 15

375.0

In [66]:
area_trapezio(30, 20, 15)

Base maggiore = 30
Base minore = 20
Altezza = 15

375.0

Una keyword non può venire prima di un parametro posizionale.

In [68]:
def area_trapezio(base_maggiore, altezza = 10, base_minore):
    print('Base maggiore =', base_maggiore)
    print('Base minore =', base_minore)
    print('Altezza =', altezza)
    
    area = (base_maggiore + base_minore)*altezza/2
    return area

SyntaxError: non-default argument follows default argument (3074788020.py, line 1)

In [71]:
def area_trapezio(base_maggiore, base_minore, altezza = 10, k = 100):
    print('Base maggiore =', base_maggiore)
    print('Base minore =', base_minore)
    print('Altezza =', altezza)
    print('Chiave k =', k)
    
    area = (base_maggiore + base_minore)*altezza/2
    return area

In [73]:
area_trapezio(30, 20, altezza = 15)

Base maggiore = 30
Base minore = 20
Altezza = 15
Chiave k = 100

375.0

In [75]:
area_trapezio(30, 20, k = 1000, altezza = 15)

Base maggiore = 30
Base minore = 20
Altezza = 15
Chiave k = 1000

375.0

In [76]:
area_trapezio(30, 20, 1000, 15)

Base maggiore = 30
Base minore = 20
Altezza = 1000
Chiave k = 15

25000.0

In [77]:
area_trapezio(30, 20, 15, 1000)

Base maggiore = 30
Base minore = 20
Altezza = 15
Chiave k = 1000

375.0

In [78]:
area_trapezio(30, 20, 15)

Base maggiore = 30
Base minore = 20
Altezza = 15
Chiave k = 100

375.0

---

## Invocazione di un metodo

    obj_name.method_name(argument_list)
    
**Esempio**: il metodo `is_integer()` degli oggetti di tipo `float` restituisce `True` se il decimale non ha una parte decimale e `False`altrimenti.

In [ ]:
d = 10.00
d.is_integer()

---

# Moduli

**Modulo**: file contenente definizioni e istruzioni che può essere importato in uno script.

**Sintassi di importazione**:

    import module_name as new_name
    
`new_name` è il nuovo nome (opzionale) che si può associare per comodità al modulo.

**Esempio**: importazione del modulo `math` (contenente funzioni matematiche).

In [79]:
import math

`math.` seguito da una tabulazione fornisce il menu delle funzioni contenute nel modulo.

In [ ]:
math.

Funzione `help()`.

In [80]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.9/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /opt/miniconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so

**Esempio**: funzione `sqrt()` per il calcolo della radice quadrata di un numero.

In [ ]:
math.sqrt(25)

--- 

# La funzione `print()`

La funzione `print()` produce in output i valori passati come argomento.

In [81]:
print?

In [82]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(1, 'Ciao', True, 10.3)

In [ ]:
print(1, 'Ciao', True, 10.3, sep=';')

In [ ]:
print(1, 'Ciao', True, 10.3, sep=';')
print(1, 'Ciao', True, 10.3, sep=';')

In [ ]:
print(1, 'Ciao', True, 10.3, sep=';', end='**')
print(1, 'Ciao', True, 10.3, sep=';')

In [ ]:
print(1+3+5, 'Ciao', True, 10.3, sep=';')

In [ ]:
print(34 < 0, 'Ciao', True, 10.3, sep=';')