# Dizionari e insiemi

> # Indice
>>> ### Definizione di dizionario
>>> ### Costruzione di un dizionario
>>> ### Dimensione di un dizionario
>>> ### Accesso ai valori di un dizionario
>>> ### Aggiornamento di un dizionario
>>> ### Scansione delle chiavi di un dizionario
>>> ### Tre metodi utili degli oggetti dizionario
>>> ### Un dizionario particolare: il contatore
>>> ### Costruzione di un contatore
>>> ### Il metodo `most_common()` dei contatori
>>> ### Definizione di insieme
>>> ### Costruzione di un insieme tramite la funzione `set()`
>>> ### Dimensione di un insieme
>>> ### Scansione di un insieme
>>> ### Operatori di confronto tra insiemi
>>> ### Operazioni su un insieme

## Definizione di dizionario

- oggetto ___mutabile___
- oggetto di tipo `dict`
- collezione di *valori* (anche di tipo diverso) indicizzati tramite una *chiave* (oggetto di tipo qualsiasi) 

Tipicamente le *chiavi* di un dizionario sono stringhe (oggetti di tipo `str`).

Un dizionario può essere visto come una collezione di coppie *chiave*-*valore*.

**NOTA BENE**: le tuple (in quanto oggetti ___immutabili___) possono essere le chiavi di un dizionario, al contrario delle liste, che sono ___mutabili___, e quindi possono essere solo i *valori*.

## Costruzione di un dizionario

- tramite letterale:
    - lista di coppie *chiave*-*valore* racchiuse tra parentesi graffe `{}` e separate da virgola; la *chiave*
    è separata dal suo *valore* dal simbolo `:`
- tramite la funzione `dict()`

### Costruzione di un dizionario tramite letterale

Dizionario vuoto:

In [98]:
{}

{}

Dizionario di quattro *valori* (oggetti di tipo `int`) indicizzati tramite *chiave* di tipo `str`:

In [1]:
{'Silvia' : 45, 'Roberto': 47, 'Arianna' : 18, 'Tommaso' : 13}

{'Silvia': 45, 'Roberto': 47, 'Arianna': 18, 'Tommaso': 13}

Dizionario di due *valori* (un oggetto di tipo `list` e uno di tipo `dict`) indicizzati tramite *chiave* di tipo `str`:

In [100]:
{'pari' : [2, 4, 6, 8], 'dispari' : {'cinque' : 5, 'nove' : 9}}

{'pari': [2, 4, 6, 8], 'dispari': {'cinque': 5, 'nove': 9}}

### Costruzione di un dizionario tramite la funzione `dict()`

Dizionario vuoto:

In [101]:
dict()

{}

Alla funzione `dict()` può essere passato come argomento una lista di tuple *(chiave, valore)*.

Le seguenti istruzioni mostrano la costruzione del dizionario dell'esempio precedente tramite la funzione `dict()`:

In [2]:
lista_delle_coppie_chiave_valore = [('Silvia', 45), ('Roberto', 47), ('Arianna', 18), ('Tommaso', 13)]

In [3]:
dict(lista_delle_coppie_chiave_valore)

{'Silvia': 45, 'Roberto': 47, 'Arianna': 18, 'Tommaso': 13}

## Dimensione di un dizionario

La funzione `len()` restituisce la dimensione del dizionario passato come argomento, cioé il numero delle coppie *(chiave, valore)* contenute.

In [103]:
len({'uno' : 1, 'due' : 2, 'tre' : 3})

3

## Accesso ai *valori* di un dizionario

L'istruzione:

    my_dict[some_key]
    
restituisce il *valore* del dizionario `my_dict` che ha *chiave* `some_key`.

In [104]:
my_dict = {'Silvia' : 45, 'Roberto': 47, 'Arianna' : 18, 'Tommaso' : 13}
my_dict['Roberto']

47

## Aggiornamento di un dizionario

L'istruzione:

    my_dict[some_key] = new_value
    
aggiorna il *valore* del dizionario `my_dict` che corrisponde alla *chiave* `some_key` con il nuovo valore `new_value`.

Se `some_key` non esiste nel dizionario, allora la nuova coppia *(chiave, valore)* (`some_key`, `new_value`) viene aggiunta.

Esempio di aggiornamento di un *valore* esistente:

In [105]:
my_dict['Arianna'] = 19
my_dict

{'Silvia': 45, 'Roberto': 47, 'Arianna': 19, 'Tommaso': 13}

Esempio di aggiunta di un *valore* nuovo:

In [106]:
my_dict['Andrea'] = 12
my_dict

{'Silvia': 45, 'Roberto': 47, 'Arianna': 19, 'Tommaso': 13, 'Andrea': 12}

### Aggiornamento di un dizionario con il metodo `update()`

Il metodo `update()` permette di aggiornare il dizionario invocante con:

- una lista di tuple *(chiave, valore)*:

In [107]:
my_dict.update([('Chiara', 17), ('Silvia', 46)])
my_dict

{'Silvia': 46,
 'Roberto': 47,
 'Arianna': 19,
 'Tommaso': 13,
 'Andrea': 12,
 'Chiara': 17}

- un dizionario

In [108]:
my_dict.update({'Alessandro' : 3, 'Sofia' : 15})
my_dict

{'Silvia': 46,
 'Roberto': 47,
 'Arianna': 19,
 'Tommaso': 13,
 'Andrea': 12,
 'Chiara': 17,
 'Alessandro': 3,
 'Sofia': 15}

### Cancellazione in un dizionario con il metodo `pop()`

Il metodo `pop()` cancella dal dizionario invocante il *valore* associato alla *chiave* passata come argomento, e lo restituisce.

In [109]:
my_dict.pop('Arianna')

19

In [110]:
my_dict

{'Silvia': 46,
 'Roberto': 47,
 'Tommaso': 13,
 'Andrea': 12,
 'Chiara': 17,
 'Alessandro': 3,
 'Sofia': 15}

### Cancellazione in un dizionario con l'operatore `del`

L'istruzione:

    del my_dict[some_key]

rimuovere dal dizionario `my_dict` il *valore* con *chiave* `some_key`.

In [111]:
del my_dict['Tommaso']
my_dict

{'Silvia': 46,
 'Roberto': 47,
 'Andrea': 12,
 'Chiara': 17,
 'Alessandro': 3,
 'Sofia': 15}

### Svuotamento di un dizionario con il metodo `clear()`

Il metodo `clear()` svuota il dizionario.

In [112]:
my_dict.clear()
my_dict

{}

## Scansione delle chiavi di un dizionario

### Operatore `in`

L'espressione:

    my_key in my_dict
    
restituisce il valore `True` (di tipo `bool`) se la *chiave* `my_key` è presente nel dizionario `my_dict`.

In [113]:
'Tommaso' in my_dict

False

### Scansione delle chiavi con operatore `in`

**Sintassi di scansione di un dizionario**:

    for key in my_dict:
        do_something
        
dove:
- `my_dict` è il dizionario le cui *chiavi* sono da considerare una dopo l'altra
- `key` è la variabile che durante la scansione assume il valore della *chiave* di volta in volta considerata
- `do_something` sono le istruzioni da eseguire per ogni *chiave* considerata
        
**Regole**:

- le istruzioni in `do_something` devono essere indentate 4 volte rispetto alla riga di intestazione
- una riga vuota è necessaria dopo l'ultima istruzione

In [4]:
my_dict = {'Silvia' : 45, 'Roberto': 47, 'Arianna' : 18, 'Tommaso' : 13}

for key in my_dict:
    print(key)

Silvia
Roberto
Arianna
Tommaso

## Tre metodi utili degli oggetti dizionario

- il metodo `values()` restituisce la lista dei *valori* del dizionario invocante in un oggetto `dict_values`.

In [17]:
values = my_dict.values()
values

dict_values([45, 47, 18, 13])

In [14]:
for value in values:
    print(value)

45
47
18
13

In [16]:
list(values)

[45, 47, 18, 13]

- il metodo `keys()` restituisce la lista delle *chiavi* del dizionario invocante in un oggetto di tipo `dict_keys`

In [18]:
my_dict.keys()

dict_keys(['Silvia', 'Roberto', 'Arianna', 'Tommaso'])

- il metodo `items()` restituisce la lista delle tuple (*chiave*, *valore*) del dizionario invocante in un oggetto di tipo `dict_items`.

In [127]:
my_dict.items()

dict_items([('Silvia', 46), ('Roberto', 47), ('Andrea', 12), ('Chiara', 17)])

## Un dizionario particolare: il contatore

Un contatore è un dizionario i cui *valori* sono oggetti di tipo `int` ed esprimono dei conteggi.

Un contatore è un oggetto di tipo `Counter`.

Per costruire e usare un contatore occorre importare l'oggetto di tipo `Counter` dal modulo `collections`:

    from collections import Counter

## Costruzione di un contatore

Un contatore viene costruito con il costruttore di oggetti `Counter()`, a cui viene passata come argomento una *sequenza*. Si ottiene un dizionario in cui le *chiavi* sono gli elementi distinti della *sequenza* e i *valori* esprimono il numero di volte con cui appaiono nella *sequenza*.

In [19]:
from collections import Counter

c1 = Counter('abbcdaddb')
c1

Counter({'a': 2, 'b': 3, 'c': 1, 'd': 3})

In [154]:
c2 = Counter([1, 1, 1, 2, 2, 5, 6, 7, 1])
c2

Counter({1: 4, 2: 2, 5: 1, 6: 1, 7: 1})

**NOTA BENE**: non si può costruire un contatore su una *sequenza* di oggetti di tipo `list` in quanto le liste sono oggetti ***mutabili*** e non possono quindi essere le *chiavi* di un dizionario.

In [155]:
c3 = Counter([[1, 2], [1, 2], [3, 4]])
c3

TypeError: unhashable type: 'list'

Basta trasformare in tuple le liste di due elementi.

In [21]:
c4 = Counter([(1, 2), (1, 2), (3, 4)])
c4

Counter({(1, 2): 2, (3, 4): 1})

## Il metodo `most_common()` dei contatori

Il metodo `most_common()` restituisce una lista di tuple di dimensione due contenenti le coppie *(chiave,  valore)* ordinate per *valore* (conteggio) decrescente.

In [22]:
c1 = Counter('abbcdaddb')
c1.most_common()

[('b', 3), ('d', 3), ('a', 2), ('c', 1)]

## Definizione di insieme
- oggetto ___mutabile___
- oggetto di tipo `set`
- collezione di valori distinti (anche di tipo diverso) non indicizzati (né per posizione né per *chiave*)

## Costruzione di un insieme tramite la funzione `set()`

Qualche esempio di costruzione di un insieme con la funzione `set()`.

Insieme vuoto:

In [162]:
set()

set()

Insieme delle chiavi di un dizionario:

In [23]:
my_dict = {'Silvia' : 45, 'Roberto': 47, 'Arianna' : 18, 'Tommaso' : 13}
set(my_dict)

{'Arianna', 'Roberto', 'Silvia', 'Tommaso'}

Insieme dei caratteri di una stringa:

In [24]:
set('aaaabbbaacbaa')

{'a', 'b', 'c'}

Insieme dei valori di una lista:

In [165]:
set([1, 1, 2, 2, 3, 3, 4, 4, 5, 5])

{1, 2, 3, 4, 5}

## Dimensione di un insieme

La funzione `len()` restituisce la dimensione dell'insieme passato come argomento, cioé il numero dei valori contenuti.

In [166]:
len(set('aaaabbbaacbaa'))

3

## Scansione di un insieme

### Operatore `in`

L'espressione:

    my_value in my_set
    
restituisce il valore `True` (di tipo `bool`) se il valore `my_value` è presente nell'insieme `my_set`.

In [167]:
'a' in set('abbacca')

True

### Scansione dei valori con l'operatore `in`

**Sintassi di scansione di un insieme**:

    for value in my_set:
        do_something
        
dove:
- `my_set` è l'insieme i cui valori sono da considerare una dopo l'altro
- `value` è la variabile che durante la scansione assume il valore di volta in volta considerato
- `do_something` sono le istruzioni da eseguire per ogni valore considerato
        
**Regole**:

- le istruzioni in `do_something` devono essere indentate 4 volte rispetto alla riga di intestazione
- una riga vuota è necessaria dopo l'ultima istruzione

In [168]:
for value in set([1, 1, 2, 3, 3, 4]):
    print(value)

1
2
3
4

## Operatori di confronto tra insiemi

Le espressioni

    my_set1 == my_set2
    my_set1 < my_set2
    my_set1 > my_set2
   
restituiscono `True` se (rispettivamente):
- l'insieme `my_set1` coincide con `my_set2`
- l'insieme `my_set1` è un sottoinsieme di `my_set2`
- l'insieme `my_set1` è un superinsieme di `my_set2`

In [169]:
set('abbbabbaba') < set('abbbaaccccaaa')

True

In [170]:
set('abbbabbaba') == set('abbbaaccccaaa')

False

## Operazioni su un insieme

- il metodo `add()` aggiunge all'insieme invocante il valore passato come argomento

In [27]:
my_set = set('abbbaaccccaaa')
my_set

{'a', 'b', 'c'}

In [28]:
my_set.add('d')
my_set

{'a', 'b', 'c', 'd'}

In [29]:
my_set.add('a')
my_set

{'a', 'b', 'c', 'd'}

- il metodo `discard()` rimuove dall'insieme invocante il valore passato come argomento (se questo è presente)

In [30]:
my_set.discard('a')
my_set

{'b', 'c', 'd'}

**NOTA BENE**: esiste anche il metodo `remove()` che rimuove il valore e se questo non è presente lancia un'eccezione di tipo `KeyError`.

- il metodo `union()` restituisce l'unione tra l'insieme invocante l'insieme passato come argomento

In [31]:
my_set

{'b', 'c', 'd'}

In [32]:
my_set.union(set('dddeefffeffegg'))

{'b', 'c', 'd', 'e', 'f', 'g'}

- il metodo `intersection()` restituisce l'intersezione tra l'insieme invocante e l'insieme passato come argomento

In [33]:
my_set

{'b', 'c', 'd'}

In [34]:
my_set.intersection(set('dddeefffeffegg'))

{'d'}

- il metodo `difference()` restituisce la differenza tra l'insieme invocante e l'insieme passato come argomento (restituisce cioé l'insieme di tutti i valori dell'insieme invocante che non stanno nell'insieme passato come argomento)

In [36]:
my_set

{'b', 'c', 'd'}

In [35]:
my_set.difference(set('dddeefffeffegg'))

{'b', 'c'}

- il metodo `clear()` svuota l'insieme invocante

In [37]:
my_set.clear()
my_set

set()