# Esercizio 2

Considerare il file `movies.csv` ottenuto estraendo i primi 1000 record del dataset scaricabile all'indirizzo https://www.kaggle.com/rounakbanik/the-movies-dataset#movies_metadata.csv.
Tale dataset è in formato csv e contiene, in *record* di 24 campi separati da virgola, le informazioni su film.

Il file `movies.csv` contiene solo un subset dei campi del dataset originale.

--- 

I campi del file csv che occorrono per risolvere l'esercizio sono:

- `id`: indice progressivo
- `genres`: stringa che rappresenta il letterale di una lista di dizionari con chiavi `id` e `name` che forniscono ciascuno un genere

        [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}]
        
- `original_title`: titolo originale
- `popularity`: valore di popolarità
- `tagline`: tagline del film
- `original_language`: lingua originale
- `production_countries`: stringa che rappresenta il letterale di una lista di dizionari con chiavi `iso_3166_1` e `name` che forniscono ciascuno un paese di origine

         [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]

***

Si richiede di:
- elencare i 10 paesi che hanno prodotto più film, ordinandoli per numero decrescente di film prodotti, specificando per ognuno il numero di film prodotti
- fornire per ognuno dei generi cinematografici presenti nel dataset la classifica degli N (parametro in input) film più popolari (per quel genere) ordinandoli per popolarità decrescente e specificando per ognuno di essi il titolo originale e la tagline
- l'insieme delle lingue originali che sono coinvolte nella classifica precedente

---

Parametri di input:
- dataset dei film
- parametro N

---

Requisiti generali:

- definire una funzione `get_items()` che prenda in input uno qualsiasi tra i due campi `genres`e `production_countries` (indifferentemente) ed estragga
    - la lista dei generi nel caso si passi come argomento il valore di un campo `genres`
    - la lista dei paesi di produzione nel caso si passi come argomento il valore di un campo `production_countries`

Produrre l'output nelle seguenti variabili:

- lista di 10 tuple di due elementi `(nome di paese, numero di film prodotti)` contenenti i primi 10 paesi che hanno prodotto più film, ordinate per numero decrescente di film prodotti
- dizionario delle classifiche per genere dei primi N film ordinati per popolarità decrescente:
    - *chiave*: genere di un film
    - *valore*: lista di N liste di due elementi `[titolo originale, tagline]` con i primi N film ordinati per popolarità decrescente
- dizionario degli insiemi delle lingue coinvolte in ciascuna delle classifiche precedenti per genere:
    - *chiave*: genere di un film
    - *valore*: insieme delle lingue originali coinvolte

***

### 1) Come leggere un file csv

Il modulo `pandas` permette di leggere un file in formato csv (anche zippato) tramite la funzione `read_csv()`, che prende come argomento il nome del file da leggere.

L'oggetto restituito è un oggetto di tipo `DataFrame` (un *data frame*), cioé una tabella organizzata in righe (*record*) e colonne intestate.

Il codice seguente

    import pandas as pd
    df = pd.read_csv(input_file_name)
        
legge il file `input_file_name` e lo restituisce in un oggetto di tipo `DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('movies.csv')
df

,id,genres,original_title,popularity,tagline,original_language,production_countries
0,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,21.946943,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
1,1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,17.015539,Roll the dice and unleash the excitement!,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
2,2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,11.712900,Still Yelling. Still Fighting. Still Ready for...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
3,3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,3.859495,Friends are the people who let you be yourself...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
4,4,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,8.387519,Just When His World Is Back To Normal... He's ...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
5,5,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Heat,17.924927,A Los Angeles Crime Saga,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
6,6,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",Sabrina,6.677277,You are cordially invited to the most surprisi...,en,"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is..."
7,7,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Tom and Huck,2.561161,The Original Bad Boys.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
8,8,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Sudden Death,5.231580,Terror goes into overtime.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
9,9,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",GoldenEye,14.686036,No limits. No fears. No substitutes.,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'..."
10,10,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",The American President,6.318445,Why can't the most powerful man in the world h...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
11,11,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",Dracula: Dead and Loving It,5.430331,NaN,en,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
12,12,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",Balto,12.140733,Part Dog. Part Wolf. All Hero.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
13,13,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",Nixon,5.092000,"Triumphant in Victory, Bitter in Defeat. He Ch...",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
14,14,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Cutthroat Island,7.284477,The Course Has Been Set. There Is No Turning B...,en,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
15,15,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",Casino,10.137389,No one stays at the top forever.,en,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
16,16,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Sense and Sensibility,10.673167,Lose your heart and come to your senses.,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'..."
17,17,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",Four Rooms,9.026586,Twelve outrageous guests. Four scandalous requ...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
18,18,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",Ace Ventura: When Nature Calls,8.205448,New animals. New adventures. Same hair.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
19,19,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",Money Train,7.337906,"Get on, or GET OUT THE WAY!",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
20,20,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",Get Shorty,12.669608,"The mob is tough, but it’s nothing like show b...",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
21,21,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Copycat,10.701801,One man is copying the most notorious killers ...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
22,22,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Assassins,11.065939,"In the shadows of life, In the business of dea...",en,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
23,23,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",Powder,12.133094,An extraordinary encounter with another human ...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
24,24,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Leaving Las Vegas,10.332025,I Love You... The Way You Are.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
25,25,"[{'id': 18, 'name': 'Drama'}]",Othello,1.845899,"Envy, greed, jealousy and love.",en,"[{'iso_3166_1': 'IT', 'name': 'Italy'}]"
26,26,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Now and Then,8.681325,In every woman there is the girl she left behind.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
27,27,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Persuasion,2.228434,NaN,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'..."
28,28,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",La Cité des Enfants Perdus,9.822423,Where happily ever after is just a dream.,fr,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso..."
29,29,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",摇啊摇，摇到外婆桥,1.100915,In 1930's Shanghai violence was not the proble...,zh,"[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_..."
...,...,...,...,...,...,...,...
970,970,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",2 Days in the Valley,4.989276,You have one minute to decide the rest of your...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
971,971,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",Curdled,2.781581,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
972,972,"[{'id': 35, 'name': 'Comedy'}]",L'associé,0.000308,NaN,en,[]
973,973,[],Ed's Next Move,0.550278,It's the hardest move a guy has to make.,en,[]
974,974,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Extreme Measures,4.990506,Not all surgery is intended to cure.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
975,975,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",The Glimmer Man,5.918737,Two good cops. One bad situation.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
976,976,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",D3: The Mighty Ducks,5.511475,No Fear. No Limits. No Brakes. Just Ducks.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
977,977,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",The Chamber,3.998494,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
978,978,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",The Apple Dumpling Gang,4.040945,"Wanted: For chicanery, skulduggery, tomfoolery...",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
979,979,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","Davy Crockett, King of the Wild Frontier",5.497359,NOW...on the MOTION PICTURE SCREEN!,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
980,980,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Escape to Witch Mountain,7.151691,Caught in a world where they don't belong... t...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
981,981,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",The Love Bug,10.091707,Herbie will honk his way into your heart.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
982,982,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Herbie Rides Again,4.914603,The Loveable Bug's back doin' his thing!,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
983,983,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",Old Yeller,12.887829,"All the heart, all the excitement of a great f...",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
984,984,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",The Parent Trap,5.807074,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
985,985,"[{'id': 12, 'name': 'Adventure'}]",Pollyanna,3.254308,"Meet the people, the pleasure, the entertainme...",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
986,986,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",Homeward Bound: The Incredible Journey,7.186506,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
987,987,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",The Shaggy Dog,3.404213,"""I was a Teen-age boy!""",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
988,988,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",Swiss Family Robinson,4.623089,THE ADVENTURE OF ADVENTURES!,en,"[{'iso_3166_1': 'TT', 'name': 'Trinidad and To..."
989,989,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",That Darn Cat!,2.803679,It takes a Siamese secret agent to unravel the...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
990,990,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","20,000 Leagues Under the Sea",8.722406,The mightiest motion picture of them all!,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
991,991,"[{'id': 35, 'name': 'Comedy'}]",Cool Runnings,8.307210,One dream. Four Jamaicans. Twenty below zero.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
992,992,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",Angels in the Outfield,10.892812,Ya Gotta Believe!,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
993,993,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",Cinderella,14.436858,The greatest love story ever told.,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
994,994,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",Winnie the Pooh and the Blustery Day,1.054814,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
995,995,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",The Three Caballeros,8.702472,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
996,996,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",The Sword in the Stone,10.636458,Tired of living in a Medieval mess...Merlin us...,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
997,997,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",So Dear to My Heart,0.901443,NaN,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
998,998,"[{'id': 12, 'name': 'Adventure'}]",Robin Hood: Prince of Thieves,10.639244,"For the good of all men, and the love of one w...",en,"[{'iso_3166_1': 'US', 'name': 'United States o..."
999,999,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",Mary Poppins,15.115490,It's supercalifragilisticexpialidocious!,en,"[{'iso_3166_1': 'US', 'name': 'United States o..."

Per iterare lungo i record del *data frame* basta invocare il metodo `iterrows()` che restituisce un oggetto di tipo `generator` da usare in un ciclo `for` di scansione.

    for (index, record) in df.iterrows():
        do_something

Ogni elemento fornito dell'iteratore è una tupla di due elementi:
- `index`: indice progressivo del record (valore intero)
- `record`: oggetto di tipo `Series` che contiene i campi del *record*

L'accesso al campo relativo alla colonna con nome `column_name` del *record* `record` avviene usando la seguente sintassi:

    record[column_name]
    
**NOTA BENE**: il valore restituito da `record[column_name]` rispetta il tipo della colonna `column_name` nel file csv in input. Ad esempio se il campo nel dataset csv è un valore decimale allora il valore di `record[column_name]` sarà di tipo `float`.

In [2]:
for (index, record) in df.iterrows():
    print(record['popularity'])

21.946943
17.015539
11.7129
3.859495
8.387519000000001
17.924927
6.677277
2.561161
5.23158
14.686035999999998
6.318445
5.430331
12.140733
5.092
7.284477000000001
10.137389
10.673167
9.026586
8.205447999999999
7.3379059999999985
12.669608
10.701801
11.065939
12.133094
10.332025
1.845899
8.681325
2.228434
9.822423
1.100915
9.481338
12.297305
0.745542
14.404764000000002
1.4933610000000002
6.891317
0.114469
7.777735000000002
9.882383
0.894647
4.561387
9.87957
10.979269
10.870138
10.448481
4.485958
18.45743
13.280069
3.302524
16.302466
0.595949
15.899134
1.361286
5.982764
4.093443
0.307075
8.416802
10.168437
0.120789
10.673296
4.733526
7.137117
11.700115
2.174487
6.387469
2.49535
4.046208
2.518051
14.56965
15.339153
5.912223
3.3672760000000004
1.4794459999999998
10.412194
2.936443
12.758848
0.133893
5.756462
6.010579
1.196256
4.486179
2.030174
0.252287
0.531159
2.15166
9.568604
4.814825
8.963037
6.848591000000001
0.411424
12.866139
9.071127
4.670562
14.957626
0.5133909999999999
12.108196
2.6576470000000003
0.638211
4.8072230000000005
6.904831
3.329264
2.464425
9.592265
5.951077
1.015068
6.902423
0.976707
0.0013460000000000002
20.755149
14.092713
12.314278
2.938293
0.372697
1.254885
0.243986
6.178497
2.891918
1.522412
1.317878
0.86539
6.506983
6.778979
1.702639
5.579088
6.252377
0.406754
0.001178
0.699066
2.197439
0.637554
11.418917
0.29102100000000003
0.001838
5.184977
0.276401
0.5404359999999999
0.370342
0.001205
3.402749
6.4996800000000015
0.918504
2.039196
9.262184
2.375865
7.4151440000000015
0.922958
1.7590119999999998
18.761467
10.193549
3.137285
13.321354
10.142662
2.04189
11.528147
5.391556
12.812539
4.558992
7.260574
8.657364999999999
3.620388
6.950458
4.646132
15.138855
7.120806
0.523575
15.178338
7.575098
14.810519
3.196456
11.715868
8.184814999999999
3.676921
4.877872
10.058329
4.102409
0.354014
2.624771
8.255469999999999
7.0242270000000016
1.01115
2.466066
7.720056
13.304342000000002
8.482834
1.165039
10.187623
0.119713
8.180047
6.752119
0.15959600000000002
17.502375
5.552946
3.743212
13.492845
0.913522
11.223055
8.133881
1.820419
11.002046
4.546551999999998
7.6534460000000015
7.490247
2.881689
0.7860229999999999
9.715639
16.885184
1.834099
8.922139
3.727644
3.287036
2.486073
3.525649
11.304979
6.638116
2.761837
3.030309
2.686342
2.2697700000000003
2.605521
10.513367
7.438934
11.812244
0.155859
9.579155
0.710671
5.484156
5.8025
9.844558
4.860016000000001
5.378467
4.322726
11.720358
9.146544
16.236745000000006
2.657337
10.177977
8.182165
4.953936
8.935058
0.398924
0.090452
1.012197
9.47666
9.438042
2.688562
7.983666
9.546707
2.756986
5.1463519999999985
11.970205
1.596058
0.748846
6.710215
9.195256
5.874511
7.7975119999999984
42.149697
9.774994
7.731725
0.8450799999999999
1.948315
4.126083
12.199047
9.253362
1.861292
1.788829
3.290192
7.698525999999998
4.81307
14.287753
2.558118
2.899608
3.770115
5.831622
1.137266
3.1212880000000003
9.518564
2.891269
5.930957
0.629955
0.004536999999999999
0.4269520000000001
1.466491
0.769522
11.226856
4.936761
4.025276
6.448039
13.676444
20.477329
1.4335440000000002
0.463307
140.95023600000005
7.1601490000000005
1.638622
1.881932
7.7725050000000016
1.296912
4.405405
7.54701
3.395867
6.2594330000000005
7.8327550000000015
8.843517
6.5898
0.07825700000000001
1.155255
0.499601
1.390885
8.910461999999997
1.7504810000000002
10.388183
13.328924
9.665424
51.645403
8.223025999999999
1.298224
1.777197
5.869261
1.407427
5.05806
5.260627
7.602086999999999
9.455342
8.105708
2.86007
0.7042039999999999
6.529879
11.971318
7.039846000000002
2.059771
0.620873
10.3919
5.188399
15.783615
3.908596
0.372239
5.254847
2.15805
11.247957
8.328596000000001
2.487951
11.298195
5.72288
7.513244999999999
15.263829
6.924689
2.5330220000000003
15.799335999999998
2.5833630000000003
15.019586
48.307194
8.990345
7.817811
0.289295
3.570874
11.272073
10.714235
0.5688840000000001
21.605761
5.681522
9.860522
14.13488
15.050326
4.739054
10.587232
4.006063
6.514592
5.137903
6.595255
4.931565
10.511241
10.859292
2.334226
8.907074
11.396099
4.3225440000000015
14.063845
9.277147
0.912415
0.406113
2.504529
3.021526
0.054148
0.934312
4.220541000000001
0.912909
0.381704
13.58449
2.342756
0.251223
1.108494
0.268043
0.14235699999999998
0.405392
0.014925
0.30295700000000003
0.012456
0.23337600000000006
0.0368
6.866634
0.100685
8.497643
1.888534
4.38154
17.555909
0.394194
8.013617
7.09232
1.896273
12.967239
14.644772
1.632711
2.783872
5.673735
11.787784
8.398845
3.0028200000000003
13.155071
6.131056
4.993829
6.559692999999998
4.304224
6.115628
1.679042
1.316741
8.698509
8.605703
2.724621
9.830853
10.722729
14.228963
7.042878
4.286279
2.70097
13.696394
6.8652
11.626116
0.408159
2.970724
3.555139
4.875826999999999
1.344876
9.284624
0.985441
2.969003
1.896869
0.409427
8.468869
9.678367
5.990572
3.970215
10.08937
4.653462
14.214403
2.410545
0.775898
5.22583
5.385108
7.834351
4.1905410000000005
13.482371
2.138959
5.331753
10.687795
0.996047
7.550545
1.7429740000000002
6.071466
12.637158
7.405895
0.6133350000000001
14.820882999999998
4.563989
5.538671
8.863776
8.4337
4.948569
4.3753470000000005
3.645342
9.434006
6.446229
2.913584
6.5169760000000005
5.43085
9.861672
5.997712
8.939404
5.260924
13.106291
8.932494
0.534606
8.627239999999999
6.579753
13.011091
11.16553
8.665198
9.9697
0.5962069999999999
9.715187
15.534707
3.800785
8.040589
13.373006
7.436758
6.9725990000000015
3.199976
7.272296000000001
8.506727
5.868677
12.222576
4.985157
6.279082
3.416181
8.685798
17.136672
9.796318
5.157926
0.941994
5.914833
1.065843
1.031556
41.725123
5.7156080000000005
12.048587
0.8825959999999999
6.499523
5.305311
7.881107000000001
2.96586
8.829336999999997
4.13516
2.86213
8.730025
10.234919
11.23297
96.272374
9.122718
8.051914
13.390917000000002
1.825468
7.198455
3.644641000000001
8.012225
0.8730680000000001
10.82236
17.730913
6.34785
11.338194
0.8558600000000001
17.189328
1.273617
7.436000999999999
0.741522
0.38247
0.422224
5.14056
2.759302
9.85327
5.513024
0.449733
3.647321
0.4415850000000001
1.960563
1.764582
0.00015
0.002789
3.456868
2.799575
6.707109
8.2e-05
3.139316
0.046196
1.943323
6.784687
1.040873
2.904734
1.213481
4.233092
0.702543
11.945397
16.357419
22.661695
11.654349
0.426887
19.10673
4.307222
16.263878
23.433511
14.202284
13.348451
0.345748
11.722424
3.4052300000000004
0.088451
0.076352
2.47308
7.009946
4.983552
1.461029
12.61469
14.657754
7.640072999999999
5.263187
8.174116
2.420301
0.618066
1.306628
9.834047
2.286788
1.620174
5.174212000000002
0.736081
0.5169239999999999
0.173207
0.793932
1.983301
2.2567470000000003
4.619915
10.326213
0.065827
1.67218
5.028897
6.144235
0.466476
2.583686
6.207993
0.319215
5.70904
1.523446
4.405169
4.530079
4.728163
0.14915699999999998
0.066123
0.002229
1.784647
11.595316
15.793477
0.4949770000000001
2.337263
0.821299
0.396626
23.63659
0.439989
0.622885
3.09233
1.558066
0.002444
3.804493
0.987434
13.217623
6.954926
2.299851
1.2968620000000002
14.587894
3.582047
3.085207
3.900709
2.381806
2.985163
0.001662
11.054251
14.304205
0.062388
0.466991
0.459376
0.117662
4.658149
2.2722130000000003
0.18343
0.004117
0.400023
2.791667
0.487357
4.357971
0.122178
9.1861
1.899069
0.7106600000000001
10.68537
1.217249
0.8778530000000001
10.298582
1.099187
0.006854000000000001
2.25008
0.755047
7.918417999999999
1.579153
7.941972
0.947007
1.231692
5.7946300000000015
5.121203
10.813579
1.940747
4.557006
1.926109
0.709209
6.505272
1.690768
6.035166
1.133409
7.326169
8.768806
0.037443
0.003949
12.860385
3.321765
1.196686
0.005625
1.92386
0.543042
9.264679
0.343579
13.249823999999998
0.7466619999999999
6.247819
8.739144
5.877599
0.125882
0.652621
10.686166
4.856229
8.202057
0.594716
6.796858
4.386329
1.751457
6.497591000000001
0.068254
9.80398
0.160571
0.75
0.8510780000000001
5.508101
1.048075
0.146287
5.215992
0.401531
0.0016079999999999998
7.667283999999999
8.079541
11.341502
1.427756
0.889498
6.287245
2.771201
0.365418
0.099602
0.514363
0.011938
0.043903
0.049573
1.794298
0.001687
0.8379110000000001
19.348466
2.7000610000000003
17.634197
6.418805
12.202063
13.553999
7.586577
11.633347
6.919314
0.10705
9.651581
0.202495
0.8263719999999999
0.043125
0.000308
0.05956
0.970688
0.147662
0.5734229999999999
11.995799
12.09096
9.069963
4.086563
5.5759919999999985
0.913281
10.827266
13.309013
7.031279
0.227128
2.318141
3.906949
8.962892
0.091984
3.521921
1.56604
0.926867
0.145092
9.898696
0.036699
1.116063
0.270432
1.683348
0.0005780000000000001
1.165202
0.106345
1.606957
7.523528
9.490858
10.177303
0.940228
8.772188
4.220058
0.8798520000000001
3.186891
15.874491
10.034915
6.593011
6.554678999999998
12.297782000000002
9.935891
3.4504019999999995
0.042365
0.001652
0.076062
1.663948
0.404501
1.19589
12.229381
1.781952
4.797674
6.24966
0.124273
0.969254
0.629807
0.03537
0.036478
41.109264
8.593319000000001
6.751864
1.143656
0.096079
0.90913
12.449574
3.714049
0.913987
5.130136
2.289647
0.14315
1.404588
0.364246
0.705136
0.001771
1.262539
0.6356689999999999
0.109406
7.699967
12.725343
6.5104370000000005
9.028947
0.234665
2.523605
7.859132000000002
0.978989
6.372442
0.062128
0.437895
8.768288
4.6966800000000015
6.038784
0.472479
0.14712999999999998
2.115268
14.373860999999998
8.888069
11.064858
5.565203
5.461487
10.879289
18.20822
17.911314
6.465257
14.545058
2.863935
12.410427
11.994281
11.845107
7.098731
13.916101
5.7825440000000015
12.494394
7.359741
11.954806
5.640722
7.331511
22.064932
14.240357
2.9236720000000003
11.709777
15.811921
22.494622
0.949155
12.06308
5.076649
8.590813
9.955445
10.135111
5.47596
9.813419
5.4905050000000015
2.469167
3.573935
5.120036
8.196679
10.36311
1.954175
10.685036
7.431939
9.884516
3.008607
3.166544
7.122093
7.274947999999998
5.480098
10.864284
6.4288300000000005
10.573867
9.88321
6.164226
15.031588
8.168694
6.60577
2.446972
0.284522
0.264695
1.831221
0.594433
4.709847
1.758391
0.8965049999999999
8.08426
5.865697
8.85591
1.450989
14.384198
6.636872
2.001733
11.794846
0.912955
10.750619
0.348765
0.367546
1.914697
0.283269
0.064512
1.0600969999999998
1.463219
8.500509
0.580724
0.537795
0.00264
5.5111550000000005
1.262649
9.364418
0.751733
7.370163000000002
6.728199000000001
6.746475
1.226688
2.702973
11.845918
1.625873
6.85606
4.989276
2.781581
0.000308
0.5502779999999999
4.990506
5.918737
5.511475

3.998494
4.040945
5.4973589999999986
7.1516910000000005
10.091707
4.914603
12.887829
5.807074
3.254308
7.186506
3.404213
4.623089
2.8036790000000003
8.722406
8.307210000000001
10.892812
14.436858
1.054814
8.702472
10.636458
0.901443
10.639244
15.11549

### 2) Come interpretare *letteralmente* una stringa

La funzione `literal_eval()` del modulo `ast`  prende come argomento una stringa e restituice l'oggetto rappresentato *letteralmente* dalla stringa.

In [3]:
import ast

ast.literal_eval("[1,2,3]")

[1, 2, 3]

### 3) Come testare se un valore è NaN (Not a Number)

La funzione `isnan()` del modulo `numpy` restituisce il valore `True` se il valore passato come argomento è NaN.

In [4]:
import numpy

numpy.isnan(10)

False

### 4) Funzioni/Metodi suggeriti

- la funzione `sorted()` prende come argomento un oggetto iterabile e restituisce la lista dei valori ordinati in senso crescente.

In [5]:
lista = [(11.02, 3), (10.2, 1), (11.02, 2), (2.34, 10)]
sorted(lista)

[(2.34, 10), (10.2, 1), (11.02, 2), (11.02, 3)]

- Il metodo `append()` degli oggetti di tipo `list` aggiunge in coda alla lista invocante il valore passato come argomento

In [6]:
lista = [1,2,3,4]
lista.append([5, 6])
lista

[1, 2, 3, 4, [5, 6]]

- Il metodo `extend()` degli oggetti di tipo `list` estende in coda la lista invocante con i valori contenuti nell'argomento passato

In [22]:
lista = [1,2,3,4]
lista.extend([5, 6])
lista

[1, 2, 3, 4, 5, 6]

- il metodo `get` degli oggetti di tipo `dict` permette di ottenere il valore relativo alla chiave passata come primo argomento e di restituire il secondo argomento (valore di default) se la chiave non è presente nel dizionario.

In [7]:
my_dict = {'due': 2, 'quattro': 4, 'sei': 6}

In [8]:
my_dict.get('due', -1)

2

In [9]:
my_dict.get('cinque', -1)

-1