# Python - Sequenze (Stringhe, Liste e Tuple)

> ### Definizione di sequenza
> ### Costruzione di una *sequenza*
> ### Dimensione di una *sequenza*
> ### Accesso agli elementi di una *sequenza*
> ### Concatenazione di *sequenze*
> ### Ripetizione di una *sequenza*
> ### Scansione degli elementi di una *sequenza*
> ### Aggiornamento di una lista
> ### Assegnamento multiplo
> ### List comprehension
> ### La funzione `enumerate()`

## Definizione di *sequenza*

**Sequenza**: collezione di oggetti su cui è possibile iterare e che sono indicizzati per posizione.

Stringhe, liste e tuple sono ***sequenze***, cioé oggetti su cui si può iterare e i cui elementi sono indicizzati tramite posizione.

**Stringa**: sequenza di caratteri
- Classe: `str`
- oggetto ___immutabile___

---

**Lista**: sequenza di valori anche di tipo diverso
- Classe: `list`
- oggetto ***mutabile***

**Tupla**: sequenza di valori anche di tipo diverso
- Classe: `tuple`
- oggetto ***immutabile***

## Costruzione di una *sequenza*

### Costruzione di una stringa
1. tramite letterale (sequenza di caratteri racchiusi tra singoli apici `'` o doppi apici `"`)
1. tramite funzione `str()`

**COSTRUZIONE TRAMITE LETTERALE**

In [5]:
print("ciao")

ciao

In [6]:
print('ciao')

ciao

Stringa vuota:

In [1]:
''

''

Se uso i doppi apici posso usare i singoli apici come caratteri della stringa (e viceversa).

In [7]:
print("'ciao'")

'ciao'

In [8]:
print('"ciao"')

"ciao"

Altrimenti devo usare il simbolo di escape.

In [9]:
print("\"ciao'")

"ciao'

In [10]:
print('\'ciao"')

'ciao"

**COSTRUZIONE CON LA FUNZIONE `str()`**

Stringa vuota:

In [13]:
str()

''

Costruzione con letterale stringa:

In [14]:
str("ciao")

'ciao'

Costruzione con espressione aritmetica:

In [15]:
str(3+4)

'7'

Costruzione con espressione di confronto:

In [17]:
str(34 > 0)

'True'

**NOTA BENE**: il valore restituito dalla chiamata `str(34 >0)` è la stringa dei caratteri `T`, `r`, `u` ed `e` e non il valore `True` di tipo `bool`.

### Costruzione di una lista

- tramite letterale `[value1, value2, ..., valueN]`
- tramite funzione `list()`

**COSTRUZIONE TRAMITE LETTERALE**

Lista vuota:

In [18]:
[]

[]

Lista di un solo valore:

In [19]:
[4]

[4]

Lista di tre valori dello stesso tipo:

In [20]:
[1,2,3]

[1, 2, 3]

Lista di tre valori di tipo diverso:

In [21]:
[10, 7.8, "ab"]

[10, 7.8, 'ab']

Lista di tre valori di tipo diverso di cui il terzo di tipo `list` (lista annidata):

In [22]:
[10, 7.8, [True, "ab"]]

[10, 7.8, [True, 'ab']]

**COSTRUZIONE CON LA FUNZIONE `list()`**

Lista vuota:

In [23]:
list()

[]

Costruzione con stringa:

In [24]:
list("abcde")

['a', 'b', 'c', 'd', 'e']

Costruzione con lista:

In [25]:
list([1,2,3,4])

[1, 2, 3, 4]

### Costruzione di una tupla
- tramite letterale `(value1, value2, ..., valueN)`

- tramite la funzione `tuple()`

**COSTRUZIONE TRAMITE LETTERALE**

Tupla vuota:

In [26]:
()

()

Tupla di un solo valore:

In [28]:
(4,)

(4,)

Tupla di tre valori dello stesso tipo:

In [29]:
(1,2,3)

(1, 2, 3)

Tupla di tre valori di tipo diverso:

In [30]:
(10, 7.8, "ab")

(10, 7.8, 'ab')

Tupla di quattro valori di tipo diverso di cui il terzo di tipo `list` (lista annidata) e il quarto di tipo `tuple` (tupla annidata):

In [31]:
(10, 7.8, [1,2], (3,4))

(10, 7.8, [1, 2], (3, 4))

**NOTA BENE**: le parentesi tonde nel letterale di una tupla sono opzionali (non possono però essere omesse nel caso di letterale di una tupla vuota).

In [34]:
10, 7.8, [1,2], (3,4)

(10, 7.8, [1, 2], (3, 4))

**COSTRUZIONE CON LA FUNZIONE `tuple()`**

Tupla vuota:

In [35]:
tuple()

()

Costruzione con stringa:

In [36]:
tuple("abcde")

('a', 'b', 'c', 'd', 'e')

Costruzione con lista:

In [37]:
tuple([1,2,3])

(1, 2, 3)

Costruzione con tupla:

In [41]:
tuple((1,2,3))

(1, 2, 3)

## Dimensione di una *sequenza*

 `len(my_sequence)` restituisce la dimensione della *sequenza* passata come argomento.

Dimensione di una stringa (numero di caratteri):

In [48]:
len("abcde")

5

Dimensione di una lista (numero di elementi):

In [49]:
len([1,2,3,4])

4

Dimensione di una tupla (numero di elementi):

In [44]:
len((1,2,3,4,5))

5

## Accesso agli elementi di una *sequenza*

Le posizioni degli elementi all'interno di una *sequenza* sono indicate tramite:

Indici di posizione **positivi**:

- `0`: posizione del primo elemento
- `1`: posizione del secondo elemento
- ...
- `len(sequence)-1`: posizione dell'ultimo elemento
    
Indici di posizione **negativi**:

- `-1`: posizione dell'ultimo elemento
- `2`: posizione del penultimo elemento
- ...
- `-len(sequence)`: posizione del primo elemento

### Accesso al singolo elemento

L'espressione:

    sequence[index]
    
restituisce l'elemento della *sequenza* `sequence` in posizione `index`.

**Accesso a un carattere di una stringa**

Accesso al quinto carattere tramite indice positivo:

In [45]:
stringa = 'Hello world!'
stringa[4]

'o'

**NOTA BENE**: `stringa[4]` restituisce un oggetto di tipo `str`.

Accesso al quinto carattere tramite indice negativo:

In [47]:
stringa = 'Hello world!'
stringa[-8]

'o'

**Accesso a un elemento di una lista**

Accesso al quarto elemento tramite indice positivo:

In [48]:
lista = [1, 2, 3, [4, 5]]
lista[3]

[4, 5]

Accesso al primo elemento della lista annidata:

In [49]:
lista = [1, 2, 3, [4, 5]]
lista[3][0]

4

Accesso al primo elemento tramite indice negativo:

In [2]:
lista = [1, 2, 3, [4, 5]]
lista[-len(lista)]

1

**Accesso a un elemento di una tupla**

Accesso al terzo elemento tramite indice positivo:

In [51]:
tupla = (1, 2, 3, 4)
tupla[2]

3

Accesso all'ultimo elemento tramite indice negativo:

In [52]:
tupla = (1, 2, 3, 4)
tupla[-1]

4

### Accesso a elementi consecutivi di una *sequenza* (operazione di *Slicing*)

L'epressione:

    sequence[start_index:end_index]
    
restituisce gli elementi della *sequenza* `sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1`.

**Accesso a caratteri consecutivi di una stringa (sottostringa)**

Accesso alla sottostringa dal terzo al settimo carattere tramite indici positivi:

In [3]:
stringa = 'Hello world!'
stringa[2:7]

'llo w'

Accesso alla sottostringa dal terzo al settimo carattere tramite indici negativi:

In [4]:
stringa = 'Hello world!'
stringa[-10:-5]

'llo w'

Accesso al prefisso dei primi tre caratteri tramite indici positivi:

In [5]:
stringa = 'Hello world!'
stringa[0:3]

'Hel'

In [6]:
stringa = 'Hello world!'
stringa[:3]

'Hel'

Accesso al suffisso che parte dal nono carattere tramite indici positivi:

In [7]:
stringa = 'Hello world!'
stringa[8:len(stringa)]

'rld!'

In [8]:
stringa = 'Hello world!'
stringa[8:]

'rld!'

Ottenere una copia della stringa:

In [20]:
stringa[0:len(stringa)]

'Hello world!'

In [21]:
stringa[:]

'Hello world!'

**Accesso a elementi consecutivi di una lista/tupla (sottolista/sottotupla)**

Accesso alla sottolista dal terzo al quarto elemento tramite indici positivi:

In [9]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:4]

[3, 4]

Accesso al suffisso di lista che parte dal terzo elemento tramite indici positivi:

In [26]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:]

[3, 4, 5, 6]

Ottenere una copia della lista:

In [10]:
lista = [1, 2, 3, 4, 5, 6]
lista[0:len(lista)]

[1, 2, 3, 4, 5, 6]

In [11]:
lista = [1, 2, 3, 4, 5, 6]
lista[:]

[1, 2, 3, 4, 5, 6]

Accesso al prefisso di tupla dei primi quattro elementi tramite indici positivi:

In [28]:
tupla = (1, 2, 3, 4, 5, 6)
tupla[:4]

(1, 2, 3, 4)

### Accesso a elementi non consecutivi di una *sequenza*

L'epressione:

    my_sequence[start_index:end_index:step]
    
equivale a considerare la sottosequenza di elementi consecutivi `sequence[start_index:end_index]` e a restituire gli elementi a partire dal primo (in posizione `start_index`), saltando ogni volta `step-1` elementi

**Accesso a caratteri non consecutivi di una stringa**

Accesso ai caratteri a partire dal secondo, saltando ogni volta due caratteri e terminando non oltre il settimo:

In [68]:
stringa = 'xAxxBxxCxx'
stringa[1:8:3]

'ABC'

Lo *slicing* con passo può essere utilizzato per invertire una sequenza:

In [69]:
stringa = 'Hello world!'
stringa[::-1]

'!dlrow olleH'

In [70]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## Concatenazione di *sequenze*

L'espressione:

    sequence1 + sequence2 + ... + sequenceN
   
restituisce la concatenazione di N sequenze dello stesso tipo.

In [71]:
"ciao " + "mondo"

'ciao mondo'

In [72]:
[1,2] + [3,4,5]

[1, 2, 3, 4, 5]

In [73]:
(1,2) + (3,4,5)

(1, 2, 3, 4, 5)

## Ripetizione di una *sequenza*

L'espressione:

    sequence * times
   
restituisce la ripetizione di `sequence` per `times` volte.

In [12]:
'ciao ' * 4

'ciao ciao ciao ciao '

In [75]:
[1,2] * 4

[1, 2, 1, 2, 1, 2, 1, 2]

In [76]:
(1,2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

## Scansione degli elementi una *sequenza*

### Operatore `in`

L'espressione:

    value in sequence
    
restituisce `True` se `value` è presente in `sequence`, altrimenti restituisce `False`

---

Controllo della presenza del carattere `h` nella stringa `Hello!`:

In [14]:
stringa = 'Hello!'
'h' in stringa

False

Controllo della presenza della sottostringa `llo` nella stringa `Hello!`:

In [15]:
stringa = 'Hello!'
'llo' in stringa

True

Controllo della presenza della stringa `ca` nella lista `[1, 2, 'acaa', 10.5]`:

In [79]:
lista = [1, 2, 'acaa', 10.5]
'ca' in lista

False

Controllo della presenza della lista `[1,2]` nella lista `[1, 2, 'acaa', 10.5]`:

In [16]:
lista = [1, 2, 'acaa', 10.5]
[1,2] in lista

False

### Scansione con operatore `in`

**Sintassi di scansione di una *sequenza***:

    for value in sequence:
        do_something
        
- `sequence`: *sequenza* i cui valori (elementi) sono da scandire da sinistra a destra
- `value`: variabile di scansione
- `do_something`: blocco di istruzioni da eseguire per ogni valore considerato
        
**NOTA BENE:** le istruzioni in `do_something` devono essere indentate 4 volte rispetto alla riga di intestazione

---

Scansione e stampa dei caratteri di una stringa:

In [81]:
stringa = 'world'
for c in stringa:
    print(c)

w
o
r
l
d

Scansione e stampa dei valori (elementi) di una lista:

In [82]:
lista = [3, 45.6, 'ciao']
for value in lista:
    print(value)

3
45.6
ciao

Scansione e stampa a video degli elementi della tupla:

In [18]:
tupla = 3, 45.6, 'ciao'
for value in tupla:
    print(value)

3
45.6
ciao

## Aggiornamento di una lista

### Aggiornamento di un singolo elemento

L'istruzione di assegnamento:

    list[index] = new_value
    
sostituisce l'elemento della lista `list` in posizione `index` con il nuovo valore `new_value`.

---

Sostituire il quarto elemento con il valore 0:

In [39]:
lista = [1, 1, 1, 1, 1, 1, 1]
lista[3] = -100
lista

[1, 1, 1, -100, 1, 1, 1]

Che differenza c'è tra le seguenti istruzioni di assegnamento?

In [40]:
lista = [1, 1, 1, 1, 1, 1, 1]

lista2 = lista
lista3 = lista[:]

In [41]:
lista[-1] = 100
lista

[1, 1, 1, 1, 1, 1, 100]

In [42]:
lista2

[1, 1, 1, 1, 1, 1, 100]

In [43]:
lista3

[1, 1, 1, 1, 1, 1, 1]

### Aggiornamento di più elementi di una lista

Le due istruzioni di assegnamento:

    my_list[start_index:end_index] = new_list
    my_list[start_index:end_index:step] = new_list
    
sostituiscono la sottolista di `my_list` ottenuta tramite *slicing* con la lista `new_list`.

Sostituire i tre elementi consecutivi dal quarto al sesto:

In [88]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3:6] = ['*', '*', '*']
lista

[1, 2, 3, '*', '*', '*', 7]

Cancellare i tre elementi consecutivi dal quarto al sesto:

In [90]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3:6] = []
lista

[1, 2, 3, 7]

Inserire tre asterischi prima del secondo elemento:

In [53]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[1:1] = ['*', '*', '*']
lista

[1, '*', '*', '*', 2, 3, 4, 5, 6, 7]

Aggiungere in coda tre asterischi:

In [94]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[len(lista):len(lista)] = ['*', '*', '*']
lista

[1, 2, 3, 4, 5, 6, 7, '*', '*', '*']

Aggiungere in testa tre asterischi:

In [96]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[:0] = ['*', '*', '*']
lista

['*', '*', '*', 1, 2, 3, 4, 5, 6, 7]

Aggiornare gli elementi in posizione di indice pari con il valore 0:

In [100]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[::2] = [0, 0, 0, 0]
lista

[0, 2, 0, 4, 0, 6, 0]

### Cancellazione di un elemento con l'operatore `del`

L'istruzione:

    del my_list[index]

 rimuove dalla lista `my_list` l'elemento in posizione di indice `index`.
 
 ---
 
 Cancellare il terzo elemento:

In [101]:
lista = [1, 2, 3, 4]
del lista[2]
lista

[1, 2, 4]

### Cancellazione di più elementi di una lista con l'operatore `del`

Le istruzioni:

    del my_list[start_index:end_index]
    del my_list[start_index:end_index:step]

rimuovono dalla lista `my_list` gli elementi prodotti dall'operazione di *slicing*.

---

Cancellare gli elementi dal terzo al quinto:

In [103]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]
del lista[2:5]
lista

[1, 2, 6, 7, 8]

Cancellare gli elementi in posizione di indice positivo dispari:

In [104]:
lista = [0, 1, 2, 3, 4, 5, 6, 7]
del lista[1::2]
lista

[0, 2, 4, 6]

##  Assegnamento multiplo

L'istruzione di assegnamento:

    (my_var1, my_var2, ..., my_varN) = sequence
    
assegna alle N variabili specificate nella tupla a sinistra i valori della *sequenza* `sequence` specificata a destra.

Le parentesi sono opzionali:

    my_var1, my_var2, ..., my_varN = sequence

**NOTA BENE**: `sequence` deve avere dimensione pari a N.

---

Assegnare i quattro caratteri della stringa "1234" a quattro variabili diverse:

In [109]:
v1, v2, v3, v4 = "1234"
v4

'4'

Assegnare i quattro elementi della lista `[1,2,3,4]` a quattro variabili diverse:

In [114]:
v1, v2, v3, v4 = [1,2,3,4]
v4

4

Assegnare i quattro elementi della tupla `(1,2,3,4)` a quattro variabili diverse:

In [63]:
v1, v2, v3, v4 = 1,2,3,4

Scambiare il valore tra due delle variabili precedenti:

In [64]:
v1

1

In [66]:
v2

2

In [67]:
v1,v2 = v2,v1

In [69]:
v1

2

In [70]:
v2

1

Scandire una lista di tuple di due elementi stampando ogni volta i due elementi separatamente:

In [125]:
lista = [(1, 2), (3, 4), (5, 6)]
for (a,b) in lista:
    print(str(a)+' '+str(b))

1 2
3 4
5 6

## List comprehension

L'istruzione:

    [expression for value in sequence if condition]
    
equivale a scrivere:

    for value in sequence:
        if condition:
            expression
            
con la differenza che i valori restituiti da `expression` vengono restituiti tutti in un oggetto di tipo `list`.

**NB**: la clausola if è opzionale.

In [44]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for v in lista:
    if v % 2 == 0:
        v+1

In [45]:
[v+1 for v in lista if v % 2 == 0]

[3, 5, 7, 9, 11]

In [46]:
nuova_lista = []

for v in lista:
    if v % 2 == 0:
        nuova_lista.append(v+1)
        
nuova_lista

[3, 5, 7, 9, 11]

Scrivere la list comprehension che produce la lista dei caratteri separati concatenati alla cifra 1.

In [47]:
stringa = 'ciao'
[e+"1" for e in stringa]

['c1', 'i1', 'a1', 'o1']

La list comprehension nella sua sintassi più generale:

    [expression for v1 in seq1 for v2 in seq2 ... for vN in seqN if condition]
    
equivale a scrivere:

    for v1 in seq1:
        for v2 in seq2:
            ...
                for vN in seqN:
                    if condition:
                        expression

Scrivere la list comprehension che produce la lista delle stringhe ottenute combinando tra di loro in tutti i modi possibili i caratteri della stringa, gli elementi della lista e gli elementi della tupla:

In [128]:
stringa = 'ciao'
lista = [1, 2, 3, 4]
tupla = ('a', 'b', 'c')
[x+str(y)+z for x in stringa for y in lista for z in tupla]

['c1a',
 'c1b',
 'c1c',
 'c2a',
 'c2b',
 'c2c',
 'c3a',
 'c3b',
 'c3c',
 'c4a',
 'c4b',
 'c4c',
 'i1a',
 'i1b',
 'i1c',
 'i2a',
 'i2b',
 'i2c',
 'i3a',
 'i3b',
 'i3c',
 'i4a',
 'i4b',
 'i4c',
 'a1a',
 'a1b',
 'a1c',
 'a2a',
 'a2b',
 'a2c',
 'a3a',
 'a3b',
 'a3c',
 'a4a',
 'a4b',
 'a4c',
 'o1a',
 'o1b',
 'o1c',
 'o2a',
 'o2b',
 'o2c',
 'o3a',
 'o3b',
 'o3c',
 'o4a',
 'o4b',
 'o4c']

## La funzione `enumerate()`

La funzione `enumerate()`:

    enumerate(sequence, start)
    
restituisce gli elementi della sequenza `sequence` in tuple di dimensione due, dove il primo elemento è un indice progressivo e il secondo è l'elemento della sequenza.

`start` è l'offset opzionale per gli indici progressivi.  

L'oggetto restituito è di tipo `enumerate`.

In [72]:
enum = enumerate('ciao')
enum

Proviamo a fare la scansione dei suoi elementi per vedere cosa contiene.

In [80]:
for x in enum:
    print(x)

(1, 'c')
(2, 'i')
(3, 'a')
(4, 'o')

Effettuiamo di nuovo la scansione.

In [76]:
for x in enum:
    print(x)

Ricostruiamo l'oggetto con `start = 1`.

In [97]:
enum = enumerate('ciao', 1)

Usiamo una list comprehension per ottenere la lista delle tuple.

In [95]:
[t for t in enum]

[(1, 'c'), (2, 'i'), (3, 'a'), (4, 'o')]

... e poi per ottenere la lista dei soli caratteri.

In [98]:
[c for (i,c) in enum]

['c', 'i', 'a', 'o']

Produrre la lista dei caratteri in posizione pari.

In [101]:
enum = enumerate('ciao')
[e for (i, e) in enum if i % 2 == 0]

['c', 'a']

La funzione `list()` può prendere come argomento un oggetto di tipo `enumerate`.

In [102]:
list(enumerate('ciao'))

[(0, 'c'), (1, 'i'), (2, 'a'), (3, 'o')]