# Python - Sequenze (Stringhe, Liste e Tuple)

> ### Definizione di sequenza
> ### Costruzione di una *sequenza*
> ### Dimensione di una *sequenza*
> ### Accesso agli elementi di una *sequenza*
> ### Concatenazione di *sequenze*
> ### Ripetizione di una *sequenza*
> ### Scansione degli elementi di una *sequenza*
> ### Aggiornamento di una lista
> ### Assegnamento multiplo
> ### List comprehension
> ### La funzione `enumerate()`

## Definizione di *sequenza*

**Sequenza**: collezione di oggetti su cui Ã¨ possibile iterare e che sono indicizzati per posizione.

**Stringa**: sequenza di caratteri
- Classe: `str`
- oggetto ___immutabile___

---

**Lista**: sequenza di valori anche di tipo diverso
- Classe: `list`
- oggetto ***mutabile***

**Tupla**: sequenza di valori anche di tipo diverso
- Classe: `tuple`
- oggetto ***immutabile***

## Costruzione di una *sequenza*

### Costruzione di una stringa
1. tramite letterale (sequenza di caratteri racchiusi tra singoli apici `'` o doppi apici `"`)
1. tramite funzione `str()`

**COSTRUZIONE TRAMITE LETTERALE**

Stringa vuota:

**COSTRUZIONE CON LA FUNZIONE `str()`**

Stringa vuota:

Costruzione con letterale stringa:

Costruzione con espressione aritmetica:

Costruzione con espressione di confronto:

### Costruzione di una lista

- tramite letterale `[value1, value2, ..., valueN]`
- tramite funzione `list()`

**COSTRUZIONE TRAMITE LETTERALE**

Lista vuota:

Lista di un solo valore:

Lista di tre valori dello stesso tipo:

Lista di tre valori di tipo diverso:

Lista di tre valori di tipo diverso di cui il terzo di tipo `list` (lista annidata):

**COSTRUZIONE CON LA FUNZIONE `list()`**

Lista vuota:

Costruzione con stringa:

Costruzione con lista:

### Costruzione di una tupla
- tramite letterale `(value1, value2, ..., valueN)`

- tramite la funzione `tuple()`

**COSTRUZIONE TRAMITE LETTERALE**

Tupla vuota:

Tupla di un solo valore:

Tupla di tre valori dello stesso tipo:

Tupla di tre valori di tipo diverso:

Tupla di quattro valori di tipo diverso di cui il terzo di tipo `list` (lista annidata) e il quarto di tipo `tuple` (tupla annidata):

**COSTRUZIONE CON LA FUNZIONE `tuple()`**

Tupla vuota:

Costruzione con stringa:

Costruzione con lista:

Costruzione con tupla:

## Dimensione di una *sequenza*

 `len(my_sequence)` restituisce la dimensione della *sequenza* passata come argomento.

Dimensione di una stringa:

Dimensione di una lista:

Dimensione di una tupla:

## Accesso agli elementi di una *sequenza*

Indici di posizione **positivi**:

- `0`: posizione del primo elemento
- `1`: posizione del secondo elemento
- ...
- `len(sequence)-1`: posizione dell'ultimo elemento
    
Indici di posizione **negativi**:

- `-1`: posizione dell'ultimo elemento
- `2`: posizione del penultimo elemento
- ...
- `-len(sequence)`: posizione del primo elemento

### Accesso al singolo elemento

L'espressione:

    sequence[index]
    
restituisce l'elemento della *sequenza* `sequence` in posizione `index`.

**Accesso a un carattere di una stringa**

Accesso al quinto carattere tramite indice positivo:

In [2]:
stringa = 'Hello world!'

**NOTA BENE**: `stringa[4]` restituisce un oggetto di tipo `str`.

Accesso al quinto carattere tramite indice negativo:

In [3]:
stringa = 'Hello world!'

**Accesso a un elemento di una lista**

Accesso al quarto elemento tramite indice positivo:

In [4]:
lista = [1, 2, 3, [4, 5]]

Accesso al primo elemento della lista annidata:

In [5]:
lista = [1, 2, 3, [4, 5]]

Accesso al primo elemento tramite indice negativo:

In [10]:
lista = [1, 2, 3, [4, 5]]

**Accesso a un elemento di una tupla**

Accesso al terzo elemento tramite indice positivo:

In [6]:
tupla = (1, 2, 3, 4)

Accesso all'ultimo elemento tramite indice negativo:

In [7]:
tupla = (1, 2, 3, 4)

### Accesso a elementi consecutivi di una *sequenza* (operazione di *Slicing*)

L'espressione:

    sequence[start_index:end_index]
    
restituisce gli elementi della *sequenza* `sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1`.

**Accesso a caratteri consecutivi di una stringa (sottostringa)**

Accesso alla sottostringa dal terzo al settimo carattere tramite indici positivi:

In [9]:
stringa = 'Hello world!'

Accesso alla sottostringa dal terzo al settimo carattere tramite indici negativi:

In [11]:
stringa = 'Hello world!'

Accesso al prefisso dei primi tre caratteri tramite indici positivi:

In [12]:
stringa = 'Hello world!'

Accesso al suffisso che parte dal nono carattere tramite indici positivi:

In [14]:
stringa = 'Hello world!'

Ottenere una copia della stringa:

In [16]:
stringa = 'Hello world!'

**Accesso a elementi consecutivi di una lista/tupla (sottolista/sottotupla)**

Accesso alla sottolista dal terzo al quarto elemento tramite indici positivi:

In [17]:
lista = [1, 2, 3, 4, 5, 6]

Accesso al suffisso di lista che parte dal terzo elemento tramite indici positivi:

In [18]:
lista = [1, 2, 3, 4, 5, 6]

Ottenere una copia della lista:

In [33]:
lista = [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

Accesso al prefisso di tupla dei primi quattro elementi tramite indici positivi:

In [19]:
tupla = (1, 2, 3, 4, 5, 6)

### Accesso a elementi non consecutivi di una *sequenza*

    sequence[start_index:end_index:step]
    
equivale a considerare la sottosequenza di elementi consecutivi `sequence[start_index:end_index]` e a restituire gli elementi a partire dal primo (in posizione `start_index`), saltando ogni volta `step-1` elementi

**Accesso a caratteri non consecutivi di una stringa**

Accesso ai caratteri a partire dal secondo, saltando ogni volta due caratteri e terminando non oltre il settimo:

In [21]:
stringa = 'xAxxBxxCxx'

'ABC'

Lo *slicing* con passo puÃ² essere utilizzato per invertire una sequenza:

In [22]:
stringa = 'Hello world!'

In [23]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

## Concatenazione di *sequenze*

L'espressione:

    sequence1 + sequence2 + ... + sequenceN
   
restituisce la concatenazione di N sequenze dello stesso tipo.

## Ripetizione di una *sequenza*

L'espressione:

    sequence * times
   
restituisce la ripetizione di `sequence` per `times` volte.

## Scansione degli elementi una *sequenza*

### Operatore `in`

L'espressione:

    value in sequence
    
restituisce `True` se `value` Ã¨ presente in `sequence`, altrimenti restituisce `False`

---

Controllo della presenza del carattere `h` nella stringa `Hello!`:

In [24]:
stringa = 'Hello!'

Controllo della presenza della sottostringa `llo` nella stringa `Hello!`:

In [26]:
stringa = 'Hello!'

Controllo della presenza della stringa `ca` nella lista `[1, 2, 'acaa', 10.5]`:

In [29]:
lista = [1, 2, 'acaa', 10.5]

Controllo della presenza della lista `[1,2]` nella lista `[1, 2, 'acaa', 10.5]`:

In [30]:
lista = [1, 2, 'acaa', 10.5]

### Scansione con operatore `in`

**Sintassi di scansione di una *sequenza***:

    for value in sequence:
        do_something
        
- `sequence`: *sequenza* i cui valori (elementi) sono da scandire da sinistra a destra
- `value`: variabile di scansione
- `do_something`: blocco di istruzioni da eseguire per ogni valore considerato
        
**NOTA BENE:** le istruzioni in `do_something` devono essere indentate 4 volte rispetto alla riga di intestazione

---

Scansione e stampa dei caratteri di una stringa:

In [31]:
stringa = 'world'

Scansione e stampa dei valori (elementi) di una lista:

In [33]:
lista = [3, 45.6, 'ciao']

Scansione e stampa dei valori (elementi) di una tupla:

In [32]:
tupla = 3, 45.6, 'ciao'

## Aggiornamento di una lista

### Aggiornamento di un singolo elemento

L'istruzione di assegnamento:

    my_list[index] = new_value
    
sostituisce l'elemento della lista `my_list` in posizione `index` con il nuovo valore `new_value`.

---

Sostituire il quarto elemento con il valore 0:

In [34]:
lista = [1, 2, 3, 4, 5, 6, 7]

### Aggiornamento di piÃ¹ elementi di una lista

Le due istruzioni di assegnamento:

    my_list[start_index:end_index] = new_list
    
    my_list[start_index:end_index:step] = new_list
    
sostituiscono la sottolista di `my_list` ottenuta tramite *slicing* con la lista `new_list`.

Sostituire i tre elementi consecutivi dal quarto al sesto:

In [35]:
lista = [1, 2, 3, 4, 5, 6, 7]

Cancellare i tre elementi consecutivi dal quarto al sesto:

In [36]:
lista = [1, 2, 3, 4, 5, 6, 7]

Inserire tre asterischi prima del secondo elemento:

In [37]:
lista = [1, 2, 3, 4, 5, 6, 7]

Aggiungere in coda tre asterischi:

In [38]:
lista = [1, 2, 3, 4, 5, 6, 7]

Aggiungere in testa tre asterischi:

In [39]:
lista = [1, 2, 3, 4, 5, 6, 7]

Aggiornare gli elementi in posizione di indice pari con il valore 0:

In [40]:
lista = [1, 2, 3, 4, 5, 6, 7]

### Cancellazione di un elemento con l'operatore `del`

L'istruzione:

    del my_list[index]

 rimuove dalla lista `my_list` l'elemento in posizione di indice `index`.
 
 ---
 
 Cancellare il terzo elemento:

In [41]:
lista = [1, 2, 3, 4]

### Cancellazione di piÃ¹ elementi di una lista con l'operatore `del`

Le istruzioni:

    del my_list[start_index:end_index]
    
    del my_list[start_index:end_index:step]

rimuovono dalla lista `my_list` gli elementi prodotti dall'operazione di *slicing*.

---

Cancellare gli elementi dal terzo al quinto:

In [42]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

Cancellare gli elementi in posizione di indice positivo dispari:

In [43]:
lista = [0, 1, 2, 3, 4, 5, 6, 7]

##  Assegnamento multiplo

L'istruzione di assegnamento:

    (my_var1, my_var2, ..., my_varN) = sequence
    
assegna alle N variabili specificate nella tupla a sinistra i valori della *sequenza* `sequence` specificata a destra.

Le parentesi sono opzionali:

    my_var1, my_var2, ..., my_varN = sequence

**NOTA BENE**: `sequence` deve avere dimensione pari a N.

---

Assegnare i quattro caratteri della stringa "1234" a quattro variabili diverse:

Assegnare i quattro elementi della lista `[1,2,3,4]` a quattro variabili diverse:

Assegnare i quattro elementi della tupla `(1,2,3,4)` a quattro variabili diverse:

Scambiare il valore tra due delle variabili precedenti:

Scandire una lista di tuple di due elementi stampando ogni volta i due elementi separatamente:

In [125]:
lista = [(1, 2), (3, 4), (5, 6)]

1 2
3 4
5 6

## List comprehension

L'istruzione:

    [expression for value in sequence if condition]
    
equivale a scrivere:

    for value in sequence:
        if condition:
            expression
            
con la differenza che i valori restituiti da `expression` vengono restituiti tutti in un oggetto di tipo `list`.

**NB**: la clausola if Ã¨ opzionale.

Scrivere la list comprehension che produce la lista dei caratteri separati concatenati alla cifra 1:

In [46]:
stringa = 'ciao'

['c1', 'i1', 'a1', 'o1']

La list comprehension nella sua sintassi piÃ¹ generale:

    [expression for v1 in seq1 for v2 in seq2 ... for vN in seqN if condition]
    
equivale a scrivere:

    for v1 in seq1:
        for v2 in seq2:
            ...
                for vN in seqN:
                    if condition:
                        expression

Scrivere la list comprehension che produce la lista delle stringhe ottenute combinando tra di loro in tutti i modi possibili i caratteri della stringa, gli elementi della lista e gli elementi della tupla:

In [48]:
stringa = 'ciao'
lista = [1, 2, 3, 4]
tupla = ('a', 'b', 'c')

['c1a',
 'c1b',
 'c1c',
 'c2a',
 'c2b',
 'c2c',
 'c3a',
 'c3b',
 'c3c',
 'c4a',
 'c4b',
 'c4c',
 'i1a',
 'i1b',
 'i1c',
 'i2a',
 'i2b',
 'i2c',
 'i3a',
 'i3b',
 'i3c',
 'i4a',
 'i4b',
 'i4c',
 'a1a',
 'a1b',
 'a1c',
 'a2a',
 'a2b',
 'a2c',
 'a3a',
 'a3b',
 'a3c',
 'a4a',
 'a4b',
 'a4c',
 'o1a',
 'o1b',
 'o1c',
 'o2a',
 'o2b',
 'o2c',
 'o3a',
 'o3b',
 'o3c',
 'o4a',
 'o4b',
 'o4c']

## La funzione `enumerate()`

La funzione `enumerate()`:

    enumerate(sequence, start)
    
restituisce gli elementi della sequenza `sequence` in tuple di dimensione due, dove il primo elemento Ã¨ un indice progressivo e il secondo Ã¨ l'elemento della sequenza.

`start` Ã¨ l'offset opzionale per gli indici progressivi.  

L'oggetto restituito Ã¨ di tipo `enumerate`.

Provare a fare la scansione dei suoi elementi per vedere cosa contiene.

Effettuare di nuovo la scansione.

Ricostruire l'oggetto con `start = 1`.

Usiamo una list comprehension per ottenere la lista delle tuple.

... e poi per ottenere la lista dei soli caratteri.

Produrre la lista dei caratteri in posizione pari.

In [101]:
enum = enumerate('ciao')

['c', 'a']

La funzione `list()` puÃ² prendere come argomento un oggetto di tipo `enumerate`.