# Python - Sequenze (Stringhe, Liste e Tuple)

## Definizione di *sequenza*

**Sequenza**: collezione di oggetti su cui Ã¨ possibile iterare e che sono indicizzati per posizione.

**Stringa**: sequenza di caratteri
- Classe: `str`
- oggetto ___immutabile___

**Lista**: sequenza di valori anche di tipo diverso
- Classe: `list`
- oggetto ***mutabile***

**Tupla**: sequenza di valori anche di tipo diverso
- Classe: `tuple`
- oggetto ***immutabile***

## Costruzione di una *sequenza*

### Costruzione di una stringa

**COSTRUZIONE TRAMITE LETTERALE**

In [ ]:
"ciao"

In [ ]:
'ciao'

Stringa vuota:

In [ ]:
''

Se uso i doppi apici posso usare i singoli apici come caratteri della stringa (e viceversa).

In [ ]:
print("'ciao'")

In [ ]:
print('"ciao"')

**COSTRUZIONE CON LA FUNZIONE `str()`**

Stringa vuota:

In [ ]:
str()

Costruzione con letterale stringa:

In [ ]:
str("ciao")

Costruzione con espressione aritmetica:

In [ ]:
str(3+4)

Costruzione con espressione di confronto:

In [ ]:
str(34 > 0)

### Costruzione di una lista

**COSTRUZIONE TRAMITE LETTERALE**

Lista vuota:

In [ ]:
[]

Lista di un solo valore:

In [ ]:
[4]

Lista di tre valori dello stesso tipo:

In [ ]:
[1,2,3]

Lista di tre valori di tipo diverso:

In [ ]:
[10, 7.8, "ab"]

Lista di tre valori di tipo diverso di cui il terzo di tipo `list` (lista annidata):

In [ ]:
[10, 7.8, [True, "ab"]]

**COSTRUZIONE CON LA FUNZIONE `list()`**

Lista vuota:

In [ ]:
list()

Costruzione con stringa:

In [ ]:
list("abcde")

Costruzione con lista:

In [ ]:
list([1,2,3,4])

### Costruzione di una tupla

**COSTRUZIONE TRAMITE LETTERALE**

Tupla vuota:

In [ ]:
()

Tupla di un solo valore:

In [ ]:
(4,)

Tupla di tre valori dello stesso tipo:

In [ ]:
(1,2,3)

Tupla di quattro valori di tipo diverso di cui il terzo di tipo `list` (lista annidata) e il quarto di tipo `tuple` (tupla annidata):

In [ ]:
(10, 7.8, [1,2], (3,4))

**NOTA BENE**: le parentesi tonde sono opzionali.

In [ ]:
10, 7.8, [1,2], (3,4)

**COSTRUZIONE CON LA FUNZIONE `tuple()`**

Tupla vuota:

In [ ]:
tuple()

Costruzione con stringa:

In [ ]:
tuple("abcde")

Costruzione con lista:

In [ ]:
tuple([1,2,3])

## Dimensione di una *sequenza*

Dimensione di una stringa (numero di caratteri):

In [ ]:
len("abcde")

Dimensione di una lista (numero di elementi):

In [ ]:
len([1,2,3,4])

Dimensione di una tupla (numero di elementi):

In [ ]:
len((1,2,3,4,5))

## Accesso agli elementi di una *sequenza*

Le posizioni degli elementi all'interno di una *sequenza* sono indicate tramite:

Indici di posizione **positivi**:

- `0`: posizione del primo elemento
- `1`: posizione del secondo elemento
- ...
- `len(sequence)-1`: posizione dell'ultimo elemento
    
Indici di posizione **negativi**:

- `-1`: posizione dell'ultimo elemento
- `2`: posizione del penultimo elemento
- ...
- `-len(sequence)`: posizione del primo elemento

### Accesso al singolo elemento

L'espressione:

    sequence[index]
    
restituisce l'elemento della *sequenza* `sequence` in posizione `index`.

**Accesso a un carattere di una stringa**

Accesso al quinto carattere tramite indice positivo:

In [ ]:
stringa = 'Hello world!'
stringa[4]

**NOTA BENE**: `stringa[4]` restituisce un oggetto di tipo `str`.

Accesso all'ultimo carattere:

In [ ]:
stringa = 'Hello world!'
stringa[len(stringa)-1]
stringa[-1]

**Accesso a un elemento di una lista**

Accesso al quarto elemento tramite indice positivo e poi al primo elemento della lista annidata:

In [ ]:
lista = [1, 2, 3, [4, 5]]
lista[3]
lista[3][0]

**Accesso a un elemento di una tupla**

Accesso al terzo elemento tramite indice positivo:

In [ ]:
tupla = (1, 2, 3, 4)
tupla[2]

Accesso all'ultimo elemento tramite indice negativo:

In [ ]:
tupla = (1, 2, 3, 4)
tupla[-1]

### Accesso a elementi consecutivi di una *sequenza* (operazione di *Slicing*)

L'epressione:

    sequence[start_index:end_index]
    
restituisce gli elementi della *sequenza* `sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1`.

**Accesso a sottostringa**

Accesso alla sottostringa dal terzo al settimo carattere tramite indici positivi:

In [ ]:
stringa = 'Hello world!'
stringa[2:7]

Accesso al prefisso dei primi tre caratteri tramite indici positivi:

In [ ]:
stringa = 'Hello world!'
stringa[0:3]
stringa[:3]

Accesso al suffisso che parte dal nono carattere tramite indici positivi:

In [ ]:
stringa = 'Hello world!'
stringa[8:len(stringa)]
stringa[8:]

Ottenere una copia della stringa:

In [ ]:
stringa[0:len(stringa)]
stringa[:]

**Accesso a elementi consecutivi di una lista/tupla (sottolista/sottotupla)**

Accesso alla sottolista dal terzo al quarto elemento:

In [ ]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:4]

Accesso al suffisso di lista che parte dal terzo elemento:

In [ ]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:]

Accesso al suffisso di lista di lunghezza 3:

In [ ]:
lista = [1, 2, 3, 4, 5, 6]
lista[-3:]

Ottenere una copia della lista:

In [1]:
lista = [1, 2, 3, 4, 5, 6]
lista[:]

[1, 2, 3, 4, 5, 6]

Accesso al prefisso di tupla dei primi quattro elementi tramite indici positivi:

In [ ]:
tupla = (1, 2, 3, 4, 5, 6)
tupla[:4]

### Accesso a elementi non consecutivi di una *sequenza*

L'epressione:

    my_sequence[start_index:end_index:step]
    
equivale a considerare la sottosequenza di elementi consecutivi `sequence[start_index:end_index]` e a restituire gli elementi a partire dal primo (in posizione `start_index`), saltando ogni volta `step-1` elementi

---

**Accesso a caratteri non consecutivi di una stringa**

Accesso ai caratteri a partire dal secondo, saltando ogni volta due caratteri e terminando non oltre il settimo:

In [ ]:
stringa = 'xAxxBxxCxx'
stringa[1:8:3]

Lo *slicing* con passo puÃ² essere utilizzato per invertire una sequenza:

In [ ]:
stringa = 'Hello world!'
stringa[::-1]

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista[::-1]

## Concatenazione di *sequenze*

L'espressione:

    sequence1 + sequence2 + ... + sequenceN
   
restituisce la concatenazione di N sequenze dello stesso tipo.

In [ ]:
"ciao " + "mondo"

In [ ]:
[1,2] + [3,4,5]

In [ ]:
(1,2) + (3,4,5)

## Ripetizione di una *sequenza*

L'espressione:

    sequence * times
   
restituisce la ripetizione di `sequence` per `times` volte.

In [ ]:
'ciao ' * 4

In [ ]:
[1,2] * 4

In [ ]:
(1,2) * 4

## Scansione degli elementi una *sequenza*

### Operatore `in`

L'espressione:

    value in sequence
    
restituisce `True` se `value` Ã¨ presente in `sequence`, altrimenti restituisce `False`

---

Controllo della presenza del carattere `h` nella stringa `Hello!`:

In [ ]:
stringa = 'Hello!'
'h' in stringa

Controllo della presenza della sottostringa `llo` nella stringa `Hello!`:

In [ ]:
stringa = 'Hello!'
'llo' in stringa

Controllo della presenza della stringa `ca` nella lista `[1, 2, 'acaa', 10.5]`:

In [ ]:
lista = [1, 2, 'acaa', 10.5]
'ca' in lista

Controllo della presenza della lista `[1,2]` nella lista `[1, 2, 'acaa', 10.5]`:

In [ ]:
lista = [1, 2, 'acaa', 10.5]
[1,2] in lista

### Scansione con operatore `in`

**Sintassi di scansione di una *sequenza***:

    for value in sequence:
        do_something
        
- `sequence`: *sequenza* i cui valori (elementi) sono da scandire da sinistra a destra
- `value`: variabile di scansione
- `do_something`: blocco di istruzioni da eseguire per ogni valore considerato
        
**NOTA BENE:** le istruzioni in `do_something` devono essere indentate 4 volte rispetto alla riga di intestazione

---

Scansione e stampa dei caratteri di una stringa:

In [ ]:
stringa = 'world'
for c in stringa:
    print(c)

Scansione e stampa dei valori (elementi) di una lista:

In [ ]:
lista = [3, 45.6, 'ciao']
for value in lista:
    print(value)

Scansione e stampa a video degli elementi della tupla:

In [ ]:
tupla = 3, 45.6, 'ciao'
for value in tupla:
    print(value)

## Aggiornamento di una lista

### Aggiornamento di un singolo elemento

L'istruzione di assegnamento:

    list[index] = new_value
    
sostituisce l'elemento della lista `list` in posizione `index` con il nuovo valore `new_value`.

---

Sostituire il quarto elemento con il valore 0:

In [ ]:
lista = [1, 1, 1, 1, 1, 1, 1]
lista[3] = -100
lista

Che differenza c'Ã¨ tra le seguenti istruzioni di assegnamento?

In [ ]:
lista = [1, 1, 1, 1, 1, 1, 1]

lista2 = lista
lista3 = lista[:]

### Aggiornamento di piÃ¹ elementi di una lista

Le due istruzioni di assegnamento:

    my_list[start_index:end_index] = new_list
    my_list[start_index:end_index:step] = new_list
    
sostituiscono la sottolista di `my_list` ottenuta tramite *slicing* con la lista `new_list`.

Sostituire i tre elementi consecutivi dal quarto al sesto con tre asterischi:

In [2]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[3:6] = "***"
lista

[1, 2, 3, '*', '*', '*', 7, 8, 9, 10, 11, 12]

Cancellare i tre elementi consecutivi dal quarto al sesto:

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[3:6] = []
lista

Inserire tre asterischi dopo il primo elemento:

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[1:1] = ['*', '*', '*']
lista

Aggiungere in coda tre asterischi:

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
#lista[len(lista):len(lista)] = ['*', '*', '*']
lista[len(lista):] = ['*', '*', '*']
lista

Aggiungere in testa tre asterischi:

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[:0] = ['*', '*', '*']
lista

Aggiornare gli elementi in posizione di indice pari con il valore 0:

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lista[::2] = [0, 0, 0, 0, 0, 0]
lista

### Cancellazione di un elemento con l'operatore `del`

L'istruzione:

    del my_list[index]

 rimuove dalla lista `my_list` l'elemento in posizione di indice `index`.
 
 ---
 
 Cancellare il terzo elemento:

In [ ]:
lista = [1, 2, 3, 4]
del lista[2]
lista

### Cancellazione di piÃ¹ elementi di una lista con l'operatore `del`

Le istruzioni:

    del my_list[start_index:end_index]
    del my_list[start_index:end_index:step]

rimuovono dalla lista `my_list` gli elementi prodotti dall'operazione di *slicing*.

---

Cancellare gli elementi dal terzo al quinto:

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]
del lista[2:5]
lista

Cancellare gli elementi in posizione di indice dispari:

In [ ]:
lista = [0, 1, 2, 3, 4, 5, 6, 7]
del lista[1::2]
lista

##  Assegnamento multiplo

L'istruzione di assegnamento:

    (my_var1, my_var2, ..., my_varN) = sequence
    
assegna alle N variabili specificate nella tupla a sinistra i valori della *sequenza* `sequence` specificata a destra.

Le parentesi sono opzionali:

    my_var1, my_var2, ..., my_varN = sequence

**NOTA BENE**: `sequence` deve avere dimensione pari a N.

---

Assegnare le cifre della stringa "1234" a quattro variabili diverse:

In [ ]:
v1, v2, v3, v4 = "1234"

Assegnare i quattro elementi della lista `[1,2,3,4]` a quattro variabili diverse:

In [ ]:
v1, v2, v3, v4 = [1,2,3,4]

Assegnare i quattro elementi della tupla `(1,2,3,4)` a quattro variabili diverse:

In [ ]:
v1, v2, v3, v4 = 1,2,3,4

Scambiare il valore tra due delle variabili precedenti:

In [ ]:
v1,v2 = v2,v1

In [ ]:
v1

In [ ]:
v2

Scandire una lista di tuple di due elementi stampando gli elementi separatamente:

In [3]:
lista = [(1, 2), (3, 4), (5, 6)]
for t in lista:
    print(t[0])
    print(t[1])

1
2
3
4
5
6

Oppure...

In [4]:
lista = [(1, 2), (3, 4), (5, 6)]
for (a,b) in lista:
    print(a)
    print(b)

1
2
3
4
5
6

## List comprehension

L'istruzione:

    [expression for value in sequence if condition]
    
equivale a scrivere:

    for value in sequence:
        if condition:
            expression
            
con la differenza che i valori restituiti da `expression` vengono restituiti tutti in un oggetto di tipo `list`.

**NB**: la clausola if Ã¨ opzionale.

Ho una lista e ne voglio creare un'altra contenente unicamente i valori pari moltiplicati per 5.

In [5]:
lista1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista2 = []
for v in lista1:
    if v % 2 == 0:
        lista2.append(v*5)
        
lista2

[10, 20, 30, 40, 50]

Tradotto in list comprehension...

In [ ]:
lista2 = [v*5 for v in lista1 if v % 2 == 0]
lista2

Scrivere la list comprehension che produce la lista dei caratteri separati concatenati alla cifra 1.

In [ ]:
stringa = 'ciao'
[c+"1" for c in stringa]

La list comprehension nella sua sintassi piÃ¹ generale:

    [expression for v1 in seq1 for v2 in seq2 ... for vN in seqN if condition]
    
equivale a scrivere:

    for v1 in seq1:
        for v2 in seq2:
            ...
                for vN in seqN:
                    if condition:
                        expression

Scrivere la list comprehension che produce la lista delle stringhe ottenute combinando tra di loro in tutti i modi possibili i caratteri della stringa, gli elementi della lista e gli elementi della tupla:

In [ ]:
stringa = 'ciao'
lista = [1, 2, 3, 4]
tupla = ('a', 'b', 'c')
[c1+str(n)+c2 for c1 in stringa for n in lista for c2 in tupla]

## La funzione `enumerate()`

La funzione `enumerate()`:

    enumerate(sequence, start)
    
restituisce gli elementi della sequenza `sequence` in tuple di dimensione due, dove il primo elemento Ã¨ un indice progressivo e il secondo Ã¨ l'elemento della sequenza.

`start` Ã¨ l'offset opzionale per gli indici progressivi.  

L'oggetto restituito Ã¨ di tipo `enumerate`.

In [ ]:
enum = enumerate('ciao')
enum

Proviamo a fare la scansione dei suoi elementi per vedere cosa contiene.

In [ ]:
for x in enum:
    print(x)

Effettuiamo di nuovo la scansione.

In [ ]:
for x in enum:
    print(x)

Ricostruiamo l'oggetto con `start = 1`.

In [ ]:
enum = enumerate('ciao', 1)

Trasformare in lista con una list comprehension.

In [ ]:
[t for t in enum]

Trasformare in lista con la funzione `list()`.

In [ ]:
list(enumerate('ciao'))

Estrarre la lista dei soli caratteri.

In [ ]:
[c for (i,c) in enum]