# Esercizio1 - Soluzione

### 1) Parametri di input

In [3]:
input_file_name = './input-precipitazioni.txt'
threshold = 100

### 2) Definizione di una funzione che conta i valori numerici di una lista oltre una certa soglia

In [1]:
def count_elements_greater_than(list_of_numbers, threshold):    
    # Creo una lista dei valori > di threshold
    temp_list = [v for v in list_of_numbers if v > threshold]
    
    # Restituisco la dimensione della lista
    return len(temp_list)

### 3) Lettura dell'input

In [10]:
with open(input_file_name, 'r') as input_file:
    file_rows = input_file.readlines()

In [11]:
file_rows

['\t\t\t2009\t2010\t2011\t2012\t2013\t2014\t2015\n',
 'Gennaio\t\t75\t\t63\t\t65\t\t50\t\t77\t\t66\t\t69\n',
 'Febbraio\t64\t\t65\t\t65\t\t67\t\t50\t\t54\t\t58\n',
 'Marzo\t\t81\t\t77\t\t73\t\t80\t\t83\t\t89\t\t100\n',
 'Aprile\t\t89\t\t90\t\t85\t\t90\t\t90\t\t84\t\t90\n',
 'Maggio\t\t120\t\t129\t\t113\t\t120\t\t135\t\t117\t\t130\n',
 'Giugno\t\t113\t\t99\t\t116\t\t114\t\t111\t\t119\t\t100\n',
 'Luglio\t\t111\t\t105\t\t98\t\t112\t\t113\t\t102\t\t100\n',
 'Agosto\t\t129\t\t131\t\t120\t\t111\t\t141\t\t130\t\t126\n',
 'Settembre\t90\t\t85\t\t101\t\t88\t\t89\t\t94\t\t91\n',
 'Ottobre\t\t109\t\t122\t\t103\t\t119\t\t98\t\t101\t\t107\n',
 'Novembre\t111\t\t121\t\t101\t\t104\t\t121\t\t115\t\t104\n',
 'Dicembre\t56\t\t67\t\t44\t\t58\t\t61\t\t64\t\t58']

### 4) Estrazione della lista `years` contenente gli anni rilevati

In [12]:
years = file_rows.pop(0).split()

In [13]:
years

['2009', '2010', '2011', '2012', '2013', '2014', '2015']

**NOTA BENE**: a questo punto nella lista `file_rows` compaiono solo i record delle piogge mensili.

In [14]:
file_rows

['Gennaio\t\t75\t\t63\t\t65\t\t50\t\t77\t\t66\t\t69\n',
 'Febbraio\t64\t\t65\t\t65\t\t67\t\t50\t\t54\t\t58\n',
 'Marzo\t\t81\t\t77\t\t73\t\t80\t\t83\t\t89\t\t100\n',
 'Aprile\t\t89\t\t90\t\t85\t\t90\t\t90\t\t84\t\t90\n',
 'Maggio\t\t120\t\t129\t\t113\t\t120\t\t135\t\t117\t\t130\n',
 'Giugno\t\t113\t\t99\t\t116\t\t114\t\t111\t\t119\t\t100\n',
 'Luglio\t\t111\t\t105\t\t98\t\t112\t\t113\t\t102\t\t100\n',
 'Agosto\t\t129\t\t131\t\t120\t\t111\t\t141\t\t130\t\t126\n',
 'Settembre\t90\t\t85\t\t101\t\t88\t\t89\t\t94\t\t91\n',
 'Ottobre\t\t109\t\t122\t\t103\t\t119\t\t98\t\t101\t\t107\n',
 'Novembre\t111\t\t121\t\t101\t\t104\t\t121\t\t115\t\t104\n',
 'Dicembre\t56\t\t67\t\t44\t\t58\t\t61\t\t64\t\t58']

### 5) Estrazione della lista dei mesi

In [18]:
months = [row.split()[0] for row in file_rows]

In [19]:
months

['Gennaio',
 'Febbraio',
 'Marzo',
 'Aprile',
 'Maggio',
 'Giugno',
 'Luglio',
 'Agosto',
 'Settembre',
 'Ottobre',
 'Novembre',
 'Dicembre']

### 6) Costruzione della matrice dei valori di pioggia

#### a) Determinazione da `file_rows` della lista delle liste delle piogge mensili come valori interi

In [20]:
file_rows

['Gennaio\t\t75\t\t63\t\t65\t\t50\t\t77\t\t66\t\t69\n',
 'Febbraio\t64\t\t65\t\t65\t\t67\t\t50\t\t54\t\t58\n',
 'Marzo\t\t81\t\t77\t\t73\t\t80\t\t83\t\t89\t\t100\n',
 'Aprile\t\t89\t\t90\t\t85\t\t90\t\t90\t\t84\t\t90\n',
 'Maggio\t\t120\t\t129\t\t113\t\t120\t\t135\t\t117\t\t130\n',
 'Giugno\t\t113\t\t99\t\t116\t\t114\t\t111\t\t119\t\t100\n',
 'Luglio\t\t111\t\t105\t\t98\t\t112\t\t113\t\t102\t\t100\n',
 'Agosto\t\t129\t\t131\t\t120\t\t111\t\t141\t\t130\t\t126\n',
 'Settembre\t90\t\t85\t\t101\t\t88\t\t89\t\t94\t\t91\n',
 'Ottobre\t\t109\t\t122\t\t103\t\t119\t\t98\t\t101\t\t107\n',
 'Novembre\t111\t\t121\t\t101\t\t104\t\t121\t\t115\t\t104\n',
 'Dicembre\t56\t\t67\t\t44\t\t58\t\t61\t\t64\t\t58']

In [26]:
rains_per_month = [list(map(int, row.split()[1:])) for row in file_rows]

In [27]:
rains_per_month

[[75, 63, 65, 50, 77, 66, 69],
 [64, 65, 65, 67, 50, 54, 58],
 [81, 77, 73, 80, 83, 89, 100],
 [89, 90, 85, 90, 90, 84, 90],
 [120, 129, 113, 120, 135, 117, 130],
 [113, 99, 116, 114, 111, 119, 100],
 [111, 105, 98, 112, 113, 102, 100],
 [129, 131, 120, 111, 141, 130, 126],
 [90, 85, 101, 88, 89, 94, 91],
 [109, 122, 103, 119, 98, 101, 107],
 [111, 121, 101, 104, 121, 115, 104],
 [56, 67, 44, 58, 61, 64, 58]]

#### b) Conversione in matrice

In [28]:
import numpy as np

rains_per_month = np.array(rains_per_month)

In [29]:
rains_per_month

array([[ 75,  63,  65,  50,  77,  66,  69],
       [ 64,  65,  65,  67,  50,  54,  58],
       [ 81,  77,  73,  80,  83,  89, 100],
       [ 89,  90,  85,  90,  90,  84,  90],
       [120, 129, 113, 120, 135, 117, 130],
       [113,  99, 116, 114, 111, 119, 100],
       [111, 105,  98, 112, 113, 102, 100],
       [129, 131, 120, 111, 141, 130, 126],
       [ 90,  85, 101,  88,  89,  94,  91],
       [109, 122, 103, 119,  98, 101, 107],
       [111, 121, 101, 104, 121, 115, 104],
       [ 56,  67,  44,  58,  61,  64,  58]])

### 7) Determinazione della trasposta della matrice dei valori di pioggia

In [31]:
rains_per_year = rains_per_month.transpose()

In [32]:
rains_per_year

array([[ 75,  64,  81,  89, 120, 113, 111, 129,  90, 109, 111,  56],
       [ 63,  65,  77,  90, 129,  99, 105, 131,  85, 122, 121,  67],
       [ 65,  65,  73,  85, 113, 116,  98, 120, 101, 103, 101,  44],
       [ 50,  67,  80,  90, 120, 114, 112, 111,  88, 119, 104,  58],
       [ 77,  50,  83,  90, 135, 111, 113, 141,  89,  98, 121,  61],
       [ 66,  54,  89,  84, 117, 119, 102, 130,  94, 101, 115,  64],
       [ 69,  58, 100,  90, 130, 100, 100, 126,  91, 107, 104,  58]])

**NOTA BENE**: ogni riga della matrice trasposta contiene le piogge mensili di un determinato anno.

### 8) Calcolo delle precipitazioni medie mensili

#### a) Determinazione della lista delle precipitazioni medie mensili

*Suggerimento:* usare la funzione `mean()` del modulo `numpy`.

In [35]:
month_avg_list = [np.mean(x) for x in rains_per_month]

In [36]:
month_avg_list

[66.42857142857143,
 60.42857142857143,
 83.28571428571429,
 88.28571428571429,
 123.42857142857143,
 110.28571428571429,
 105.85714285714286,
 126.85714285714286,
 91.14285714285714,
 108.42857142857143,
 111.0,
 58.285714285714285]

**NOTA BENE**: il valore i-esimo nella lista è la media relativa al mese i-esimo.

#### b) Costruzione di una lista di 12 tuple di dimensione 2 in cui ogni tupla contiene le prime tre lettere del nome del mese in maiuscolo come primo elemento e la media mensile come secondo elemento

In [43]:
new_names = [name[:3].upper() for name in months]
month_output = list(zip(new_names, month_avg_list))

In [44]:
month_output

[('GEN', 66.42857142857143),
 ('FEB', 60.42857142857143),
 ('MAR', 83.28571428571429),
 ('APR', 88.28571428571429),
 ('MAG', 123.42857142857143),
 ('GIU', 110.28571428571429),
 ('LUG', 105.85714285714286),
 ('AGO', 126.85714285714286),
 ('SET', 91.14285714285714),
 ('OTT', 108.42857142857143),
 ('NOV', 111.0),
 ('DIC', 58.285714285714285)]

### 10) Calcolo delle precipitazioni totali annue

#### a) Determinazione della lista delle precipitazioni totali annue

In [45]:
rains_per_year

array([[ 75,  64,  81,  89, 120, 113, 111, 129,  90, 109, 111,  56],
       [ 63,  65,  77,  90, 129,  99, 105, 131,  85, 122, 121,  67],
       [ 65,  65,  73,  85, 113, 116,  98, 120, 101, 103, 101,  44],
       [ 50,  67,  80,  90, 120, 114, 112, 111,  88, 119, 104,  58],
       [ 77,  50,  83,  90, 135, 111, 113, 141,  89,  98, 121,  61],
       [ 66,  54,  89,  84, 117, 119, 102, 130,  94, 101, 115,  64],
       [ 69,  58, 100,  90, 130, 100, 100, 126,  91, 107, 104,  58]])

In [47]:
year_total = [sum(row) for row in rains_per_year]

[1148, 1154, 1084, 1113, 1169, 1135, 1133]

In [25]:
year_total

[1148, 1154, 1084, 1113, 1169, 1135, 1133]

---

#### b) Costruzione di una lista di 12 tuple di dimensione 2 in cui ogni tupla contiene il nome dell'anno come primo elemento e la precipitazione totale come secondo elemento

In [27]:
year_output1

[('2009', 1148),
 ('2010', 1154),
 ('2011', 1084),
 ('2012', 1113),
 ('2013', 1169),
 ('2014', 1135),
 ('2015', 1133)]

### 11) Calcolo del numero di mesi per anno con pioggia oltre la soglia minima

#### a) Determinazione della lista del numero di mesi (per anno) con pioggia oltre la soglia minima

In [29]:
year_count

[6, 5, 6, 6, 5, 6, 4]

#### b) Costruzione di una lista di N=7 tuple di dimensione 2 in cui ogni tupla contiene il nome dell'anno come primo elemento e il numero di mesi con pioggia oltre la soglia come secondo elemento

In [31]:
year_output2

[('2009', 6),
 ('2010', 5),
 ('2011', 6),
 ('2012', 6),
 ('2013', 5),
 ('2014', 6),
 ('2015', 4)]