# Lezione1: Sequenze (stringa, lista e tupla)

> # Indice
>>> ### Definizione di stringa, lista e tupla (*sequenze*)
>>> ### Costruzione di una *sequenza*
>>> ### Lunghezza di una *sequenza*
>>> ### Indicizzazione e accesso agli elementi di una *sequenza*
>>> ### Concatenazione di *sequenze*
>>> ### Ripetizione dei una *sequenza*
>>> ### Scansione degli elementi di una *sequenza*
>>> ### Aggiornamento di una lista

## Definizione di stringa, lista e tupla (*sequenze*)

Stringhe, liste e tuple sono ***sequenze***, cioé oggetti su cui si può iterare.

**Stringa**:
- oggetto ___immutabile___
- oggetto di tipo `str`
- sequenza di caratteri

**NOTA BENE**: il singolo carattere in Python una stringa di un solo carattere.

**Lista**:
- oggetto ***mutabile***
- oggetto di tipo `list`
- sequenza di valori (oggetti) anche di tipo diverso

**Tupla**:
- oggetto ***immutabile***
- oggetto di tipo `tuple`
- sequenza di valori (oggetti) anche di tipo diverso

## Costruzione di una *sequenza*

### Costruzione di una stringa
- tramite letterale
    - sequenza di caratteri racchiusi tra singoli apici `'`
    - (oppure) sequenza di caratteri racchiusi tra doppi apici `"`
- tramite funzione
    - `str()`

**Costruzione di una stringa tramite letterale**

Esempio di letterale con singoli apici

In [884]:
'ciao'

'ciao'

Inseririmento nella stringa di singoli apici

In [885]:
'\'ciao\''

"'ciao'"

Esempio di letterale con doppi apici

In [886]:
"ciao"

'ciao'

Inseririmento nella stringa di doppi apici

In [887]:
"\"ciao\""

'"ciao"'

Con i singoli apici si possono inserire nella stringa i doppi apici (e viceversa).

In [888]:
'"ciao"'

'"ciao"'

In [889]:
"'ciao'"

"'ciao'"

Inseririmento nella stringa del carattere di *backslash* `\`

In [890]:
'\\ciao\\'

'\\ciao\\'

In [891]:
"\\ciao\\"

'\\ciao\\'

Inseririmento nella stringa del carattere di *newline* `\n`

In [892]:
stringa = 'ciao\n'
print(stringa)

ciao

In [893]:
stringa = "ciao\n"
print(stringa)

ciao

Costruzione della stringa vuota

In [894]:
''

''

In [895]:
""

''

**Costruzione di una stringa tramite la funzione `str()`**

... non passando alcun argomento e costruendo la stringa vuota

In [896]:
str()

''

...passando come argomento un letterale stringa

In [897]:
str("ciao\n")

'ciao\n'

... oppure un'espressione aritmetica

In [898]:
str(3+4)

'7'

... oppure un'espressione di confronto che restituisce un valore di tipo `bool`

In [899]:
str(34 > 0)

'True'

**NOTA BENE**: il valore restituito dalla chiamata `str(34 >0)` è la stringa dei caratteri `T`, `r`, `u` ed `e` e non il valore `True` di tipo `bool`.

... oppure una *sequenza* (ad esempio una tupla)

In [900]:
str((1,'2'))

"(1, '2')"

**NOTA BENE**: il valore restituito dalla chiamata `str((1,'2'))` è la stringa corrispondente al letterale `'(1, '2')'` e non la tupla composta dall'intero 1 e dalla stringa dell'unico simbolo di cifra 2.

***

### Costruzione di una lista
- tramite letterale
    - sequenza di valori racchiusi tra parentesi quadre `[]` e separati da virgola
- tramite funzione
    - `list()`

**Costruzione di una lista tramite letterale**

Alcuni esempi...

... lista vuota

In [901]:
[]

[]

... lista di un solo valore

In [902]:
[4]

[4]

... lista di tre valori dello stesso tipo

In [903]:
[1, 2, 3]

[1, 2, 3]

... lista di tre valori di tipo diverso

In [904]:
[4, 5, '6']

[4, 5, '6']

... lista di tre valori di tipo diverso di cui il terzo di tipo `list` (lista annidata)

In [905]:
[7, 8.9, [True,'ciao']]

[7, 8.9, [True, 'ciao']]

**Costruzione di una lista tramite la funzione `list()`**

... non passando alcun argomento e costruendo la lista vuota

In [906]:
list()

[]

... oppure passando come argomento una *sequenza*

In [907]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [908]:
list([1,2,3])

[1, 2, 3]

In [909]:
list((1,2,3))

[1, 2, 3]

***

### Costruzione di una tupla
- tramite letterale
    - sequenza di valori racchiusi tra parentesi tonde (opzionali) `()` e separati da virgola
- tramite funzione
    - `tuple()`

**Costruzione di una tupla tramite letterale**

Alcuni esempi...

... tupla vuota

In [910]:
()

()

... tupla di un solo valore

In [911]:
(4,)

(4,)

**NOTA BENE**: la virgola è necessaria, in quanto il letterale `(4)` rappresenta l'intero 4.

In [912]:
(4)

4

... tupla di tre valori dello stesso tipo

In [913]:
(1, 2, 3)

(1, 2, 3)

... tupla di tre valori di tipo diverso

In [914]:
(4, 5, '6')

(4, 5, '6')

... tupla di quattro valori di tipo diverso di cui il terzo di tipo `list` (lista annidata) e il quarto di tipo `tuple` (tupla annidata)

In [915]:
(7, 8.9, [True,'ciao'], (1,2,3))

(7, 8.9, [True, 'ciao'], (1, 2, 3))

Le parentesi tonde sono opzionali; i letterali seguenti sono gli esempi precedenti con parentedi tonde omesse

In [916]:
4,

(4,)

In [917]:
1, 2, 3

(1, 2, 3)

In [918]:
4, 5, '6'

(4, 5, '6')

In [919]:
7, 8.9, [True,'ciao'], (1,2,3)

(7, 8.9, [True, 'ciao'], (1, 2, 3))

**NOTA BENE**: le parentesi tonde non possono essere omesse nel caso di tupla vuota.

**Costruzione di una tupla tramite la funzione `tuple()`**

... non passando alcun argomento e costruendo la tupla vuota

In [920]:
tuple()

()

... oppure passando come argomento una *sequenza*

In [921]:
tuple('abcdef')

('a', 'b', 'c', 'd', 'e', 'f')

In [922]:
tuple([1, 2, 3])

(1, 2, 3)

In [923]:
tuple((1, 2, 3))

(1, 2, 3)

***

## Lunghezza di una *sequenza*

Passando alla funzione `len` una *sequenza* come argomento viene restituita la dimensione della *sequenza*

In [924]:
len('abc')

3

In [925]:
len(list('ciao mondo'))

10

In [926]:
len(tuple('ciao mondo!'))

11

***

## Indicizzazione e accesso agli elementi di una *sequenza*

### Indicizzazione degli elementi di una *sequenza*

Le posizioni degli elementi di una *sequenza* `my_sequence` sono indicate tramite:
- *interi positivi* da 0 (posizione del primo elemento) a `len(my_sequence)-1` (posizione dell'ultimo elemento)
- (oppure) *interi negativi* da -1 (posizione dell'ultimo elemento) a `-len(my_sequence)` (posizione del primo elemento)

### Accesso a un elemento di una *sequenza*

L'espressione

    my_sequence[some_index]
    
restituisce l'elemento della *sequenza* `my_sequence` in posizione `some_index`

**Esempi di accesso a un carattere di una stringa**

Accesso tramite indice positivo

In [927]:
stringa = 'Hello world!'
stringa[4]

'o'

**NOTA BENE**: `stringa[4]` restituisce un oggetto di tipo `str`

Accesso tramite indice negativo

In [928]:
stringa[-2]

'd'

**Esempi di accesso a un elemento di una lista**

Accesso tramite indice positivo

In [929]:
lista = [1, 2, 3, 4]
lista[2]

3

Accesso tramite indice negativo

In [930]:
lista[-len(lista)]

1

**Esempi di accesso a un elemento di una tupla**

Accesso tramite indice positivo

In [931]:
tupla = (1, 2, 3, 4)
tupla[2]

3

Accesso tramite indice negativo

In [932]:
tupla[-1]

4

### Accesso a elementi consecutivi di una *sequenza* (*slicing*)

L'espressione

    my_sequence[start_index:end_index]
    
restituisce gli elementi della *sequenza* `my_sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1`

In particolare: 
- `my_sequence[start_index:]` restituisce gli elementi da quello in posizione `start_index` fino all'ultimo
- `my_sequence[:end_index]` restituisce gli elementi dal primo fino a quello in posizione `end_index-1`
- `my_sequence[:]` restituisce tutti gli elementi dal primo fino all'ultimo

**NOTA BENE**: l'oggetto restituito è sempre dello stesso tipo di `my_sequence`

**Esempi di accesso a caratteri consecutivi di una stringa (sottostringa)**

In [933]:
stringa = 'Hello world!'
stringa[2:7]

'llo w'

In [934]:
stringa = 'Hello world!'
stringa[-10:-5]

'llo w'

In [935]:
stringa = 'Hello world!'
stringa[:]

'Hello world!'

**Esempi di accesso a elementi consecutivi di una lista (sottolista)**

In [936]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:4]

[3, 4]

In [937]:
lista = [1, 2, 3, 4, 5, 6]
lista[2:]

[3, 4, 5, 6]

In [938]:
lista = [1, 2, 3, 4, 5, 6]
lista[:4]

[1, 2, 3, 4]

**Esempio di accesso a elementi consecutivi di una tupla (sottotupla)**

In [939]:
tupla = (1, 2, 3, 4, 5, 6)
tupla[2:5]

(3, 4, 5)

### Accesso a elementi non consecutivi di una *sequenza* (*slicing*)

L'espressione

    my_sequence[start_index:end_index:step]
    
restituisce gli elementi della *sequenza* `my_sequence` da quello in posizione `start_index` fino a quello in posizione `end_index-1` considerando il passo `step` (se `step` è uguale a 1, allora gli elementi saranno consecutivi)

**NOTA BENE**: l'oggetto restituito è sempre dello stesso tipo di `my_sequence`

**Esempio di accesso a caratteri non consecutivi di una stringa**

In [940]:
stringa = 'Hello world!'
stringa[2:7:2]

'low'

In [941]:
stringa = 'Hello world!'
stringa[-1:-len(stringa)-1:-1]

'!dlrow olleH'

In [942]:
stringa = 'Hello world!'
stringa[::-1]

'!dlrow olleH'

**Esempio di accesso a elementi consecutivi di una lista**

In [943]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista[2:7:3]

[3, 6]

***

## Concatenazione di *sequenze*

L'espressione

    my_sequence1 + my_sequence2 + ... + my_sequenceN
   
restituisce la concatenazione di N sequenze dello stesso tipo (in un oggetto dello stesso tipo)

**Esempio di concatenazione**

In [944]:
'ciao' + ' mondo!'

'ciao mondo!'

In [945]:
[1, 2] + [3, 4, 5]

[1, 2, 3, 4, 5]

In [946]:
('a', 'a') + (1, 1)

('a', 'a', 1, 1)

***

## Ripetizione di una *sequenza*

L'espressione

    my_sequence * times
   
restituisce la ripetizione di `my_sequence` per `times` volte (in un oggetto dello stesso tipo)

**Esempio di ripetizione**

In [947]:
'ciao' * 3

'ciaociaociao'

In [948]:
[3, 4, 5] * 2

[3, 4, 5, 3, 4, 5]

In [949]:
('a', 'b') * 6

('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')

***

## Scansione di una *sequenza*

### Operatore `in`

L'espressione

    my_element in my_sequence
    
restituisce il valore `True` (di tipo `bool`) se l'elemento `my_element` è presente nella *sequenza* `my_sequence`

**NOTA BENE**: nel caso di stringhe l'operatore `in` testa la presenza di `my_element` come sottostringa; nel caso invece di liste e tuple testa la presenza di `my_element` come valore

**Alcuni esempi...**

In [965]:
'world' in 'Hello world!'

True

In [969]:
'ca' in [1, 2, 'acaa', 10.5]

False

In [970]:
1 in ()

False

***

## Aggiornamento di una lista

### Aggiornamento di un elemento di una lista

L'istruzione

    my_list[some_index] = new_value
    
sostituisce l'elemento della lista `my_list` in posizione `some_index` con il nuovo valore `new_value`

**Esempio di aggiornamento di un elemento**

In [950]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3] = 0
lista

[1, 2, 3, 0, 5, 6, 7]

### Aggiornamento di una sottolista

L'istruzione

    my_list[start_index:end_index] = new_list
    
sostituisce la sottolista di `my_list` ottenuta tramite *slicing* con la lista `new_list`

**Esempi di aggiornamento di una sottolista**

In [951]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3:6] = ['*', '*', '*']
lista

[1, 2, 3, '*', '*', '*', 7]

In [952]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[3:6] = []
lista

[1, 2, 3, 7]

In [953]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[1:1] = ['*', '*', '*']
lista

[1, '*', '*', '*', 2, 3, 4, 5, 6, 7]

In [954]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[len(lista):] = ['*', '*', '*']
lista

[1, 2, 3, 4, 5, 6, 7, '*', '*', '*']

**NOTA BENE**: il mutamento di una lista non è da confondere con il suo riassegnamento

Mutamento (il riferimento all'oggetto non viene alterato)

In [955]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[1:3] = [8]
lista[0] = 'ciao'
lista

['ciao', 8, 4, 5, 6, 7]

Riassegnamento (viene creato un nuovo riferimento)

In [956]:
lista = [0, 0.0, False]
lista

[0, 0.0, False]

**NOTA BENE**: attenzione a quando si usa lo *slicing* con il passo per aggiornare una lista. Nell'esempio seguente l'operazione di *slicing* "estrae" gli elementi in posizione di indice positivo pari a partire dal primo. Siccome per la lista costruita gli elementi estratti sono quattro, nell'aggiornamento deve essere assegnata una lista di esattamente quattro elementi.

In [957]:
lista = [1, 2, 3, 4, 5, 6, 7]
lista[0:len(lista):2]

[1, 3, 5, 7]

In [958]:
lista[0:len(lista):2] = [0, 0, 0, 0]
lista

[0, 2, 0, 4, 0, 6, 0]

### Aggiornamento di una lista con l'operatore `del`

L'istruzione

    del my_list[at_index]

permette di rimuovere dalla lista `my_list` l'elemento in posizione di indice `at_index`

**Esempio di rimozione di un elemento di una lista**

In [959]:
lista = [1, 2, 3, 4]
del lista[2]
lista

[1, 2, 4]

L'istruzione

    del my_list[start_index:end_index:step]

permette di rimuovere dalla lista `my_list` gli elementi prodotti dall'operazione di *slicing* (il passo `step` è opzionale)

**Esempi di rimozione di più elementi di una lista**

In [960]:
lista = [1, 2, 3, 4]
del lista[2]
lista

[1, 2, 4]

In [961]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]
del lista[2:5]
lista

[1, 2, 6, 7, 8]

In [962]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]
del lista[::2]
lista

[2, 4, 6, 8]